# This LIS2DW file is dedicated to be used with LIS2DW boards
# connected over the software SPI bus of the MCU boards

# This include toolhead boards such as Mellow SHTv3 boards
# If using a toolhead board, be sure to have the pin override in your mcu.cfg (toolhead:LIS2DW_CS)

[lis2dw]
cs_pin: LIS2DW_CS
spi_software_sclk_pin: LIS2DW_SCLK
spi_software_mosi_pin: LIS2DW_MOSI
spi_software_miso_pin: LIS2DW_MISO
axes_map: x,y,z

[resonance_tester]
accel_chip: lis2dw
probe_points:
    -1,-1,-1


# Include the IS calibration macros to unlock them when
# an accelerometer is installed on the machine
[include ../../../../macros/helpers/resonance_override.cfg]
[include ../../../../scripts/K-ShakeTune/K-SnT_*.cfg]
