
#---------------------------------------------#
#### BTT MMB CAN 1.0 MCU definition ###########
#---------------------------------------------#

[mcu ercf]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id
##--------------------------------------------------------------------

# If you want to override the wiring of the BTT MMB CAN, keep in mind that this
# board is defined using the "ercf" name. So you should use "pin: ercf:PIN_NAME"
# in your own overrides.cfg files.

[include config/mcu_definitions/ercf/BTT_MMB_CAN_v1.0.cfg] # Do not remove this line
[board_pins mcu_ercf]
mcu: ercf
aliases:
    GEAR_STEP=MCU_MOTOR1_STEP         , GEAR_DIR=MCU_MOTOR1_DIR         , GEAR_ENABLE=MCU_MOTOR1_EN         , GEAR_TMCUART=MCU_MOTOR1_CS ,
    SELECTOR_STEP=MCU_MOTOR2_STEP , SELECTOR_DIR=MCU_MOTOR2_DIR , SELECTOR_ENABLE=MCU_MOTOR2_EN , SELECTOR_TMCUART=MCU_MOTOR2_CS ,
    SELECTOR_DIAG=MCU_STP2 ,

    GEAR_STOP=MCU_ENDSTOP , SELECTOR_STOP=MCU_ENDSTOP ,

    TOOLHEAD_SENSOR=MCU_STP1 , # double used with MOTOR1_DIAG, so might collide
    ERCF_SERVO=MCU_MOT            ,
    ERCF_ENCODER=MCU_SENSOR        ,
    ERCF_NEOPIXEL=MCU_RGB           ,


