
#---------------------------------------------#
#### Fysetc ERCF ERB MCU definition ###########
#---------------------------------------------#

[mcu ercf]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
##--------------------------------------------------------------------

# If you want to override the wiring of the Fystec ERCF ERB, keep in mind that this
# board is defined using the "ercf" name. So you should use "pin: ercf:PIN_NAME"
# in your own overrides.cfg files.

[include config/mcu_definitions/ercf/Fysetc_ERCF_ERB.cfg] # Do not remove this line
[board_pins mcu_ercf]
mcu: ercf
aliases:
    GEAR_STEP=MCU_GEAR_MOTOR_STEP         , GEAR_DIR=MCU_GEAR_MOTOR_DIR         , GEAR_ENABLE=MCU_GEAR_MOTOR_EN         , GEAR_TMCUART=MCU_GEAR_MOTOR_UART         ,
    SELECTOR_STEP=MCU_SELECTOR_MOTOR_STEP , SELECTOR_DIR=MCU_SELECTOR_MOTOR_DIR , SELECTOR_ENABLE=MCU_SELECTOR_MOTOR_EN , SELECTOR_TMCUART=MCU_SELECTOR_MOTOR_UART ,
    SELECTOR_DIAG=MCU_SELECTOR_MOTOR_DIAG ,

    GEAR_STOP=MCU_ENDSTOP , SELECTOR_STOP=MCU_ENDSTOP ,

    TOOLHEAD_SENSOR=MCU_HALL_SENSOR ,
    ERCF_SERVO=MCU_SERVO            ,
    ERCF_ENCODER=MCU_ENCODER        ,
    ERCF_NEOPIXEL=MCU_RGB           ,

    EXTRA_PINS1=MCU_UART0_TX  , EXTRA_PINS2=MCU_UART0_RX  ,
    EXTRA_PINS3=MCU_SPI0_SCK  , EXTRA_PINS4=MCU_SPI0_MISO ,
    EXTRA_PINS5=MCU_SPI0_MOSI , EXTRA_PINS6=MCU_SPI0_CS   ,
    EXTRA_PINS7=MCU_I2C1_SDA  , EXTRA_PINS8=MCU_I2C1_SCL  ,
    EXTRA_PINS9=MCU_ADC0      , EXTRA_PINS10=MCU_ADC1     ,
    EXTRA_PINS11=MCU_ADC2     , EXTRA_PINS12=MCU_ADC3     ,
    EXTRA_PINS13=<GND>        , EXTRA_PINS14=<5V>         ,

