[extruder]
# Galileo Gear Ratio
# new_rd = previous_rd * mesured_distance / requested_distance
rotation_distance: 22.6789511
gear_ratio: 7.5:1
microsteps: 64
full_steps_per_rotation: 200
max_extrude_only_distance: 110

[tmc2209 extruder]
run_current: 0.45