# Official documentation https://wiki.fysetc.com/docs/H36-Combo-V2
[board_pins toolhead_manufacturer]
mcu: toolhead
aliases:
    MCU_TMCDRIVER_STEP=PB9 , MCU_TMCDRIVER_DIR=PC15 , MCU_TMCDRIVER_ENABLE=PC14 , MCU_TMCDRIVER_UART=PB6 ,
    MCU_TMCDRIVER_DIAG=PA13 ,

    MCU_IO0=PB3 , MCU_IO1=PB4 , MCU_PROBE=PB5 ,
    MCU_RGB0=PA10 , MCU_RGB1=PA9 ,

    MCU_HE0=PB13 ,
    MCU_TE0=PA3 ,

    MCU_FAN0_PWM=PB12 , MCU_FAN0_TACH=PB14 ,
    MCU_FAN1_PWM=PB2 , MCU_FAN1_TACH=PB1 ,
    MCU_FAN2_PWM=PB0 ,
    MCU_FAN3_PWM=PB15 , MCU_FAN3_TACH=PA8 ,

    MCU_STATUS=PC13 ,

    MCU_ADXL345_CSPIN=PA4 , MCU_ADXL345_CLK=PA5 , MCU_ADXL345_MISO=PA6 , MCU_ADXL345_MOSI=PA7 ,

    MCU_CAN_USB_SWITCH=PA2 ,
    MCU_TMC_THERMISTOR=PA0 ,

    MCU_EXTRA_PA1=PA1 , MCU_EXTRA_PB7=PB7 , MCU_EXTRA_PB10=PB10 , MCU_EXTRA_PB11=PB11 ,
    MCU_EXTRA_PA14=PA14 , MCU_EXTRA_PA15=PA15 ,
