# Official documentation https://wiki.fysetc.com/docs/SBComboV2
[board_pins toolhead_manufacturer]
mcu: toolhead
aliases:
    MCU_TMCDRIVER_STEP=PB3 , MCU_TMCDRIVER_DIR=PA8 , MCU_TMCDRIVER_ENABLE=PA15 , MCU_TMCDRIVER_UART=PA10 ,
    MCU_TMCDRIVER_TX=PA9 , MCU_TMCDRIVER_DIAG=PB4 ,

    MCU_IO0=PA2 , MCU_IO1=PA3 , MCU_PROBE=PA0 ,

    MCU_HE0=PC15 ,
    MCU_TE0=PA6 ,

    MCU_FAN0_PWM=PB6 , MCU_FAN1_PWM=PB5 , MCU_FAN2_PWM=PA4 ,

    MCU_RGB=PB11 , MCU_STATUS=PC13 ,

    MCU_ADXL345_CSPIN=PB12 , MCU_ADXL345_CLK=PB13 , MCU_ADXL345_MISO=PB14 , MCU_ADXL345_MOSI=PB15 ,

    MCU_5V_MONITOR=PA1 , MCU_24V_MONITOR=PA5 , MCU_TMC_THERMISTOR=PB1 ,

    MCU_AUX_IO6=PA7 , MCU_AUX_FAN0=PB0 , MCU_AUX_IO5=PB10 , MCU_AUX_FAN1=PB7 , MCU_AUX_RGB=PC14 ,
