# Board pins configuration for the LDO Motors Picobilical Frame PCB vA1.3
# This is the board that ships with the LDO V0.2-S1 and V0.1-S1 kits
# to use pair with an umbilical and toolhead PCB (which is a pass-through)

[board_pins toolhead_manufacturer]
mcu: toolhead
aliases:
    MCU_XES=gpio0 ,

    MCU_HE0=gpio4 ,

    MCU_TH0=gpio29 ,
    MCU_CT=gpio28 ,

    MCU_PCF=gpio2 , MCU_HEF=gpio3 ,

    MCU_BEEPER=gpio5 ,

    MCU_NEOPIXEL_1=gpio1 , MCU_NEOPIXEL_2=gpio7 ,

    MCU_FS=gpio6 , MCU_SU=gpio18 ,