# Official documentation https://github.com/RobertLorincz/Orbiter-Toolboards/tree/main/Orbiter%20O2S%20Toolboard
[board_pins toolhead_manufacturer]
mcu: toolhead
aliases:
    MCU_EXT_STEP=PB3 , MCU_EXT_DIR=PB4 , MCU_EXT_EN=PC14 , MCU_EXT_UART=PC13 ,

    MCU_X_STOP=PA2 ,

    MCU_HEAT=PB9 , MCU_TEMP=PA1 , MCU_HOTEND_POWER=PA0 ,

    MCU_PART_FAN_POWER=PA10 , MCU_PART_FAN_PWM=PB0 ,
    MCU_PART_FAN_EN=PB14 , MCU_PART_FAN_TACH=PA14 ,
    MCU_HOTEND_FAN=PB15 , MCU_HOTEND_FAN_TACH=PB12 ,

    MCU_RGB=PC15 ,
    MCU_RUN_LED=PB13 ,

    MCU_FILAMENT_SENSOR=PA8 ,
    MCU_UNLOAD_BUTTON=PA9 ,

    MCU_I2C_SDA=PB7 , MCU_I2C_SCL=PB6 ,

    MCU_ADXL_CS=PA4 ,
