# Official documentation https://github.com/RobertLorincz/Orbiter-Toolboards/tree/main/Orbiter%20O2%20Toolboard
[board_pins toolhead_manufacturer]
mcu: toolhead
aliases:
    MCU_EXT_STEP=PB7 , MCU_EXT_DIR=PB6 , MCU_EXT_EN=PB4 , MCU_EXT_UART=PB5 ,

    MCU_X_STOP=PB0 ,
    MCU_PROBE=PA15 ,
    MCU_SERVO=PB3 ,

    MCU_HEAT=PA0 , MCU_TEMP=PA3 , MCU_HOTEND_POWER=PA2 ,

    MCU_PART_FAN=PA10 ,
    MCU_HOTEND_FAN=PA9 , MCU_HOTEND_FAN_TACH=PA8 ,
    MCU_TOOL_FAN=PB1 ,

    MCU_RGB=PA1 ,
    MCU_RUN_LED=PB8 ,

    MCU_LIS2DW_CS=PA4 ,
