# # ===================================================================================== # #
# # ===================================================================================== # #


# A set of macros to remind you when to refresh your carbon filter
# Base on MapleLeafMakers KlipperMacros found at https://github.com/MapleLeafMakers/KlipperMacros/
#
# Usage:
#
# NOTE: `[save_variables]` must be present in your configuration in order for this to work. for example:
#
# check the Configuration section below, and update the variables if necessary.  The default
# configuration is set up to work with:
#                               Nevermore set as `fan_generic` called `filter`.
#                               Exhaust filter set as `fan_generic` called `exhaust_filter`
#  if yours is set up differently, please update the `variable_fan` values.
#
# For the first run it'll maybe be necessary to run `RESET_AIR_FILTER FILTER=nevermore` and/or `RESET_AIR_FILTER FILTER=exhaust_filter`
#
# After your air filter has run for the configured amount of time, the replacement_gcode will be run 
# every 1 second until `RESET_AIR_FILTER` is executed. by default this displays a message on the LCD.
# You may query the current time on the filter by running `QUERY_AIR_FILTER`

[gcode_macro UPDATE_VARIABLE]
description: save variable on change
#update with variables you need to save
gcode:
    {% set variable = params.VARIABLE|string %}
    {% set value = params.VALUE %}
    {% set saved_variable = printer.save_variables.variables[variable]|default("")|string %}

    {% if not printer.save_variables.variables[variable] is defined or saved_variable != value.replace('"',"") %}
        SAVE_VARIABLE {rawparams}
    {% endif %}


[gcode_macro _AIR_FILTER_VARIABLES]
variable_replacement_gcode: '_ALERT_FILTER'     # gcode to run when the media needs to be replaced (will be repeated every second until reset)
variable_interval : 10                          # interval between to log (default 30s)
variable_nevermore_time: -1
variable_exhaust_time: -1
gcode:


[gcode_macro RESET_AIR_FILTER]
description: Resets the air-filter replacement timer
gcode:
    {% set timer_nevermore_enabled = printer["gcode_macro _USER_VARIABLES"].timer_nevermore_enabled %}
    {% set timer_exhaust_enabled = printer["gcode_macro _USER_VARIABLES"].timer_exhaust_enabled %}
    {% set FILTER = params.FILTER|string %}

    {% if timer_nevermore_enabled != 1 and timer_exhaust_enabled != 1 %}
        RESPOND TYPE=error MSG="you didn't define any filter fan timer (check yours variables in variables.cfg)"
    {% elif timer_nevermore_enabled and timer_exhaust_enabled != 1 %}
        SET_GCODE_VARIABLE MACRO=_AIR_FILTER_VARIABLES VARIABLE=nevermore_time VALUE=0
        SAVE_VARIABLE VARIABLE=nevermore_filter_time VALUE=0
        { action_respond_info("Nevermore filter timer has been reset.") }
    {% elif timer_nevermore_enabled and FILTER == "nevermore" %}
        SET_GCODE_VARIABLE MACRO=_AIR_FILTER_VARIABLES VARIABLE=nevermore_time VALUE=0
        SAVE_VARIABLE VARIABLE=nevermore_filter_time VALUE=0
        { action_respond_info("Nevermore filter timer has been reset.") }
    {% elif timer_exhaust_enabled and timer_nevermore_enabled  != 1 %}
        SET_GCODE_VARIABLE MACRO=_AIR_FILTER_VARIABLES VARIABLE=exhaust_time VALUE=0
        SAVE_VARIABLE VARIABLE=exhaust_filter_time VALUE=0
        { action_respond_info("Exhaust filter timer has been reset.") }
    {% elif timer_exhaust_enabled and FILTER == "exhaust_filter" %}
        SET_GCODE_VARIABLE MACRO=_AIR_FILTER_VARIABLES VARIABLE=exhaust_time VALUE=0
        SAVE_VARIABLE VARIABLE=exhaust_filter_time VALUE=0
        { action_respond_info("Exhaust filter timer has been reset.") }
    {% else %}
        RESPOND TYPE=error MSG="you must chose nevermore or exhaust_filter as FILTER parameter"
        { action_respond_info("for Nevermore: RESET_AIR_FILTER FILTER=nevermore") }
        { action_respond_info("for Exhaust Filter: RESET_AIR_FILTER FILTER=exhaust_filter") }
    {% endif %}

[gcode_macro QUERY_AIR_FILTER]
description: Displays the amount of time the air filter has run since it was last reset.
gcode:
    {% set timer_nevermore_enabled = printer["gcode_macro _USER_VARIABLES"].timer_nevermore_enabled %}
    {% set timer_exhaust_enabled = printer["gcode_macro _USER_VARIABLES"].timer_exhaust_enabled %}

    {% if timer_nevermore_enabled != 1 and timer_exhaust_enabled != 1 %}
        RESPOND TYPE=error MSG="you didn't define any filter fan timer (check yours variables in variables.cfg)"
    {% endif %}
    {% if timer_nevermore_enabled %}
        {% set hours = "%.2f"|format(printer.save_variables.variables.nevermore_filter_time|int / 3600) %}
        { action_respond_info("Nevermore Air Filter Hours: " + hours) }
    {% endif %}
    {% if timer_exhaust_enabled %}
        {% set hours = "%.2f"|format(printer.save_variables.variables.exhaust_filter_time|int / 3600) %}
        { action_respond_info("Exhaust Filter Hours: " + hours) }
    {% endif %}

[gcode_macro _ALERT_FILTER]
gcode:
    # SONG_ALERT_FILTER
    RESPOND MSG="Replace Active carbon filter"

[delayed_gcode _AIR_FILTER_TIMER]
initial_duration: 1
gcode:
    {% set nevermore_filter_enabled = printer["gcode_macro _USER_VARIABLES"].filter_enabled %}
    {% set timer_nevermore_enabled = printer["gcode_macro _USER_VARIABLES"].timer_nevermore_enabled %}

    {% if nevermore_filter_enabled and timer_nevermore_enabled %}
        {% set _filter = printer['gcode_macro _AIR_FILTER_VARIABLES'] %}
        {% set cached_nevermore_time = printer['gcode_macro _AIR_FILTER_VARIABLES'].nevermore_time|int %}
        {% if cached_nevermore_time == -1 %}
            {% set cached_nevermore_time = [printer.save_variables.variables.nevermore_filter_time,0]|max|default(0) %}
            SET_GCODE_VARIABLE MACRO=_AIR_FILTER_VARIABLES VARIABLE=nevermore_time VALUE={ cached_nevermore_time }
            UPDATE_DELAYED_GCODE ID=_AIR_FILTER_FLUSH_TIMER DURATION=1
        {% endif %}

        {% if printer[printer['gcode_macro _USER_VARIABLES'].nevermore].speed|float > 0 %}
            SET_GCODE_VARIABLE MACRO=_AIR_FILTER_VARIABLES VARIABLE=nevermore_time VALUE={ cached_nevermore_time + _filter.interval}
        {% endif %}
        {% set replacement_seconds = printer['gcode_macro _USER_VARIABLES'].hours_until_replacement_nevermore|float * 3600 %}
        {% if cached_nevermore_time > replacement_seconds %}
            _ALERT_FILTER
        {% endif %}
        UPDATE_DELAYED_GCODE ID=_AIR_FILTER_TIMER DURATION={ _filter.interval }

    { else }
        UPDATE_DELAYED_GCODE ID=_AIR_FILTER_TIMER DURATION=0
    {% endif %}

[delayed_gcode _EXHAUST_FILTER_TIMER]
initial_duration: 1
gcode:
    {% set exhaust_filter_enabled = printer["gcode_macro _USER_VARIABLES"].exhaust_filter_enabled %}
    {% set timer_exhaust_enabled = printer["gcode_macro _USER_VARIABLES"].timer_exhaust_enabled %}

    {% if exhaust_filter_enabled and timer_exhaust_enabled %}
        {% set _filter = printer['gcode_macro _AIR_FILTER_VARIABLES'] %}
        {% set cached_exhaust_time = printer['gcode_macro _AIR_FILTER_VARIABLES'].exhaust_time|int %}
        {% if cached_exhaust_time == -1 %}
            {% set cached_exhaust_time = [printer.save_variables.variables.exhaust_filter_time,0]|max|default(0) %}
            SET_GCODE_VARIABLE MACRO=_AIR_FILTER_VARIABLES VARIABLE=exhaust_time VALUE={ cached_exhaust_time }
            UPDATE_DELAYED_GCODE ID=_EXHAUST_FILTER_FLUSH_TIMER DURATION=1
        {% endif %}

        {% if printer[printer['gcode_macro _USER_VARIABLES'].exhaust_filter].speed|float > 0 %}
            SET_GCODE_VARIABLE MACRO=_AIR_FILTER_VARIABLES VARIABLE=exhaust_time VALUE={ cached_exhaust_time + _filter.interval}
        {% endif %}
        {% set replacement_seconds = printer['gcode_macro _USER_VARIABLES'].hours_until_replacement_exhaust|float * 3600 %}
        {% if cached_exhaust_time > replacement_seconds %}
            _ALERT_FILTER
        {% endif %}
        UPDATE_DELAYED_GCODE ID=_EXHAUST_FILTER_TIMER DURATION={ _filter.interval }
    { else }
        UPDATE_DELAYED_GCODE ID=_EXHAUST_FILTER_TIMER DURATION=0
    {% endif %}

[delayed_gcode _AIR_FILTER_FLUSH_TIMER]
gcode:
    {% set nevermore_filter_enabled = printer["gcode_macro _USER_VARIABLES"].filter_enabled %}
    {% set timer_nevermore_enabled = printer["gcode_macro _USER_VARIABLES"].timer_nevermore_enabled %}

    {% if filter_enabled and timer_nevermore_enabled %}
        {% set actual_nevermore_time = printer['gcode_macro _AIR_FILTER_VARIABLES'].nevermore_time|float %}
        UPDATE_VARIABLE VARIABLE=nevermore_filter_time VALUE={actual_nevermore_time}
        UPDATE_DELAYED_GCODE ID=_AIR_FILTER_FLUSH_TIMER DURATION=300
    {% endif %}

[delayed_gcode _EXHAUST_FILTER_FLUSH_TIMER]
gcode:
    {% set exhaust_filter_enabled = printer["gcode_macro _USER_VARIABLES"].exhaust_filter_enabled %}
    {% set timer_exhaust_enabled = printer["gcode_macro _USER_VARIABLES"].timer_exhaust_enabled %}

    {% if exhaust_filter_enabled and timer_exhaust_enabled %}
        {% set actual_exhaust_time = printer['gcode_macro _AIR_FILTER_VARIABLES'].exhaust_time|float %}
        UPDATE_VARIABLE VARIABLE=exhaust_filter_time VALUE={actual_exhaust_time}
        UPDATE_DELAYED_GCODE ID=_EXHAUST_FILTER_FLUSH_TIMER DURATION=300
    {% endif %}
