[gcode_macro M701]
gcode:
    LOAD_FILAMENT

[gcode_macro M702]
gcode:
    UNLOAD_FILAMENT

[gcode_macro M600]
gcode:
    CHANGE_FILAMENT

[gcode_macro M125]
gcode:
    PARK

# [gcode_macro M204]
# rename_existing: M204.1
# gcode:
#     {% set F = params.F|default(0.75)|float %}

#     {% if 'S' in params %}
#         SET_VELOCITY_LIMIT ACCEL={S} ACCEL_TO_DECEL={S|float * F|float}
#     {% endif %}

# [gcode_macro M205]
# gcode:
#     {% if 'X' in params %}
#         SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={X}
#     {% endif %}
