## Enraged Rabbit Carrot Feeder config file
## Designed to be used with Ercf Software V3 "Happy Hare" (HH) by moggieuk: https://github.com/moggieuk/ERCF-Software-V3

[gcode_macro _USER_VARIABLES]
variable_klippain_ercf_enabled: True
gcode:

[extruder]
max_extrude_only_distance: 200
max_extrude_cross_section: 50.0

# Custom macro to raise an error during the START_PRINT and stop it in case of an ERCF error
[gcode_macro _ERCF_ERROR_CHECK]
gcode:
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}
    {% set INITIAL_TOOL = printer["gcode_macro START_PRINT"].initial_tool %}

    {% if printer.ercf.enabled %}
        {% if printer.ercf.tool|int != INITIAL_TOOL or printer.ercf.filament != "Loaded" %}
            {action_raise_error("ERCF error while loading filament! Please check and restart the print")}
        {% else %}
            {% if verbose %}
                RESPOND MSG="T{INITIAL_TOOL} ready"
            {% endif %}
        {% endif %}
    {% endif %}
