## Enraged Rabbit : Carrot Feeder V1.1 hardware config file
## Software used Ercf Software V3 "Happy Hare" (HH) by moggieuk
[gcode_macro _USER_VARIABLES]
variable_ercf_enabled: True
gcode:

# Include all files which are created by the install script of Happy Hare
[include ../../ercf_hardware.cfg]
[include ../../ercf_software.cfg]
[include ../../ercf_parameters.cfg]
