## Enraged Rabbit : Carrot Feeder V1.1 hardware config file
##
## EASY-BRD Setup Notes:
## J6 Jumper setting:
## Option 1: Pins 2-3 and 4-5, i.e.  .[..][..]
##   This is for sensorless selector setup. Note that this enables the option disables the "extra"
##   switch so the toolhead sensor (if used) would have to be connected to the main mcu
## Option 2: Pins 1-2 and 4-5, i.e.  [..].[..]
##   It you are NOT using sensorless selector. The "extra" switch is enabled for other uses
##
## Fysetc Burrows ERB Setup Notes:
## No jumper configuration is required on this board
## Firmware install:
##   > make menuconfig (rpi2040, No bootloader)
##   > make
## Put card in boot loader mode:Press & Hold ‘BOOTSEL’ ; click ‘RST’ ; Release ‘BOOTSEL’
##   > make flash FLASH_DEVICE=2e8a:0003
##

[gcode_macro _USER_VARIABLES]
variable_ercf_enabled: True
gcode:

# Include the preconfigured config for Tircown ERCF-EASY-BRD with SAMD21 XIAO
# or Include the preconfigured config for Fysetc Burrows ERB
# Make a choise or include your own configuration in mcus.cfg
[include ../mcus/ercf_easy_brd.cfg]
#[include ../mcus/ercf_ERB.cfg]

# Include the ERCF macros to unlock them when this file is
# included in the printer.cfg config file
[include ../software/ercf_parameters.cfg]
[include ../../macros/miscs/ercf_software.cfg]


# FILAMENT DRIVE GEAR STEPPER  ---------------------------------------------------------------------------------------------
# Adapt accordingly to your setup and desires
# The default values are tested with the BOM NEMA14 motor
# Please adapt these values to the motor you are using
# Example : for NEMA17 motors, you'll usually set the stealthchop_threshold to 0
# and use higher current
[tmc2209 manual_stepper gear_stepper]
uart_pin: ercf:GEAR_TMCUART
uart_address: 0
interpolate: True
run_current: 0.50				# NEMA14 motor
hold_current: 0.15				# Can be small
sense_resistor: 0.110
stealthchop_threshold: 0        # 999999 to enable stealthChop default 500

[manual_stepper gear_stepper]
step_pin: ercf:GEAR_STEP
dir_pin: ercf:GEAR_DIR
enable_pin: !ercf:GEAR_ENABLE
# rotation_distance: 23.1797969085    # Bondtech 5mm Drive Gears. Must be manually verified and tuned.
gear_ratio: 80:20
microsteps: 8                       # Recommend 8 or 16. Try both to avoid Klipper 'Timer too close' error (also try adjusting num_moves)
full_steps_per_rotation: 200        # 200 for 1.8 degree, 400 for 0.9 degree
velocity: 50
accel: 400
#
# # Uncomment if you want to use sensorless SELECTOR with the ERCF EASY BRD (yes, this is on the gear stepper!)
# # This should be the pin of the physical selector endstop and is used to determine the difference between the true
# # endstop and a blockage preventing selector movement. Don't forget to set 'sensorless_selector: 0' in ercf_parameters.cfg
# endstop_pin: ^ercf:GEAR_STOP			# Comment if using physical endstop switch (default)

# SELECTOR STEPPER  --------------------------------------------------------------------------------------------------------
[tmc2209 manual_stepper selector_stepper]
uart_pin: ercf:GEAR_TMCUART
uart_address: 1
run_current: 0.50                   # NEMA17 motor
hold_current: 0.3                   # Can be small if not using sensorless selector
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0            # 999999 to enable stealthChop
#
# # Uncomment the lines below if you want to use sensorless selector homing
# # (and configure ercf_parameters.cfg correctly)
# # or comment out if using physical endstop switch (default)
# diag_pin: ^ercf:SELECTOR_DIAG     # Set to MCU pin connected to TMC DIAG pin
# driver_SGTHRS: 75                 # 255 is most sensitive value, 0 is least sensitive 90

[manual_stepper selector_stepper]
step_pin: ercf:SELECTOR_STEP
dir_pin: ercf:SELECTOR_DIR
enable_pin: !ercf:SELECTOR_ENABLE
rotation_distance: 40
microsteps: 16                      # Don't need high fidelity
full_steps_per_rotation: 200        # 200 for 1.8 degree, 400 for 0.9 degree
velocity: 200
accel: 600
#
# Select the endstop switch physical (for normal selector) or virtual (sensorless selector homing)
#endstop_pin: tmc2209_selector_stepper:virtual_endstop  # Uncomment for sensorless selector homing
endstop_pin: ^ercf:SELECTOR_STOP                        # Uncomment for physical homing option (default)


# SELECTOR SERVO -----------------------------------------------------------------------------------------------------------
[ercf_servo ercf_servo]
pin: ercf:ERCF_SERVO
maximum_servo_angle: 180
minimum_pulse_width: 0.00085
maximum_pulse_width: 0.00215


## ENCODER -----------------------------------------------------------------------------------------------------------------
## The encoder_resolution is determined by running the ERCF_CALIBRATE_ENCODER. Be sure to read the manual
[ercf_encoder ercf_encoder]
encoder_pin: ^ercf:ERCF_ENCODER         # EASY-BRD: ^ercf:PA6, Flytech ERB: ^ercf:gpio22
# encoder_resolution: 1.339226            # Set AFTER 'rotation_distance' is tuned for gear stepper (see manual)
extruder: extruder                      # The extruder to track with for runout/clog detection

# These are advanced but settings for Automatic clog detection mode. Make sure you understand or ask questions on Discord
desired_headroom: 5.0           # The runout headroom that ERCF will attempt to maintain (closest ERCF comes to triggering runout)
average_samples: 4              # The "damping" effect of last measurement. Higher value means clog_length will be reduced more slowly

## TOOLHEAD SENSOR ---------------------------------------------------------------------------------------------------------
# Uncomment this section to enable toolhead sensor support
#
## ERCF Toolhead sensor START
[filament_switch_sensor toolhead_sensor]
pause_on_runout: False                      # Must be False
switch_pin: ^toolhead:TOOLHEAD_SENSOR       # I use an HUVUD Can Toolhead Bord adapt to your config...
## ERCF Toolhead sensor END

