[extruder]
step_pin: E_STEP
dir_pin: E_DIR
enable_pin: !E_ENABLE

# Bontech LGX Lite
# new_rd = previous_rd * mesured_distance / requested_distance
rotation_distance: 5.7
microsteps: 64
full_steps_per_rotation: 200

nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 110
heater_pin: E_HEATER
sensor_type: Trianglelab NTC100K B3950
sensor_pin: E_TEMPERATURE
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 172
control = pid
pid_Kp: 23.980
pid_Ki: 1.615
pid_Kd: 89.025
pressure_advance: 0.0475
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 3
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

[thermistor Trianglelab NTC100K B3950]
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6
