[heater_bed]
heater_pin: BED_HEATER
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: BED_TEMPERATURE
# max_power: 0.6
min_temp: 0
max_temp: 120
control: pid
pid_kp: 66.759
pid_ki: 2.486
pid_kd: 448.119
