# If the machine is equiped by a heater, a fan and a temperature sensor in the chamber
# it will be used to measure and control the chamber heatsoak
[gcode_macro _USER_VARIABLES]
variable_chamber_temperature_sensor_enabled: True					
variable_chamber_temperature_sensor_name: "chamber_heater"
variable_chamber_temperature_sensor_prefix: "heater_generic" 
variable_chamber_heater_name: "chamber_heater"
gcode:


######################
### Chamber Heater ###
######################

[heater_generic chamber_heater]
heater_pin: CHAMBER_HEATER
sensor_type: Generic 3950
sensor_pin: CHAMBER_TEMPERATURE
control: watermark
max_power: 1
min_temp: 0
max_temp: 45

[verify_heater chamber_heater]
max_error: 50      
check_gain_time: 300
heating_gain: 1

##########################
### Chamber Heater Fan ###
##########################

[heater_fan chamber]
pin: CHAMBER_FAN
max_power: 1.0
heater: chamber_heater
heater_temp: 35.0 # fan will turn off below this level
