## MMU config file
## Designed to be used with the "HappyHare" (HH) software backend by moggieuk: https://github.com/moggieuk/Happy-Hare

[gcode_macro _USER_VARIABLES]
variable_klippain_mmu_enabled: True
gcode:

[extruder]
max_extrude_only_distance: 200
max_extrude_cross_section: 50.0


# Also include directly the MMU macros and config from here
[include ../../macros/hardware_functions/mmu.cfg]
