[gcode_macro _USER_VARIABLES]
variable_dockable_probe_enabled: True
gcode:

# Dockable probe definition also include the overide directly from here
[include ../../macros/base/probing/overides/probe_base.cfg]

[probe]
pin: ^PROBE_INPUT
x_offset: 0
y_offset: 19.75
z_offset: 6.42
speed: 8
lift_speed: 15
samples: 2
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.007
samples_tolerance_retries: 3

[stepper_z]
position_endstop: 0
