# Dockable probe definition also include the overide directly from here
[include ../../macros/base/probing/overides/probe_base.cfg]

[probe]
x_offset: 0
y_offset: 0
#z_offset: 0 # See in printer.cfg
speed: 5
lift_speed: 10
samples: 3
samples_result: median
sample_retract_dist: 1.0
samples_tolerance: 0.005
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M106 S255 ; 100% the part cooling fan to help the extruder cooling
        M109 S{ PROBE_TEMP }
        M106 S0   ; Stop the part cooling fan
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            M106 S255 ; 100% the part cooling fan to help the extruder cooling
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
            M106 S0   ; Stop the part cooling fan
        {% endif %}
    {% endif %}

[stepper_z]
endstop_pin: probe:z_virtual_endstop
