#############################################################################
# Dockable probe macros highly inspired from https://github.com/jlas1/Klicky-Probe
# Reworked by Elpopo and myself to simplify it while trying to stay generic
#############################################################################

[gcode_macro _PROBE_VARIABLES]
variable_probe_attached: False
variable_probe_state: False
variable_probe_lock: False
gcode:

[gcode_macro _EXIT_POINT]
gcode:
    {% set function  = 'pre_' ~ params.FUNCTION %}
    {% set move  = params.MOVE|default(0) %}
    {% set speed  = params.MOVE_SPEED|default(0) %}
    RESTORE_GCODE_STATE NAME={function} MOVE={move} MOVE_SPEED={speed}

[gcode_macro _ENTRY_POINT]
gcode:
    {% set function  = 'pre_' ~ params.FUNCTION %}
    SAVE_GCODE_STATE NAME={function}
    # all the macros initially assume absolute positioning
    G90

[gcode_macro _HOMING_VARIABLES]
gcode:
    {% set Reset  = params.RESET|default(0)  %}
    {% if Reset %}
        SET_GCODE_VARIABLE MACRO=_PROBE_VARIABLES VARIABLE=probe_lock VALUE={ False }
    {% endif %}


[gcode_macro _ATTACH_PROBE_LOCK]
description: Attaches probe, can only be docked after unlocking
gcode:
    _ATTACH_PROBE
    SET_GCODE_VARIABLE MACRO=_PROBE_VARIABLES VARIABLE=probe_lock VALUE={ True }

[gcode_macro _DOCK_PROBE_UNLOCK]
description: Docks probe even if it was locked
gcode:
    SET_GCODE_VARIABLE MACRO=_PROBE_VARIABLES VARIABLE=probe_lock VALUE={ False }
    _DOCK_PROBE

[gcode_macro _PROBE_UNLOCK]
description: Unlocks probe state
gcode:
    SET_GCODE_VARIABLE MACRO=_PROBE_VARIABLES VARIABLE=probe_lock VALUE={ False }

[gcode_macro _PROBE_LOCK]
description: Locks probe state
gcode:
    SET_GCODE_VARIABLE MACRO=_PROBE_VARIABLES VARIABLE=probe_lock VALUE={ True }

[gcode_macro _PROBE_MOVE_TO]
description: positioning toolhead for dock/attach operation
gcode: 
    {% set location = params.LOCATION|default('')|string %}
    {% set distance = params.DISTANCE|default(0)|float %}
    {% set speed = params.SPEED|default(0)|float %}

    {% set probe_dock_location_x, probe_dock_location_y = printer["gcode_macro _USER_VARIABLES"].probe_dock_location_xy|map('float') %}

    # define dict for location direction
    {% set location_factor = {
        'left'  : { 'x': -1, 'y':  0 },
        'right' : { 'x':  1, 'y':  0 },
        'front' : { 'x':  0, 'y': -1 },
        'back'  : { 'x':  0, 'y':  1 },
        'dock'  : { 'x':  0, 'y':  0 }
    } %}

    {% if location in location_factor %}
        G1 X{probe_dock_location_x + location_factor[location].x * distance} Y{probe_dock_location_y + location_factor[location].y * distance} F{speed}
    {% else %}
        { action_raise_error("Error in probe attach/dock movement. Check the directions in your variables.cfg file!") }
    {% endif %}


[gcode_macro _ATTACH_PROBE]
description: Attaches probe
gcode:
    # Get probe attach status
    {% set probe_attached = printer["gcode_macro _PROBE_VARIABLES"].probe_attached %}
    {% set probe_lock = printer["gcode_macro _PROBE_VARIABLES"].probe_lock %}
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}

    # Get Docking location
    {% set probe_dock_location_x, probe_dock_location_y = printer["gcode_macro _USER_VARIABLES"].probe_dock_location_xy|map('float') %}

    {% set probe_before_attach_position = printer["gcode_macro _USER_VARIABLES"].probe_before_attach_position|string %}
    {% set probe_after_attach_position = printer["gcode_macro _USER_VARIABLES"].probe_after_attach_position|string %}
    {% set probe_move_attach_length = printer["gcode_macro _USER_VARIABLES"].probe_move_attach_length %}

    # Safe Z for travel
    {% set probe_min_z_travel = printer["gcode_macro _USER_VARIABLES"].probe_min_z_travel|float %}

    # Set speed
    {% set probe_dock_speed = printer["gcode_macro _USER_VARIABLES"].probe_dock_speed * 60 %}
    {% set probe_dock_accel = printer["gcode_macro _USER_VARIABLES"].probe_dock_accel %}
    {% set travel_speed = printer["gcode_macro _USER_VARIABLES"].travel_speed * 60 %}
    {% set z_drop_speed = printer["gcode_macro _USER_VARIABLES"].z_drop_speed * 60 %}

    {% set probe_servo_enabled = printer["gcode_macro _USER_VARIABLES"].probe_servo_enabled %}
    {% set probe_type_enabled = printer["gcode_macro _USER_VARIABLES"].probe_type_enabled|string %}


    _ENTRY_POINT FUNCTION=ATTACH_PROBE

    # If x, y and z are not homed when using dockable probe
    {% if probe_type_enabled == "dockable" and not 'xyz' in printer.toolhead.homed_axes %}
        { action_raise_error("Must home all axis first to attach the probe!") }
    
    # Else if x and y are not homed when using dockable virtual probe
    {% elif probe_type_enabled == "dockable_virtual" and not 'xy' in printer.toolhead.homed_axes %}
        { action_raise_error("Must home XY axes first to attach the probe!") }

    # If probe not attached and locked
    {% elif not probe_attached and not probe_lock %}
        {% if verbose %}
            { action_respond_info("Attaching Probe") }
        {% endif %}

        {% if probe_type_enabled == "dockable_virtual" and not 'z' in printer.toolhead.homed_axes %}
            {% if verbose %}
                { action_respond_info("Attaching the probe can only be done during G28 if Z is not already homed") }
            {% endif %}
        {% endif %}

        # Move to safe Z
        {% if (printer.toolhead.position.z < probe_min_z_travel) %}
            {% if verbose %}
                { action_respond_info("Moving to a safe Z distance") }
            {% endif %}
            G0 Z{probe_min_z_travel} F{z_drop_speed}
        {% endif %}

        # Set the dock/undock acceleration prior to any movement
        {% set saved_accel = printer.toolhead.max_accel %}
        M204 S{probe_dock_accel}

        # Probe entry location
        _PROBE_MOVE_TO LOCATION={probe_before_attach_position} DISTANCE={probe_move_attach_length} SPEED={travel_speed}

        # Deploy dock using the servo (if available)
        {% if probe_servo_enabled %}
            _SERVO_DEPLOY ITEM="probe"
        {% endif %}

        # Pickup from Probe location
        _PROBE_MOVE_TO LOCATION='dock' SPEED={probe_dock_speed}
        
        # Get the probe out of the dock
        _PROBE_MOVE_TO LOCATION={probe_after_attach_position} DISTANCE={probe_move_attach_length} SPEED={probe_dock_speed}

        # Retract dock using the servo (if available)
        {% if probe_servo_enabled %}
            _SERVO_RETRACT ITEM="probe"
        {% endif %}

        # Reset acceleration values to what it was before
        SET_VELOCITY_LIMIT ACCEL={saved_accel}

        _CHECK_PROBE action=attach

    {% elif probe_lock %}
        {% if verbose %}
            { action_respond_info("Probe locked!") }
        {% endif %}

        # Probe attached, do nothing
        _CHECK_PROBE action=query

    {% else %}
        {% if verbose %}
            { action_respond_info("Probe already attached!") }
        {% endif %}

        # Probe attached, do nothing
        _CHECK_PROBE action=query

    {% endif %}
    _EXIT_POINT FUNCTION=ATTACH_PROBE


[gcode_macro _DOCK_PROBE]
description: Docks probe
gcode:
    # Get probe attach status
    {% set probe_attached = printer["gcode_macro _PROBE_VARIABLES"].probe_attached %}
    {% set probe_lock = printer["gcode_macro _PROBE_VARIABLES"].probe_lock %}
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}

    # Get Docking location
    {% set probe_dock_location_x, probe_dock_location_y = printer["gcode_macro _USER_VARIABLES"].probe_dock_location_xy|map('float') %}
    
    {% set probe_before_dock_position = printer["gcode_macro _USER_VARIABLES"].probe_before_dock_position|string %}
    {% set probe_after_dock_position = printer["gcode_macro _USER_VARIABLES"].probe_after_dock_position|string %}
    {% set probe_move_dock_length = printer["gcode_macro _USER_VARIABLES"].probe_move_dock_length %}

    # Safe Z for travel
    {% set probe_min_z_travel = printer["gcode_macro _USER_VARIABLES"].probe_min_z_travel|float %}

    # Set speed
    {% set probe_dock_speed = printer["gcode_macro _USER_VARIABLES"].probe_dock_speed * 60 %}
    {% set probe_dock_accel = printer["gcode_macro _USER_VARIABLES"].probe_dock_accel %}
    {% set travel_speed = printer["gcode_macro _USER_VARIABLES"].travel_speed * 60 %}
    {% set z_drop_speed = printer["gcode_macro _USER_VARIABLES"].z_drop_speed * 60 %}

    {% set probe_servo_enabled = printer["gcode_macro _USER_VARIABLES"].probe_servo_enabled %}

    # Probe stow height
    {% set probe_stow_z_height = printer["gcode_macro _USER_VARIABLES"].probe_stow_z_height|default(None) %}


    _ENTRY_POINT FUNCTION=DOCK_PROBE

    # If x, y and z are not homed when using dockable probe
    {% if probe_type_enabled == "dockable" and not 'xyz' in printer.toolhead.homed_axes %}
        { action_raise_error("Must home all axis first to dock the probe!") }
    
    # Else if x and y are not homed when using dockable virtual probe
    {% elif probe_type_enabled == "dockable_virtual" and not 'xy' in printer.toolhead.homed_axes %}
        { action_raise_error("Must home XY axes first to dock the probe!") }

    # If probe not attached and not locked
    {% elif probe_attached and not probe_lock %}
        {% if verbose %}
            { action_respond_info("Docking Probe") }
        {% endif %}

        {% if probe_type_enabled == "dockable_virtual" and not 'z' in printer.toolhead.homed_axes %}
            {% if verbose %}
                { action_respond_info("Docking the probe can only be done during G28 if Z is not already homed") }
            {% endif %}
        {% endif %}

        # Move to safe Z
        {% if (printer.toolhead.position.z < probe_min_z_travel) %}
            {% if verbose %}
                { action_respond_info("Moving to a safe Z distance") }
            {% endif %}
            G0 Z{probe_min_z_travel} F{z_drop_speed}
        {% endif %}

        # Set the dock/undock acceleration prior to any movement
        {% set saved_accel = printer.toolhead.max_accel %}
        M204 S{probe_dock_accel}

        # Move to probe entry location
        _PROBE_MOVE_TO LOCATION={probe_before_dock_position} DISTANCE={probe_move_dock_length} SPEED={travel_speed}

        # Deploy dock using the servo (if available)
        {% if probe_servo_enabled %}
            _SERVO_DEPLOY ITEM="probe"
        {% endif %}

        # Move probe into dock
        _PROBE_MOVE_TO LOCATION='dock' SPEED={probe_dock_speed}

        # Move probe to stow z height if defined
        {% if probe_stow_z_height is not none %}
            G0 Z{probe_stow_z_height} F{z_drop_speed}
        {% endif %}

        # Get detach probe
        _PROBE_MOVE_TO LOCATION={probe_after_dock_position} DISTANCE={probe_move_dock_length} SPEED={probe_dock_speed}

        # Retract dock using the servo (if available)
        {% if probe_servo_enabled %}
            _SERVO_RETRACT ITEM="probe"
        {% endif %}

        # Reset acceleration values to what it was before
        SET_VELOCITY_LIMIT ACCEL={saved_accel}

        G4 P500
        _CHECK_PROBE action=dock

    {% elif probe_lock %}
        {% if verbose %}
            { action_respond_info("Probe locked!") }
        {% endif %}

        # Probe docked, do nothing
        _CHECK_PROBE action=query

    {% else %}
        {% if verbose %}
            { action_respond_info("Probe already docked!") }
        {% endif %}

        # Probe docked, do nothing
        _CHECK_PROBE action=query

    {% endif %}
    _EXIT_POINT FUNCTION=DOCK_PROBE


# check to see if probe is where it is supposed to be after
# attaching/docking maneuver and set homing error or shutdown
[gcode_macro _CHECK_PROBE]
variable_probe_state: 0
gcode:
    Query_Probe
    _SET_PROBE_STATE action={ params.ACTION }


# due to how templates are evaluated, we have query endstops in one
# macro and call another macro to make decisions based on the result
[gcode_macro _SET_PROBE_STATE]
gcode:
    {% set probe_last_query = printer.probe.last_query %}
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}

    # If triggered (true), probe not attached
    {% if probe_last_query %}
        SET_GCODE_VARIABLE MACRO=_PROBE_VARIABLES VARIABLE=probe_attached VALUE={ False }

    # If not triggered (false), probe attached
    {% else %}
        SET_GCODE_VARIABLE MACRO=_PROBE_VARIABLES VARIABLE=probe_attached VALUE={ True }
    {% endif %}

    {% if params.ACTION == 'query' %}
          SET_GCODE_VARIABLE MACRO=_PROBE_VARIABLES VARIABLE=probe_state VALUE={ probe_last_query }
    {% endif %}

    # if probe fails to attach/detach
    # if not docked
    {% if (not probe_last_query and params.ACTION == 'dock') %}
        { action_raise_error("Probe dock failed!") }
    {% endif %}

    # if not attached
    {% if probe_last_query and params.ACTION == 'attach' %}
        { action_raise_error("Probe attach failed!") }
    {% endif %}
