#########################
### MAIN CONFIG FILES ###
#########################
[include variables.cfg] # Keep this included!
[include config/machine.cfg] # Keep this included!

### MCUs configuration ---------------------------------------------
# [include config/mcus/SKR1.4_x2_V2.4.cfg]
# [include config/mcus/SKRE3v2_ercfEZbrd_TriZero.cfg]
# [include config/mcus/spider_v1.cfg]
# [include config/mcus/spider_v2.cfg]
# [include config/mcus/octopus.cfg]
# [include config/mcus/rpi.cfg]
# [include config/mcus/canboard_SHT36-42.cfg]
# [include config/mcus/canboard_SHT36v2.cfg]
# [include config/mcus/canboard_EBB36_42_v1.1.cfg]
# ------------------------------------------------------------------

[include mcus.cfg] # Put here your mcu's specifications

###########################
### HARDWARE COMPONENTS ###
###########################

### Default XY axis configuration ----------------------------------
[include config/hardware/XY/default_wiring.cfg] # Keep this included! Use your override.cfg file for specifics config
[include config/hardware/XY/default_speed.cfg] # Keep this included! Use your override.cfg file for specifics config
# ------------------------------------------------------------------

### XY axis motors configuration -----------------------------------
# [include config/hardware/XY/0.9d_xy.cfg]
# [include config/hardware/XY/1.8d_xy_V0specific.cfg]
# [include config/hardware/XY/1.8d_xy.cfg]
# ------------------------------------------------------------------

### Default Z axis configuration -----------------------------------
[include config/hardware/Z/default_wiring.cfg] # Keep this included! Use your override.cfg file for specifics config
[include config/hardware/Z/default_speed.cfg] # Keep this included! Use your override.cfg file for specifics config
# ------------------------------------------------------------------

### Z axis motors configuration -----------------------------------
# [include config/hardware/Z/V2.4_1.8d_galileo_z.cfg]
# [include config/hardware/Z/Trident_1.8d_TR8x8_z.cfg]
# [include config/hardware/Z/Trident_1.8d_TR8x4_z.cfg]
# [include config/hardware/Z/TriZero_0.9d_z.cfg]
# [include config/hardware/Z/V2.4_1.8d_base_z.cfg]
# ------------------------------------------------------------------


### Default dimensions configuration ------------------------------------------
# [include config/hardware/default_250mm.cfg] # use your override.cfg file for specifics config
# [include config/hardware/default_300mm.cfg] # use your override.cfg file for specifics config
# [include config/hardware/default_350mm.cfg] # use your override.cfg file for specifics config

### Extruder configuration -----------------------------------------
[include config/hardware/XY/default_wiring.cfg] # Keep this included! Use your override.cfg file for specifics config

# [include config/hardware/extruder/cw1.cfg]
# [include config/hardware/extruder/cw2.cfg]
# [include config/hardware/extruder/galileo.cfg]
# [include config/hardware/extruder/lgx_heavy.cfg]
# [include config/hardware/extruder/lgx_lite.cfg]
# ------------------------------------------------------------------

### Heated bed configuration ---------------------------------------
# [include config/hardware/heated_bed.cfg]
# ------------------------------------------------------------------

### Probe configuration --------------------------------------------
# Choose only one of them
# [include config/hardware/probe.cfg]
# [include config/hardware/tap.cfg]
# ------------------------------------------------------------------

### Fans configuration ---------------------------------------------
# [include config/hardware/fans/hotend_fan.cfg]
# [include config/hardware/fans/part_fan.cfg]
# [include config/hardware/fans/controller_fan.cfg]
# [include config/hardware/fans/rpi_fan.cfg]
# ------------------------------------------------------------------

### Display configuration ------------------------------------------
# [include config/hardware/displays/mini12864.cfg]
# ------------------------------------------------------------------

### Other temperature sensors configuration ------------------------
# [include config/hardware/temperature_sensors/rpi_temp.cfg]
# [include config/hardware/temperature_sensors/cabinet_temp.cfg]
# [include config/hardware/temperature_sensors/chamber_temp.cfg]
# [include config/hardware/temperature_sensors/mcu_temp.cfg]
# ------------------------------------------------------------------

### Lights and leds configuration ----------------------------------
# [include config/hardware/lights/fcob_white.cfg]
# [include config/hardware/lights/neopixel_mini12864.cfg] 
# [include config/hardware/lights/neopixel_caselight.cfg]
# [include config/hardware/lights/status_leds.cfg]
# ------------------------------------------------------------------

### Filaments sensors configuration --------------------------------
# [include config/hardware/filament_sensors/motion_sensor.cfg]
# [include config/hardware/filament_sensors/runout_sensor.cfg] #TODO: create file
# ------------------------------------------------------------------

### Accelerometers sensors configuration ---------------------------
# [include config/hardware/accelerometers/adxl345_ebb.cfg]
# [include config/hardware/accelerometers/adxl345_rpi.cfg]
# [include config/hardware/accelerometers/adxl345_sht.cfg]
# [include config/hardware/accelerometers/adxl345_skr.cfg]
# [include config/hardware/accelerometers/adxl345_usb.cfg]
# ------------------------------------------------------------------

### Additional filters configuration -------------------------------
# [include config/hardware/filters/exhaust_filter.cfg]
# [include config/hardware/filters/nevermore_filter.cfg]
# ------------------------------------------------------------------

### Additional filters configuration -------------------------------
# [include config/hardware/ercf.cfg]
# ------------------------------------------------------------------


###################################
### KLIPPER SOFTWARE COMPONENTS ###
###################################

### Bed mesh ------------------------------------------------------
# [include config/software/bed_mesh.cfg]
# -----------------------------------------------------------------

### Firmware retraction -------------------------------------------
# [include config/software/firmware_rectraction.cfg]
# -----------------------------------------------------------------

### Input shaper --------------------------------------------------
# [include config/software/input_shaper.cfg] # Don't forget to calibrate it!
# -----------------------------------------------------------------

### Auto Z calibration plugin -------------------------------------
# [include config/software/z_calibration.cfg] # You need to install the plugin!
# -----------------------------------------------------------------

### QGL vs Z_TILT configuration -----------------------------------
# [include config/software/tilting/qgl.cfg]
# [include config/software/tilting/z_tilt.cfg]
# -----------------------------------------------------------------

[include overrides.cfg] # Put your customizations here

# If you use tap.cfg upper, uncomment following probe lines.
# This is a klipper limitation: must be here to be able to save a z calibration with TAP
#[probe]
#z_offset: 0
