[manual_stepper gear_stepper]
rotation_distance: 23.1797969085		# Bondtech 5mm Drive Gears. Must be manually verified and tuned.

[ercf_encoder ercf_encoder]
encoder_resolution: 1.339226	        # Set AFTER 'rotation_distance' is tuned for gear stepper (see manual)

[ercf]

# Servo configuration  -----------------------------------------------------------------------------------------------------
servo_up_angle: 30               # Default: MG90S servo: Up=30    ; SAVOX SH0255MG: Up=140
servo_down_angle: 140            # Default: MG90S servo: Down=140 ; SAVOX SH0255MG: Down=30


# Gear stepper load/unload speeds ------------------------------------------------------------------------------------------
# Long moves are faster than the small ones and used for the bulk of the bowden movement
# 100mm/s should be "quiet" with the NEMA14 motor or a NEMA17 pancake, but you can go lower for really low noise
long_moves_speed: 150			# mm/s. Conservative value is 100mm/s, Max around 300mm/s
short_moves_speed: 50			# mm/s. Conservative value is 35mm/s. Max around 100mm/s


# Logging ------------------------------------------------------------------------------------------------------------------
# log_level & logfile_level can be set to one of (0 = essential, 1 = info, 2 = debug, 3 = trace, 4 = developer)
# Generally you can keep console logging to a minimal whilst still sending debug output to the ercf.log file
# Increasing the console log level is only really useful during initial setup to save having to constantly open the log file
log_level: 1
logfile_level: 3			# Can also be set to -1 to disable log file completely
log_statistics: 1 			# 1 to log statistics on every toolchange, 0 to disable (but still recorded)
log_visual: 1				# 1 log visual representation of filament, 2 shortened KlipperScreen friendly, 0 disable
startup_status: 0			# Whether to log tool to gate status on startup, 1 = summary, 2 = full, 0 = disable


# Bowden tube movement -----------------------------------------------------------------------------------------------------
# Base value for the loading length used by the auto-calibration macro. Please use a value SMALLER than the real reverse
# bowden length (40mm or less). This is ONLY used during calibration, and has no impact on normal running after calibration
calibration_bowden_length: 860
#
# If you are getting "timer too close" errors, increase the number of moves used during long loading and unloading moves
num_moves: 1				# Number of moves to make when loading or unloading bowden
#
# If enabled, the driver will "believe" the encoder reading and make correction moves to bring the filament to the desired
# end of bowden position. This is useful is you suspect slippage on high speed loading (but requires accurate encoder)
# If disabled, the gear stepper will be solely responsible for filament positioning in bowden (requires minimal friction)
apply_bowden_correction: 0


# Filament homing, loading and unloading controls -------------------------------------------------------------------------
# If you have a toolhead sensor for filament homing:
toolhead_homing_max: 35			# Maximum distance to advance in order to attempt to home to toolhead sensor (default 20)
toolhead_homing_step: 1.0		# Step size to use when homing to the toolhead sensor (default 1)
#
# Options without toolhead sensor (but still needed for calibration with toolhead sensor)
extruder_homing_max: 50			# Maximum distance to advance in order to attempt to home the extruder
extruder_homing_step: 2.0		# Step size to use when homing to the extruder with collision detection (default 2)
#
# For accurate homing and to avoid grinding, tune the gear stepper current reduction (currently TMC2209 only)
# To ensure no skipping during fast tip-forming moves, tune the extruder current increase (currently TMC2209 only)
extruder_homing_current: 40		# Percentage of gear_stepper current (20%-100%) to use when homing to extruder homing (100 to disable)
extruder_form_tip_current: 100		# Percentage of extruder current (100%-150%) to use when forming tip (100 to disable)
#
# How far (mm) to run gear_stepper and extruder together in sync on load and unload. This will make loading and unloading
# more reliable and will act as a "hair pulling" step on unload.  These settings are optional - use 0 to disable
# Non zero value for 'sync_load_length' will synchronize the whole homing distance if toolhead sensor is installed
sync_load_length: 10			# mm of synchronized extruder loading at entry to extruder
sync_unload_length: 10			# mm of synchronized movement at start of bowden unloading
#
# This is the distance of the final filament load from the homing point to the nozzle
# If homing to toolhead sensor this will be the distance from the toolhead sensor to the nozzle
# If extruder homing it will be the distance from the extruder gears (end of bowden) to the nozzle
#
# This value can be determined by manually inserting filament to your homing point (extruder gears or toolhead sensor)
# and advancing it 1-2mm at a time until it starts to extrude from the nozzle.  Subtract 1-2mm from that distance distance
# to get this value.  If you have large gaps in your purge tower, increase this value.  If you have blobs, reduce this value.
# This value will depend on your extruder, hotend and nozzle setup.
home_position_to_nozzle: 72		# E.g. Revo Voron with CW2 extruder using extruder homing
#home_position_to_nozzle: 62		# E.g. Revo Voron with CW2 extruder using toolhead sensor homing


# Selector gate positions -------------------------------------------------------------------------------------------------
# The position of each gate (tool) on the selector.  See the manual for setting these values
colorselector: 2.3, 23.3, 44.3, 70.4, 91.4, 112.4, 138.5, 159.5, 180.5
#
# Optional position of the filament bypass (special version of separator block). Comment out or set to 0 to disable
#bypass_selector: 122.8	# Set to your measured position

# The default value of whether each gate has filament available. If not specified or commented out all tools are active.
# This must be the same length at the number of gates. 1=available, 0=empty
# Note that this will be overriden by a saved value in ercf_vars.cfg. ERCF_RESET_TTG_MAP will revert to these default values
#gate_status: 1, 1, 1, 0, 1, 1, 1, 0, 1

# The default mapping for tool to gate.  If not specified or commented out the mapping will default to Tx = Gate #x
# This must be the same length at the number of gates.
# Note that this will be overriden by a saved value in ercf_vars.cfg. ERCF_RESET_TTG_MAP will revert to these default values
#tool_to_gate_map: 0, 1, 2, 3, 4, 5, 6, 7, 8


# Options and Features ----------------------------------------------------------------------------------------------------
# Selector operation. If configured for sensorless homing ERCF can detect blocked filament path and try to recover automatically
# Sensorless still requires the physical endstop switch to be configured as the endstop on the (non intuiative) GEAR stepper
sensorless_selector: 0		# 0 = use only a physical endstop, 1 = use advanced sensorless selector homing
enable_clog_detection: 0	# 0 = disable, 1 = static length clog detection, 2 = automatic length clog detection
enable_endless_spool: 0		# 0 = disable endless spool,  1 = enable endless spool (requires clog detection)

# If endless spool is turned on, you should define a list of EndlessSpool groups here, one entry for each gate in your ERCF
# when filament runs out on a gate, it will switch to the next gate with the same group number
# for example, if set to 1, 2, 3, 1, 2, 3, 1, 2, 3 on a 9 cart ERCF, and a runout occurs on gate #0
# the ERCF will switch to using gate #3 and then gate #6 automatically remapping the tool as it goes.
# Note that this will be overriden by a saved value in ercf_vars.cfg if modified with ERCF_ENDLESS_SPOOL_GROUPS command
#endless_spool_groups: 1, 2, 3, 1, 2, 3, 1, 2, 3                                    

# Advanced: ERCF can auto-initialize based on previous persisted state. There are 5 levels with each level bringing in
# additional state information requiring progressively less inital setup. The higher level assume that you don't touch
# ERCF while it is offline and it can come back to life exactly where it left off!  If you do touch it or get confused
# then issue an appropriate reset command (E.g. ERCF_RESET) to get state back to the defaults.
# Enabling `startup_status` is recommended if you use persisted state at level 2 and above
# Levels: 0 = start fresh every time (the former default behavior)
#         1 = restore persisted endless spool groups
#         2 = additionally restore persisted tool-to-gate mapping
#         3 = additionally restore persisted gate status (filament availability)
#         4 = additionally restore persisted tool, gate and filament position!
persistence_level: 2


# Advanced: Configurable, but fairly fixed values ------------------------------------------------------------------------
timeout_pause: 72000		# Time out used by the ERCF_PAUSE
disable_heater: 600		# Delay after which the hotend heater is disabled in the ERCF_PAUSE state
min_temp_extruder: 200		# Used to ensure we can move the extruder and form tips
unload_buffer: 60		# Amount to reduce the fast unload so that accurate encoder unload has room to operate
load_encoder_retries: 2		# Number of times ERCF will attempt to grab the filament on initial load (max 5)
parking_distance: 23.0		# Controls how close to the gate washer the filament is parked (distance from encoder, range=12-30)
ignore_extruder_load_error: 0	# Whether the detection of successful extruder load is considered an error or warning (ignored)
load_bowden_tolerance: 8.0	# When using 'apply_bowden_correction' this is how close the correction moves will attempt to get on load
delay_servo_release: 2.0	# Delay release on servo by (mm) when not using synchronous load
homing_method: 0		# EXPERIMENTAL. Filament homing method if not using toolhead sensor. 0=collision detection, 1=stallguard
z_hop_height: 5			# Height in mm of z_hop move on pause or runout to avoid blob on print
z_hop_speed: 15			# mm/s Speed of z_hop move
sync_load_speed: 10		# mm/s speed of synchronized extruder load moves
sync_unload_speed: 10		# mm/s speed of synchronized extruder unload moves
nozzle_load_speed: 15		# mm/s speed of load move inside extruder from homing position to meltzone
nozzle_unload_speed: 20		# mm/s speed of unload moves inside of extruder (very initial move from meltzone is 50% of this)
servo_duration: 0.2		# Duration of PWM burst sent to servo (automatically turns off)

[gcode_macro _USER_VARIABLES]
# Generic tip forming variable. This should match your slicer configuration ----------------------------------------------
# Extruder constants, effects where the initial retraction ends and the size of cooling movements around this point
variable_cooling_tube_length: 10       # Dragon ST: 15, Dragon HF: 10, Mosquito: 20, Revo: 10, Phaetus Rapido HF: 22
variable_cooling_tube_retraction: 30   # Dragon ST: 35, Dragon HF: 30, Mosquito: 3, Revo: 35, Phaetus Rapido HF: 43

# Controls the cooling movement speed and number of cycles
variable_initial_cooling_speed: 7
variable_final_cooling_speed: 40
variable_cooling_moves: 5

# SkinnyDip settings (no equivalent in PrusaSlicer)
variable_use_skinnydip: 0
variable_skinnydip_distance: 26
variable_dip_insertion_speed: 33
variable_dip_extraction_speed: 70
variable_melt_zone_pause: 0
variable_cooling_zone_pause: 0

# Temp change settings (no equivalent in PrusaSlicer)
variable_toolchange_temp: 0
variable_use_fast_skinnydip: 1

# Speed of initial 15mm of retract then speed for rest of retract
variable_unloading_speed_start: 100
variable_unloading_speed: 20

# Ramming. Unlike slicer, the ramming time and shape is fixed in macro
variable_ramming_volume: 10            # Try 15-26 (in mm3)

variable_initial_retract: 0            # Use an initial retract or not. Don't use it if you want to ram the filament
variable_final_eject: 0                # Fully eject the filament afterwards, default is no