########################################### \
######## MAIN PRINTER CONFIG FILE #########  + --> Entry file to configure your printer configuration :)
########################################### /

# This file is yours! Feel free to edit it in order to include all
# the needed components (adapted to your machine). Also, keep in mind
# that it will not be erased when updating the config using moonraker
# and it will be kept as you've set it.

# ----------------------------------------------------------------------------------------


#-------------------------#
#   HARDWARE COMPONENTS   #
#-------------------------#

# ---------------------------------------------------------------- PRINTER KINEMATICS ----> Select only one line
### --------------------------------------------------------------------------------------
# [include config/kinematics/cartesian.cfg]   # ex. Ender3, Prusa, ...
# [include config/kinematics/corexy.cfg]      # ex. Voron v2, Trident, ...
# [include config/kinematics/corexz.cfg]      # ex. Voron Switchwire, ...
# ----------------------------------------------------------------------------------------


# ---------------------------------------------------------------------- MACHINE AXIS ----> Select only one line for each axis
### X axis -------------------------------------------------------------------------------
# [include config/hardware/axis/X/1.8deg.cfg]
# [include config/hardware/axis/X/0.9deg.cfg]
### Y axis -------------------------------------------------------------------------------
# [include config/hardware/axis/Y/1.8deg.cfg]
# [include config/hardware/axis/Y/0.9deg.cfg]
### Z axis -------------------------------------------------------------------------------
# [include config/hardware/axis/Z/V2.4_stock_1.8deg.cfg]

# [include config/hardware/axis/Z/V2.4_galileoZ_1.8deg.cfg]
# [include config/hardware/axis/Z/V2.4_galileo2Z_1.8deg.cfg]

# [include config/hardware/axis/Z/Trident_TR8x8_1.8deg.cfg]
# [include config/hardware/axis/Z/Trident_TR8x4_1.8deg.cfg]
# [include config/hardware/axis/Z/Trident_TR8x2_1.8deg.cfg]

# [include config/hardware/axis/Z/V0_TR8x8_1.8deg.cfg]
# [include config/hardware/axis/Z/V0_TR8x4_1.8deg.cfg]

# [include config/hardware/axis/Z/TriZero_1.8deg.cfg]
# [include config/hardware/axis/Z/TriZero_0.9deg.cfg]

# [include config/hardware/axis/Z/VSW_1.8deg.cfg]
# [include config/hardware/axis/Z/VSW_0.9deg.cfg]
# ----------------------------------------------------------------------------------------


# ---------------------------------------------------------------- PRINTER DIMENSIONS ----> Select only one line
### --------------------------------------------------------------------------------------
# [include config/hardware/axis/size/120mm.cfg]
# [include config/hardware/axis/size/180mm.cfg]
# [include config/hardware/axis/size/250mm.cfg]
# [include config/hardware/axis/size/300mm.cfg]
# [include config/hardware/axis/size/350mm.cfg]
# [include config/hardware/axis/size/VSW_MK52.cfg]

### These are global default sizes for common machines. If you need to specify a custom size,
### use your overrides.cfg file instead.
# ----------------------------------------------------------------------------------------


# -------------------------------------------------------------------------- EXTRUDER ----> Select only one line
### 1. Motors configuration --------------------------------------------------------------
# [include config/hardware/extruder/cw1.cfg]
# [include config/hardware/extruder/cw2.cfg]
# [include config/hardware/extruder/galileo.cfg]
# [include config/hardware/extruder/galileo2.cfg]
# [include config/hardware/extruder/lgx_heavy.cfg]
# [include config/hardware/extruder/lgx_lite.cfg]
# [include config/hardware/extruder/orbiter2.0.cfg]
# [include config/hardware/extruder/sherpa_mini.cfg]
# [include config/hardware/extruder/vz_hextrudort.cfg]
# ----------------------------------------------------------------------------------------


# ------------------------------------------------------------------------ HEATED BED ----
### --------------------------------------------------------------------------------------
# [include config/hardware/bed_heaters/keenovo.cfg] # Used for most machines with NTC100K bed temperature sensors
# [include config/hardware/bed_heaters/creality.cfg] # For machines with EPCOS 100k sensors like creality, etc...
# ----------------------------------------------------------------------------------------


# ----------------------------------------------------------------------------- PROBE ----> Select only one line
### --------------------------------------------------------------------------------------
## No probe installed, like on a stock Voron V0 or equivalent
# [include config/hardware/probes/no_probe.cfg]

## Inductive probes, like on stock 2.4 or Trident printers (available also in virtual Z endstop variant)
# [include config/hardware/probes/inductive.cfg]
# [include config/hardware/probes/inductive_virtual.cfg]

## Dockable probes, like Klicky, Euclid or equivalent (available also in virtual Z endstop variant)
# [include config/hardware/probes/dockable.cfg]
# [include config/hardware/probes/dockable_virtual.cfg]

## Voron TAP, also used naturally as a virtual Z endstop
# [include config/hardware/probes/voron_tap.cfg]

## BLTouch probe also used as virtual Z endstop
# [include config/hardware/probes/bltouch_virtual.cfg]

## Beacon probe also used as virtual Z endstop. Do not forget to install the plugin and add the [beacon] section to make it work!
# [include config/hardware/probes/beacon_virtual.cfg]
# ----------------------------------------------------------------------------------------


# ------------------------------------------------------------------------------ FANS ----> You can select multiple lines
### --------------------------------------------------------------------------------------
# [include config/hardware/fans/hotend_fan.cfg]
# [include config/hardware/fans/part_fan.cfg]

# [include config/hardware/fans/hotend_fan_tachometer.cfg] # When having a tachometer monitoring hotend fan speed
# [include config/hardware/fans/part_fan_tachometer.cfg] # When having a tachometer monitoring part fan speed

# [include config/hardware/fans/controller_fan.cfg]
# [include config/hardware/fans/rpi_fan.cfg]
# ----------------------------------------------------------------------------------------


# ---------------------------------------------------------------------------- SERVOS ----> Select only one line
### --------------------------------------------------------------------------------------
# [include config/hardware/servos/probe_servo.cfg]
# [include config/hardware/servos/purgeclean_servo.cfg]
# [include config/hardware/servos/shared_probepurge_servo.cfg] # If one servo is used for both probe dock and purge bucket
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------------------- DISPLAY ----> Select only one line
### --------------------------------------------------------------------------------------
### If using a display and an MCU board from the same brand (ie. a BTT display
### on a BTT board, or a Fysetc display on a Fysetc board), please use the file
### that correspond to your display brand in the following lines:
# [include config/hardware/displays/BTT_mini12864.cfg]
# [include config/hardware/displays/Fysetc_mini12864.cfg]
# [include config/hardware/displays/Fysetc_mini12864_v1.2_v2.0.cfg]

### As BTT and Fysetc have done the wiring exactly the opposite on their boards, if you are mixing
### the brands (ie. a BTT display on a Fysetc board, or the opposite), please use the file
### that correspond to your display brand in the following lines. Also you may have to
### rotate connectors 180 degree according to this documentation: https://docs.vorondesign.com/build/electrical/mini12864_klipper_guide.html
# [include config/hardware/displays/BTT_mini12864_inversed.cfg]
# [include config/hardware/displays/Fysetc_mini12864_inversed.cfg]
# [include config/hardware/displays/Fysetc_mini12864_v1.2_v2.0_inversed.cfg]

### For a V0 display with an integrated MCU, don't forget to override the MCU serial port in your overrides.cfg file
# [include config/hardware/displays/V0_display.cfg]
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------- TEMPERATURE SENSORS ----> You can select multiple lines
### --------------------------------------------------------------------------------------
# [include config/hardware/temperature_sensors/rpi_temp.cfg]
# [include config/hardware/temperature_sensors/mcu_temp.cfg]
# [include config/hardware/temperature_sensors/toolhead_mcu_temp.cfg]
# [include config/hardware/temperature_sensors/cabinet_temp.cfg]
# [include config/hardware/temperature_sensors/chamber_temp.cfg]
# [include config/hardware/temperature_sensors/chamber_temp_ds18b20.cfg] # Specific for DS18B20 directly connected to the Pi
# [include config/hardware/temperature_sensors/chamber_temp_toolhead.cfg] # This is to use a toolhead integrated temperature sensor (or an external one as it's done on the LDO Nitehawk)
# ----------------------------------------------------------------------------------------


# ------------------------------------------------------------------- LIGHTS AND LEDS ----
### --------------------------------------------------------------------------------------
# [include config/hardware/lights/fcob_white.cfg]
# [include config/hardware/lights/neopixel_caselight.cfg]
# [include config/hardware/lights/status_leds.cfg] # Standard StealthBurner style LEDs
# [include config/hardware/lights/status_leds_rainbow_barf.cfg] # Rainbow Barf StealthBurner style LEDs

# The following files are to be used with the LED effect plugin: https://github.com/julianschill/klipper-led_effect
# [include config/hardware/lights/neopixel_caselight_effects.cfg]
# [include config/hardware/lights/status_leds_effects.cfg] # Standard StealthBurner style LEDs
# [include config/hardware/lights/status_leds_rainbow_barf_effects.cfg] # Rainbow Barf StealthBurner style LEDs
# ----------------------------------------------------------------------------------------


# ------------------------------------------------------------------ FILAMENT SENSORS ----> Select only one line
### --------------------------------------------------------------------------------------
# [include config/hardware/filament_sensors/motion_sensor.cfg]
# [include config/hardware/filament_sensors/switch_sensor.cfg]
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------------- ACCELEROMETER ----> Select only one line
### --------------------------------------------------------------------------------------
# [include config/hardware/accelerometers/adxl345_rpi.cfg] # For ADXL plugged directly on the Pi (official and recommended way)
# [include config/hardware/accelerometers/adxl345_usb.cfg] # For KUBSA, ...
# [include config/hardware/accelerometers/adxl345_usb_rampon.cfg] # For KUBSA with Rampon firmware, ...
# [include config/hardware/accelerometers/adxl345_usb_rp2040_spi1.cfg] # For Fysetc PortableInputShaper, ...
# [include config/hardware/accelerometers/adxl345_skr.cfg] # For ADXL plugged in SKRv1.4 (not a conventional way)

# [include config/hardware/accelerometers/adxl345_sb2040.cfg] # For ADXL plugged in Mellow Fly-SB2040 boards
# [include config/hardware/accelerometers/adxl345_ebb.cfg] # For ADXL plugged in BTT EBB36 or EBB42 boards
# [include config/hardware/accelerometers/adxl345_sht.cfg] # For ADXL plugged in Mellow SHT36 or SHT42 boards
# [include config/hardware/accelerometers/adxl345_BTT_SB22xx.cfg] # For ADXL plugged in BTT SB2209 or SB2240 boards
# [include config/hardware/accelerometers/adxl345_Fysetc_SB_Can_TH.cfg] # For ADXL plugged in Fysetc SB Can TH boards
# [include config/hardware/accelerometers/adxl345_nitehawk_sb.cfg] # For built in ADXL sensor on the Nitehawk SB board

# [include config/hardware/accelerometers/lis2dw_usb_rp2040_spi1.cfg] # For BTT S2DW V1.0, ... 

# [include config/hardware/accelerometers/beacon_accelerometer.cfg] # For Beacon Rev H make sure Beacon. Do not forget to include the beacon_virtual_probe in the PROBE section!
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------------------- FILTERS ----> You can select multiple lines
### --------------------------------------------------------------------------------------
# [include config/hardware/filters/exhaust_filter.cfg]
# [include config/hardware/filters/nevermore_filter.cfg]
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------------------- MMU/ERCF ----> You need to select both lines or none
### --------------------------------------------------------------------------------------
### Klippain is designed to be used with the MMU/ERCF HappyHare software backend: https://github.com/moggieuk/Happy-Hare
### Please refer to the corresponding Klippain documentation: https://github.com/Frix-x/klippain/blob/main/docs/mmu.md
# [include mmu/base/mmu_*.cfg]
# [include config/hardware/mmu.cfg]

# [include mmu/optional/mmu_menu.cfg] # Optional: use it if you also have a Mini12864 display and want to add the MMU/ERCF menu entries
# [include mmu/addons/mmu_erec_cutter.cfg] # Optional: only for EREC Filament Cutter Support
# ----------------------------------------------------------------------------------------



#---------------------------------#
#   KLIPPER SOFTWARE COMPONENTS   #
#---------------------------------#

# -------------------------------------------------------------------------- BED MESH ----> Select only one line
### --------------------------------------------------------------------------------------
# [include config/software/bed_mesh/bed_mesh_120mm.cfg]
# [include config/software/bed_mesh/bed_mesh_180mm.cfg]
# [include config/software/bed_mesh/bed_mesh_250mm.cfg]
# [include config/software/bed_mesh/bed_mesh_300mm.cfg]
# [include config/software/bed_mesh/bed_mesh_350mm.cfg]
# [include config/software/bed_mesh/bed_mesh_mk52.cfg]

### If you need to specify a bed mesh configuration for a custom sized printer, use your
### overrides.cfg file instead. These defaults are only made for common machines sizes
# ----------------------------------------------------------------------------------------


# ----------------------------------------------------------------- SENSORLESS HOMING ----> Select only one line
### --------------------------------------------------------------------------------------
# [include config/software/sensorless_homing/sensorless_TMC2209.cfg]
# [include config/software/sensorless_homing/sensorless_BTT_TMC2240.cfg]
# [include config/software/sensorless_homing/sensorless_MKS_TMC2240.cfg]

### Follow the Klipper documentation here: https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
### to find the best suited SGTHRS value according to your machine. Then add this value to your
### overrides.cfg as stated in the config/software/sensorless_homing.cfg file!
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------- FIRMWARE RETRACTION ----
### --------------------------------------------------------------------------------------
# [include config/software/firmware_rectraction.cfg]
# ----------------------------------------------------------------------------------------


# ---------------------------------------------------------------------- INPUT SHAPER ----
### --------------------------------------------------------------------------------------
# [include config/software/input_shaper.cfg] # Don't forget to calibrate it!
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------------------- TILTING ----> Select only one line
### --------------------------------------------------------------------------------------
# [include config/software/tilting/qgl_180mm.cfg]
# [include config/software/tilting/qgl_250mm.cfg]
# [include config/software/tilting/qgl_300mm.cfg]
# [include config/software/tilting/qgl_350mm.cfg]

# [include config/software/tilting/z_tilt_120mm.cfg]
# [include config/software/tilting/z_tilt_250mm.cfg]
# [include config/software/tilting/z_tilt_300mm.cfg]
# [include config/software/tilting/z_tilt_350mm.cfg]

# [include config/software/tilting/bedscrews_120mm.cfg]

### If you need to specify a tilting configuration for a custom sized printer, use your
### overrides.cfg file instead. These defaults are only made for common machines sizes
# ----------------------------------------------------------------------------------------


# ---------------------------------------------------------------- AUTO Z CALIBRATION ----
### --------------------------------------------------------------------------------------
### This does work only with dockable probes types (it doesn't work with Voron TAP or virtual probes)
### Also don't forget to install the plugin from here: https://github.com/protoloft/klipper_z_calibration
# [include config/software/z_calibration.cfg]
# ----------------------------------------------------------------------------------------


# -------------------------------------------------------------------------- SPOOLMAN ----
### --------------------------------------------------------------------------------------
### You must have the Spoolman plugin installed... from here: https://github.com/Donkie/Spoolman
# [include config/software/spoolman.cfg]
# ----------------------------------------------------------------------------------------



###################################
### DO NOT EDIT BELOW THIS LINE ###
###################################
[include variables.cfg]
[include mcu.cfg]
[include overrides.cfg]
