########################################### \
######## MAIN PRINTER CONFIG FILE #########  + --> Entry file to configure your printer configuration :)
########################################### /

# This file is yours! Feel free to edit it in order to include all
# the needed components (adapted to your machine). Also, keep in mind
# that it will not be erased when updating the config using moonraker
# and it will be kept as you've set it.


#-------------------------#
#   HARDWARE COMPONENTS   #
#-------------------------#

##### XY axis motors configuration -----------------------------------
# [include config/hardware/axis/XY/1.8d_xy.cfg]
# [include config/hardware/axis/XY/0.9d_xy.cfg]

# [include config/hardware/axis/XY/1.8d_xy_V0specific.cfg]
# --------------------------------------------------------------------

##### Z axis motors configuration -----------------------------------
# [include config/hardware/axis/Z/V2.4_1.8d_base_z.cfg]
# [include config/hardware/axis/Z/V2.4_1.8d_galileo_z.cfg]

# [include config/hardware/axis/Z/Trident_1.8d_TR8x8_z.cfg]
# [include config/hardware/axis/Z/Trident_1.8d_TR8x4_z.cfg]

# [include config/hardware/axis/Z/V0_1.8d_TR8x8_z.cfg]
# [include config/hardware/axis/Z/V0_1.8d_TR8x4_z.cfg]
# [include config/hardware/axis/Z/TriZero_0.9d_z.cfg]
# --------------------------------------------------------------------

##### Dimensions configuration ---------------------------------------
# [include config/hardware/axis/default_120mm.cfg]
# [include config/hardware/axis/default_250mm.cfg]
# [include config/hardware/axis/default_300mm.cfg]
# [include config/hardware/axis/default_350mm.cfg]

### If you need to specify a custom size, use your overrides.cfg file
### instead. These defaults are only made for common machines sizes
# --------------------------------------------------------------------

##### Extruder configuration -----------------------------------------
# [include config/hardware/extruder/cw1.cfg]
# [include config/hardware/extruder/cw2.cfg]
# [include config/hardware/extruder/galileo.cfg]
# [include config/hardware/extruder/lgx_heavy.cfg]
# [include config/hardware/extruder/lgx_lite.cfg]
# --------------------------------------------------------------------

##### Heated bed configuration ---------------------------------------
# [include config/hardware/heated_bed.cfg]
# --------------------------------------------------------------------

##### Probe configuration --------------------------------------------
# [include config/hardware/probes/no_probe.cfg] # For a Voron V0 printer or equivalent that have no probes
# [include config/hardware/probes/inductive_probe.cfg]
# [include config/hardware/probes/dockable_probe.cfg] # For a Klicky, Euclid, or equivalent probe type
# [include config/hardware/probes/tap_probe.cfg] # For the Voron TAP, also used as a virtual endstop
# --------------------------------------------------------------------

##### Fans configuration ---------------------------------------------
# [include config/hardware/fans/hotend_fan.cfg]
# [include config/hardware/fans/part_fan.cfg]
# [include config/hardware/fans/controller_fan.cfg]
# [include config/hardware/fans/rpi_fan.cfg]
# --------------------------------------------------------------------

##### Servos configuration --------------------------------------------
# [include config/hardware/servos/probe_servo.cfg]
# [include config/hardware/servos/purgeclean_servo.cfg]
# [include config/hardware/servos/shared_probepurge_servo.cfg] # If one servo is used for both probe dock and purge bucket
# --------------------------------------------------------------------

##### Display configuration ------------------------------------------
### If using a display and an MCU board from the same brand (ie. a BTT display
### on a BTT board, or a Fysetc display on a Fysetc board), please use the file
### that correspond to your display brand in the following lines:

# [include config/hardware/displays/BTT_mini12864.cfg]
# [include config/hardware/displays/Fysetc_mini12864.cfg]

### As BTT and Fysetc have done the wiring exactly the opposite on their boards, if you are mixing
### the brands (ie. a BTT display on a Fysetc board, or the opposite), please use the file
### that correspond to your display brand in the following lines. Also you may have to
### rotate connectors 180 degree according to this documentation: https://docs.vorondesign.com/build/electrical/mini12864_klipper_guide.html

# [include config/hardware/displays/BTT_mini12864_inversed.cfg]
# [include config/hardware/displays/Fysetc_mini12864_inversed.cfg]
# --------------------------------------------------------------------

##### Other temperature sensors configuration ------------------------
# [include config/hardware/temperature_sensors/rpi_temp.cfg]
# [include config/hardware/temperature_sensors/mcu_temp.cfg]
# [include config/hardware/temperature_sensors/toolhead_mcu_temp.cfg]
# [include config/hardware/temperature_sensors/cabinet_temp.cfg]
# [include config/hardware/temperature_sensors/chamber_temp.cfg]
# [include config/hardware/temperature_sensors/chamber_temp_toolhead.cfg] # This is not recommended as toolhead board temperature sensors are not accurate
# --------------------------------------------------------------------

##### Lights and leds configuration ----------------------------------
# [include config/hardware/lights/fcob_white.cfg]
# [include config/hardware/lights/neopixel_caselight.cfg]
# [include config/hardware/lights/status_leds.cfg]
# --------------------------------------------------------------------

##### Filaments sensors configuration --------------------------------
# [include config/hardware/filament_sensors/motion_sensor.cfg]
# [include config/hardware/filament_sensors/runout_sensor.cfg] #TODO: create file
# --------------------------------------------------------------------

##### Accelerometers sensors configuration ---------------------------
# [include config/hardware/accelerometers/adxl345_rpi.cfg]
# [include config/hardware/accelerometers/adxl345_ebb.cfg]
# [include config/hardware/accelerometers/adxl345_sht.cfg]
# [include config/hardware/accelerometers/adxl345_sb2040.cfg]
# [include config/hardware/accelerometers/adxl345_skr.cfg]
# [include config/hardware/accelerometers/adxl345_usb.cfg]
# --------------------------------------------------------------------

##### Additional filters configuration -------------------------------
# [include config/hardware/filters/exhaust_filter.cfg]
# [include config/hardware/filters/nevermore_filter.cfg]
# --------------------------------------------------------------------

##### Additional filters configuration -------------------------------
# [include config/hardware/ercf.cfg]
# --------------------------------------------------------------------


#---------------------------------#
#   KLIPPER SOFTWARE COMPONENTS   #
#---------------------------------#

##### Bed mesh ------------------------------------------------------
# [include config/software/bed_mesh/bed_mesh_250mm.cfg]
# [include config/software/bed_mesh/bed_mesh_300mm.cfg]
# [include config/software/bed_mesh/bed_mesh_350mm.cfg]

### If you need to specify a bed mesh configuration for a custom sized printer, use your
### overrides.cfg file instead. These defaults are only made for common machines sizes
# -------------------------------------------------------------------

##### Sensorless homing ---------------------------------------------
# [include config/software/sensorless_homing.cfg]

### Follow the Klipper documentation here: https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
### to find the best suited SGTHRS value according to your machine. Then add this value to your
### overrides.cfg as stated in the config/software/sensorless_homing.cfg file!
# -------------------------------------------------------------------

##### Firmware retraction -------------------------------------------
# [include config/software/firmware_rectraction.cfg]
# -------------------------------------------------------------------

##### Input shaper --------------------------------------------------
# [include config/software/input_shaper.cfg] # Don't forget to calibrate it!
# -------------------------------------------------------------------

##### QGL vs Z_TILT configuration -----------------------------------
# [include config/software/tilting/qgl_250mm.cfg]
# [include config/software/tilting/qgl_300mm.cfg]
# [include config/software/tilting/qgl_350mm.cfg]

# [include config/software/tilting/z_tilt_250mm.cfg]
# [include config/software/tilting/z_tilt_300mm.cfg]
# [include config/software/tilting/z_tilt_350mm.cfg]

# [include config/software/tilting/bedscrews_120mm.cfg]

### If you need to specify a tilting configuration for a custom sized printer, use your
### overrides.cfg file instead. These defaults are only made for common machines sizes
# -------------------------------------------------------------------

##### Auto Z calibration plugin -------------------------------------
# [include config/software/z_calibration.cfg] # You need to install the plugin!
# -------------------------------------------------------------------



###################################
### DO NOT EDIT BELOW THIS LINE ###
###################################
[include config/machine.cfg]
[include variables.cfg]
[include mcu.cfg]
[include overrides.cfg]
