[gcode_macro _USER_VARIABLES]
# Enable verbose output to let the macro have a chat
variable_verbose: True

###################################################
# Feedrate and accels setpoints for all the macros
###################################################

## SPEEDS
variable_homing_travel_speed: 350
variable_travel_speed: 350
variable_z_drop_speed: 15
variable_brush_clean_speed: 100
variable_probe_dock_speed: 60

## ACCELS
## Those are specific accel settings for some of the macros
variable_homing_travel_accel: 3000
variable_tilting_travel_accel: 3000
variable_brush_clean_accel: 1500
variable_probe_dock_accel: 2000


#################################################
# Homing, start_print and end_print variables
#################################################

## Physical Z endstop pin position. This variable is used only if
## you don't use the automatic z_calibration plugin: if this plugin is
## installed, the z endstop pin position is directly extracted from the
## plugin config file (see config/software/z_calibration.cfg) or its user override.
variable_zendstop_position: -1, -1 # change it ONLY if not using the auto z calibration plugin !!!

## Force always a full homing and QGL/Z_TILT during the START_PRINT macro
variable_force_homing_in_start_print: False

## Z hop before homing to avoid grinding
## the bed due to the gantry sag
variable_homing_zhop: 5

## XY axis homing order and backoff distance after touching the endstops
variable_homing_first: "X" # can be set to "Y" first
variable_homing_backoff_distance_xy: -5, -5 # move 5mm in negative direction on both axis

## Percentage of run_current used while sensorless homing (if used)
variable_sensorless_current_factor: 75

## margin to avoid the probe dock when homing
variable_probe_dock_margin_xy: 0, 0

## Temperature of the extruder used to preheat the chamber temperature and do some START_PRINT actions
variable_safe_extruder_temp: 150

## Prime line parameters
variable_prime_line_xy: 5, 2.5 # starting point
variable_prime_line_direction: "X" # can also be set to "Y"
variable_prime_line_length: 40 # length of the prime line on the bed (in mm)
variable_prime_line_purge_distance: 30 # length of filament to purge (in mm)
variable_prime_line_flowrate: 10 # mm3/s used for the prime line
variable_prime_line_height: 0.6 # mm, used for actual cross section computation
variable_prime_line_margin: 5  # distance of purge line from fl_size rectangle

## Park position used when pause, end_print, etc...
variable_park_position_xy: -1, -1
variable_park_lift_z: 50

## Automatically disable motors in the END_PRINT macro
variable_disable_motors_in_end_print: False

## Automatically turn-off heaters in the END_PRINT macro
variable_turn_off_heaters_in_end_print: True


#########################################################
# Dockable probe variables (if available in the machine)
#########################################################

## Bed size used to avoids doing a probe_accuracy or probe_calibrate outside the bed
## This has no effect in the macros beside a safety check (not mandatory to be changed)
variable_min_bed_xy: 0, 0
variable_max_bed_xy: 9999, 9999

## Minimum safe Z height to attach/detach probe
variable_probe_min_z_travel: 20

## Z height to move to when detaching probe
## Setting to 'None' or removing this variable will prevent any
## change in z position when detaching the probe 
variable_probe_stow_z_height: None

## Position of the probe dock
variable_probe_dock_location_xy: -1, -1

## Servo angles used to define the retracted and deployed positions
## of the dock (if applicable). These variables are only used if a probe servo
## is included in the config and have no effect if it's not the case
variable_probe_servo_angle_retracted: 0
variable_probe_servo_angle_deployed: 90

## Positions of the toolhead when docking/undocking the probe
## See diagram below for help
variable_probe_before_attach_position: "front"
variable_probe_after_attach_position : "front"
variable_probe_before_dock_position : "front" # generaly same as probe_after_attach_position
variable_probe_after_dock_position : "left"

variable_probe_move_attach_length: 30
variable_probe_move_dock_length: 30

##    Y
##    ^ 
##    |          back
##    |           ^
##    |   left  < O >  right
##    |           v
##    |         front
##    |_ _ _ _ _ _ _ _ _ _ _ _> X

## If there is an error during a tilting procedure (QGL or Z_TILT_ADJUST) or during a BED_MESH_CALIBRATE
## then automatically dock the probe before stopping all actions. This avoid letting the probe
## very close to a very hot bed doing nothing as this could destroy the probe microswitch
variable_autodock_on_probe_error: True


##########################################################
# Voron TAP probe variables (if available in the machine)
##########################################################

variable_tap_max_probing_temp: 150
variable_tap_deactivation_zhop: 5 # this is used to Z hop before restoring the temperature to avoid burnt PEI


##########################################
# Material and specific print parameters
##########################################

## default START_PRINT parameters
variable_print_default_bed_temp: 105
variable_print_default_extruder_temp: 240
variable_print_default_chamber_temp: 0
variable_print_default_chamber_max_heating_time: 15
variable_print_default_soak: 8
variable_print_default_material: "XXX"

## Material configuration parameters applied during START_PRINT by using the slicer MATERIAL variable
## FYI, retract paramaters are used only if firmware retraction is enabled, filter speed (in %) is used if
## there is a filter installed on the machine, filament sensor is on or off if installed, etc...
## If you are using another material, just extend the list bellow with a new material and everything should work :)
variable_material_parameters: {
        'PLA': {
            'pressure_advance': 0.0525,
            'retract_length': 0.75,
            'unretract_extra_length': 0,
            'retract_speed': 40,
            'unretract_speed': 30,
            'filter_speed': 0,
            'additional_z_offset': 0,
            'filament_sensor': 1
        },
        'PET': {
            'pressure_advance': 0.0650,
            'retract_length': 1.4,
            'unretract_extra_length': 0,
            'retract_speed': 30,
            'unretract_speed': 20,
            'filter_speed': 0,
            'additional_z_offset': 0.020,
            'filament_sensor': 1
        },
        'ABS': {
            'pressure_advance': 0.0480,
            'retract_length': 0.5,
            'unretract_extra_length': 0,
            'retract_speed': 40,
            'unretract_speed': 30,
            'filter_speed': 80,
            'additional_z_offset': 0,
            'filament_sensor': 1
        },
        'TPU': {
            'pressure_advance': 0.0500,
            'retract_length': 0.2,
            'unretract_extra_length': 0,
            'retract_speed': 5,
            'unretract_speed': 5,
            'filter_speed': 0,
            'additional_z_offset': 0.040,
            'filament_sensor': 0
        }
    }


################################################
## MMU/ERCF specific variables
################################################
## This section is only considered if an MMU/ERCF is installed and configured

variable_mmu_force_homing_in_start_print: False
variable_mmu_unload_on_cancel_print: False
variable_mmu_unload_on_end_print: True
variable_mmu_check_gates_on_start_print: False   # True is recommended but you must have TOOLS_USED=!referenced_tools! in your slicer START_PRINT parameters. Otherwise it will only check the INITIAL TOOL...
variable_mmu_check_errors_on_start_print: False  # Set to True if you want an early check of MMU errors during the START_PRINT sequence.

################################################
## Filter specific variables
################################################
## This section is only considered if a filter is available (and enabled)

variable_filter_default_time_on_end_print: 600 # seconds

################################################
# Other hardware options used in the macros
################################################

## Brush and purge bucket available in the machine
## If this is not available in the machine, set both positions
## variables to "-1, -1, -1" for safety
variable_purge_and_brush_enabled: False
variable_force_homing_before_brush: False # Add an homing of the Z axis before a clean to be sure to not miss the brush
variable_brush_over_y_axis: True # Cleanup is done moving the extruder along the Y axis, then X axis. If false, only X axis is done
variable_brush_xyz: -1, -1, -1 # Position of the brush center for nozzle cleaning
variable_purge_bucket_xyz: -1, -1, -1 # Purge bucket position
variable_purge_distance: 30 # Amount to purge (in mm)
variable_purge_ooze_time: 10 # Time (in seconds) to wait after the purge to let the nozzle ooze before going to the brush

## Servo angles used to define the retracted and deployed positions
## of the purge bucket and brush (if applicable). These variables are only used if a purge
## bucket servo is included in the config and have no effect if it's not the case
variable_purgeclean_servo_angle_retracted: 0
variable_purgeclean_servo_angle_deployed: 90

## White light parameters (if installed in the machine)
variable_light_intensity_start_print: 100
variable_light_intensity_printing: 30
variable_light_intensity_end_print: 0

## Caselight LEDs ON at startup (caselight need to be installed in the machine)
variable_caselight_on_at_startup: False

## Patch the M190/M109 commands to avoid some wait time while the temperature
## settle on very low thermal latency devices (such as the BambuLabs hotend)
variable_fix_heaters_temperature_settle: False

## Resonnance testing position (if an accelerometer is installed in the machine)
## If test point is let to -1,-1, it default to the center of the bed at 50mm high
variable_resonnance_test_point_xy: -1, -1
variable_resonnance_test_z_clearance: 50


## -----------------------------------------------------------------------------------
## -----------------------------------------------------------------------------------
## Do not remove the next lines
gcode:

[save_variables]
filename: ~/printer_data/config/save_variables.cfg
