# If you have un exhaust fan you can choose between the stock one or an exhaust with air filter for exemple like that:
# https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/OboMaker3D
# or
# https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/KevinAkaSam/VEFACH

[gcode_macro _USER_VARIABLES]
variable_exhaust_enabled: True
variable_exhaust_name: "exhaust_filter"
# Exhaust with filter replacement pellets parameters (if installed in the machine)
variable_exhaust_filter: 'fan_generic exhaust_filter'                # The fan to track.
gcode:

# Also include directly the filter control macros from here
[include ../../../macros/hardware_functions/filter.cfg]

[fan_generic exhaust_filter]
pin: EXHAUST_FAN
max_power: 1.0
#shutdown_speed: 0.0
kick_start_time: 0.250	#5.0
#cycle_time:0.010
off_below:0.25			#0.1
