# If you have un exhaust fan you can choose between the stock one or an exhaust with air filter for exemple like that:
# https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/OboMaker3D
# or
# https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/KevinAkaSam/VEFACH

[gcode_macro _USER_VARIABLES]
description: chose if you have Exhaust Fan with or without filter.
variable_exhaust_fan_enabled: False
variable_exhaust_filter_enabled: True
variable_exhaust_name: "exhaust_filter"
gcode:

# Also include directly the filter control macros from here
[include ../../../macros/hardware_functions/filter.cfg]

[fan_generic exhaust_filter]
pin: EXHAUST_FAN
max_power: 1.0
kick_start_time: 0.250
off_below:0.25