# Recirculating carbon filter (example: Nevermove v5, etc...)
[gcode_macro _USER_VARIABLES]
variable_filter_enabled: True
variable_filter_name: "filter"
gcode:

# Also include directly the filter control macros from here
[include ../../../macros/hardware_functions/filter.cfg]


[fan_generic filter]
pin: FILTER_FAN
max_power: 1.0
kick_start_time: 0.250
off_below: 0.30
# hardware_pwm: True
# cycle_time: 0.001
