# This file is automatically included when status_leds hardware config file is included

# src : https://github.com/VoronDesign/Voron-Stealthburner/blob/main/Firmware/stealthburner_leds.cfg
# Contributed by Voron discord users wile.e, Tetsunosuke, and etherwalker
# Heavily modified by Frix-x to be more adapted for the generic config goal


# The following status macro is available:
#    STATUS_LEDS COLOR="xxxxx"

# With additional macros for basic control:
#    SET_NOZZLE_LEDS_ON
#    SET_LOGO_LEDS_OFF
#    SET_NOZZLE_LEDS_OFF


[gcode_macro _SET_LEDS]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = params.LED|string %}
    {% set idx = (params.IDX|string).split(',') %}
    {% set transmit_last = params.TRANSMIT|default(1) %}

    {% for led_index in idx %}
        {% set transmit=transmit_last if loop.last else 0 %}
        SET_LED LED={led} RED={red} GREEN={green} BLUE={blue} WHITE={white} INDEX={led_index} TRANSMIT={transmit}
    {% endfor %} 

[gcode_macro _SET_LEDS_BY_NAME]
gcode:
    {% set leds_name = params.LEDS %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _USER_VARIABLES"].status_leds_colors[leds_name][color_name] %}
    {% set led = printer["gcode_macro _USER_VARIABLES"]["status_leds_" + leds_name + "_led_name"] %}
    {% set idx = printer["gcode_macro _USER_VARIABLES"]["status_leds_" + leds_name + "_idx"] %}
    {% set transmit = params.TRANSMIT|default(1) %}

    _SET_LEDS LED={led} RED={color.r} GREEN={color.g} BLUE={color.b} WHITE={color.w} IDX="{idx}" TRANSMIT={transmit}

[gcode_macro _SET_LOGO_LEDS]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _USER_VARIABLES"].status_leds_logo_led_name %}
    {% set idx = printer["gcode_macro _USER_VARIABLES"].status_leds_logo_idx %}
    {% set transmit = params.TRANSMIT|default(1) %}

    _SET_LEDS LED={led} RED={red} green={green} BLUE={blue} WHITE={white} IDX="{idx}" TRANSMIT={transmit}

[gcode_macro _SET_NOZZLE_LEDS]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _USER_VARIABLES"].status_leds_nozzle_led_name %}
    {% set idx = printer["gcode_macro _USER_VARIABLES"].status_leds_nozzle_idx %}
    {% set transmit = params.TRANSMIT|default(1) %}

    _SET_LEDS LED={led} RED={red} green={green} BLUE={blue} WHITE={white} IDX="{idx}" TRANSMIT={transmit}


[gcode_macro SET_LOGO_LEDS_OFF]
gcode:
    {% set transmit = params.TRANSMIT|default(1) %}
    _SET_LEDS_BY_NAME LEDS="logo" COLOR="off" TRANSMIT={transmit}
    
[gcode_macro SET_NOZZLE_LEDS_ON]
gcode:
    {% set transmit = params.TRANSMIT|default(1) %}
    _SET_LEDS_BY_NAME LEDS="nozzle" COLOR="on" TRANSMIT={transmit}

[gcode_macro SET_NOZZLE_LEDS_OFF]
gcode:
    {% set transmit = params.TRANSMIT|default(1) %}
    _SET_LEDS_BY_NAME LEDS="nozzle" COLOR="off" TRANSMIT={transmit}


[gcode_macro STATUS_LEDS]
gcode:
    {% set color = params.COLOR|default('off')|lower %}

    {% set status_color = {
        'ready': {
            'logo': 'standby',
            'nozzle': 'standby'
        },
        'busy': {
            'logo': 'busy',
            'nozzle': 'on'
        },
        'heating': {
            'logo': 'heating',
            'nozzle': 'heating'
        },
        'leveling': {
            'logo': 'leveling',
            'nozzle': 'on'
        },
        'homing': {
            'logo': 'homing',
            'nozzle': 'on'
        },
        'cleaning': {
            'logo': 'cleaning',
            'nozzle': 'on'
        },
        'meshing': {
            'logo': 'meshing',
            'nozzle': 'on'
        },
        'calibrating_z': {
            'logo': 'calibrating_z',
            'nozzle': 'on'
        },
        'printing': {
            'logo': 'printing',
            'nozzle': 'on'
        },
        'off': {
            'dummy': 'dummy'
        }
    } %}

    {% if not (color in status_color) %}
        { action_raise_error("COLOR is not valid!") }
    {% endif %}

    {% if color == 'off' %}
        SET_LOGO_LEDS_OFF TRANSMIT=0
        SET_NOZZLE_LEDS_OFF
    {% else %}
        _SET_LEDS_BY_NAME LEDS="logo" COLOR={status_color[color].logo} TRANSMIT=0
        {% if status_color[color].nozzle == 'on' %}
            SET_NOZZLE_LEDS_ON
        {% else %}
            _SET_LEDS_BY_NAME LEDS="nozzle" COLOR={status_color[color].nozzle} TRANSMIT=1
        {% endif %}
    {% endif %}
