# Required file when using a multiple mcus configuration
# This will override all earlier section definitions.
# This file needs to be inculde after all other files containing pin defenitions.

## You need to uncomment enabled addons

[stepper_z]
step_pin: z:Z_STEP
dir_pin: z:Z_DIR
enable_pin: !z:Z_ENABLE
endstop_pin: z:Z_STOP

[tmc2209 stepper_z]
uart_pin: z:Z_TMCUART

[stepper_z1]
step_pin: z:Z1_STEP
dir_pin: !z:Z1_DIR
enable_pin: !z:Z1_ENABLE

[tmc2209 stepper_z1]
uart_pin: z:Z1_TMCUART

[stepper_z2]
step_pin: z:Z2_STEP
dir_pin: z:Z2_DIR
enable_pin: !z:Z2_ENABLE

[tmc2209 stepper_z2]
uart_pin: z:Z2_TMCUART

[stepper_z3]
step_pin: z:Z3_STEP
dir_pin: !z:Z3_DIR
enable_pin: !z:Z3_ENABLE

[tmc2209 stepper_z3]
uart_pin: z:Z3_TMCUART

[heater_bed]
heater_pin: z:BED_HEATER
sensor_pin: z:BED_TEMPERATURE

[probe]
pin: ^z:PROBE_INPUT

[heater_fan exhaust_fan]
pin: z:FILTER_FAN

[heater_fan controller_fan]
pin: z:CONTROLLER_FAN

# -------- ADDONS --------- #

## ADXL345
# [adxl345]
# cs_pin: z:ADXL_CS

## NEVERMORE FILTER
# [fan_generic filter]
# pin: z:FILTER_FAN

## FCOB LIGHT
# [output_pin caselight]
# pin: z:LIGHT_OUTPUT

## CABINET TEMP
# [temperature_sensor ElectricalCabinet]
# sensor_pin: z:ELECTRICAL_CABINET_TEMPERATURE