# If you want to override the wiring of the BTT EBB, keep in mind that this
# board is defined using the "toolhead" name. So you should use "pin: toolhead:PIN_NAME"
# in your own overrides.cfg files.

[include manufacturer/BTT_EBB36-42_v1.0.cfg]

[board_pins ebb_mcu]
mcu: toolhead
aliases:
    E_STEP=TMCDRIVER_STEP , E_DIR=TMCDRIVER_DIR , E_ENABLE=TMCDRIVER_ENABLE , E_TMCUART=TMCDRIVER_UART ,

    X_STOP=ENDSTOP1 , Y_STOP=ENDSTOP2 ,
    PROBE_INPUT=PROBE ,
    TOOLHEAD_SENSOR=ENDSTOP3 ,

    E_HEATER=HOTEND0 , E_TEMPERATURE=TH0 ,

    PART_FAN=FAN0 , E_FAN=FAN1 ,

    STATUS_NEOPIXEL=RGB ,

    ADXL_CS=SPI2_CS , ADXL_SCLK=SPI2_SCLK , ADXL_MISO=SPI2_MISO , ADXL_MOSI=SPI2_MOSI ,
