[mcu toolhead]
# This board work by using a serial connection by default.
# If you want to use CAN, invert the commented lines here

# serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id


[board_pins mcu_EBBCan]
mcu: toolhead
aliases:

# steppers
	E_STEP=PD0,  E_DIR=PD1,  E_ENABLE=PD2,  E_TMCUART=PA15,
	X_STOP=PB8,
# hotend
	E_HEATER=PB13, E_TEMPERATURE=PA3, E_FAN=PA1,
	PART_FAN=PA0,

# probe
	PROBE_INPUT=PB6,

# adxl
	ADXL_CS=PB12, ADXL_SCLK=PB10, ADXL_MOSI=PB11, ADXL_MISO=PB2,

# light
	LIGHT_OUPUT=P2.5,
	STATUS_NEOPIXEL=PD3
