[board_pins mcu_sht36_42]
mcu: toolhead
aliases:
#motor driver
    DRIVER0_STEP=PB4,  DRIVER0_DIR=PB3,  DRIVER0_ENABLE=PA15,  DRIVER0_TMCUART=PB5,
#endstop
    STOP0=PA0, STOP1=PA1,
#probe
    PROBE_INPUT=PC15,
#hotend
    E_HEATER=PA8, E_TEMPERATURE=PA3, E_FAN=PB10,
    PART_FAN=PB11,
#chamber
    CHAMBER_TEMPERATURE=PA4,
#light
    STATUS_NEOPIXEL=PB0,
#adxl
    ADXL_CS=PA9

[temperature_sensor ToolheadMcu]
sensor_type: temperature_mcu
sensor_mcu: toolhead

[gcode_macro _USER_VARIABLES]
variable_chamber_temperature_sensor_enabled: True
variable_chamber_temperature_sensor_name: "Chamber"
gcode:


[temperature_sensor Chamber]
sensor_type: ATC Semitec 104GT-2
sensor_pin: toolhead:CHAMBER_TEMPERATURE

