[mcu toolhead]
# This board works by using a CAN connection by default.
# This cfg is only intended for the EBB36/42 v1.1
##--------------------------------------------------------------------
canbus_uuid:  change-me-to-the-correct-can-id
##--------------------------------------------------------------------


[board_pins mcu_ebb36_42]
mcu: toolhead
aliases:
# steppers
   E_STEP=PD0,  E_DIR=PD1,  E_ENABLE=PD2,  E_TMCUART=PA15,
   X_STOP=PB8,
# hotend
   E_HEATER=PB13, E_TEMPERATURE=PA3, E_FAN=PA1,
   PART_FAN=PA0,
# probe
   PROBE_INPUT=PB6,
# light
   STATUS_NEOPIXEL=PD3,
# adxl
   ADXL_CS=PB12, ADXL_SCLK=PB10, ADXL_MOSI=PB11, ADXL_MISO=PB2
