[mcu toolhead]
##--------------------------------------------------------------------
canbus_uuid:  change-me-to-the-correct-can-id
##--------------------------------------------------------------------


[board_pins mcu_sht36_42]
mcu: toolhead
aliases:
# steppers
    X_STOP=PA0,
    E_STEP=PB4,  E_DIR=PB3,  E_ENABLE=PA15,  E_TMCUART=PB5,
#hotend
    E_HEATER=PA8, E_TEMPERATURE=PB0, E_FAN=PB10,
    PART_FAN=PB11,
#probe
    PROBE_INPUT=PA1,
#light
    STATUS_NEOPIXEL=PB15,
#adxl
    ADXL_CS=PA4
