# If you want to override the wiring of one of the SKR board, keep in mind that each board
# have its own name. One is "mcu", the other is "secondary". So you should use for
# example "pin: secondary:PIN_NAME" in your own overrides.cfg files.

[include manufacturer/BTT_SKR_v1.4.cfg]

[board_pins xye_SKR_mcu]
mcu: mcu
aliases:
    X_STEP=XM_STEP , X_DIR=XM_DIR , X_ENABLE=XM_ENABLE , X_TMCUART=XM_UART ,
    Y_STEP=YM_STEP , Y_DIR=YM_DIR , Y_ENABLE=YM_ENABLE , Y_TMCUART=YM_UART ,

    E_STEP=E0M_STEP , E_DIR=E0M_DIR , E_ENABLE=E0M_ENABLE , E_TMCUART=E0M_UART ,

    GEAR_STEP=ZM_STEP         , GEAR_DIR=ZM_DIR         , GEAR_ENABLE=ZM_ENABLE         , GEAR_TMCUART=ZM_UART     ,
    SELECTOR_STEP=E1M_STEP , SELECTOR_DIR=E1M_DIR , SELECTOR_ENABLE=E1M_ENABLE , SELECTOR_TMCUART=E1M_UART ,
    SELECTOR_DIAG=ZSTOP ,

    GEAR_STOP=E1DET , SELECTOR_STOP=E1DET ,

    ERCF_SERVO=E0DET     ,
    ERCF_ENCODER=PWRDET  ,
    TOOLHEAD_SENSOR=ZSTOP ,

    X_STOP=XSTOP , Y_STOP=YSTOP ,

    E_HEATER=HE0 , E_TEMPERATURE=TH0 ,

    PART_FAN=FAN0 , E_FAN=HE1 ,
    EXHAUST_FAN=BED ,

    CHAMBER_TEMPERATURE=TH1 ,

    LIGHT_NEOPIXEL=NEOPIXEL ,


[board_pins z_SKR_mcu]
mcu: secondary
aliases:
    Z_STEP=XM_STEP   , Z_DIR=XM_DIR   , Z_ENABLE=XM_ENABLE   , Z_TMCUART=XM_UART   ,
    Z1_STEP=YM_STEP  , Z1_DIR=YM_DIR  , Z1_ENABLE=YM_ENABLE  , Z1_TMCUART=YM_UART  ,
    Z2_STEP=ZM_STEP  , Z2_DIR=ZM_DIR  , Z2_ENABLE=ZM_ENABLE  , Z2_TMCUART=ZM_UART  ,
    Z3_STEP=E0M_STEP , Z3_DIR=E0M_DIR , Z3_ENABLE=E0M_ENABLE , Z3_TMCUART=E0M_UART ,

    Z_STOP=ZSTOP ,
    PROBE_INPUT=PROBE ,
    RUNOUT_SENSOR=E0DET ,

    BED_HEATER=HE1 , BED_TEMPERATURE=TB ,

    CONTROLLER_FAN=HE0 ,
    FILTER_FAN=FAN0    ,

    ELECTRICAL_CABINET_TEMPERATURE=TH0 ,

    STATUS_NEOPIXEL=NEOPIXEL ,
    LIGHT_OUTPUT=BED ,

    ADXL_CS=SPI_CS ,
