[mcu toolhead]
##	MCU for E steppers
##--------------------------------------------------------------------
canbus_uuid: dd96b998c9c6
##--------------------------------------------------------------------


[board_pins mcu_EBBCan]
mcu: toolhead
aliases:

# steppers
	E_STEP=PD0,  E_DIR=PD1,  E_ENABLE=PD2,  E_TMCUART=PA15,
	X_STOP=PB8,
# hotend
	E_HEATER=PB13, E_TEMPERATURE=PA3, E_FAN=PA1,
	PART_FAN=PA0,

# probe
	PROBE_INPUT=PB6,

# adxl
	ADXL_CS=PB12, ADXL_SCLK=PB10, ADXL_MOSI=PB11, ADXL_MISO=PB2,

# light
	LIGHT_OUPUT=P2.5,
	STATUS_NEOPIXEL=PD3