[board_pins mcu_ercf]
mcu: ercf
aliases:

# steppers
    GEAR_STEP=gpio10 ,    GEAR_DIR=gpio9 ,     GEAR_ENABLE=gpio8 ,     GEAR_TMCUART=gpio20 ,    GEAR_STOP=gpio24,
    GEAR_DIAG=gpio13,
    SELECTOR_STEP=gpio16, SELECTOR_DIR=gpio15, SELECTOR_ENABLE=gpio14, SELECTOR_TMCUART=gpio17, SELECTOR_STOP=gpio24,
    SELECTOR_DIAG=gpio19,

# servo
    ERCF_SERVO=gpio23,

# encoder
    ERCF_ENCODER=gpio22,
