# If you want to override the wiring of the Mellow Fly ERCF board, keep in mind that this
# board is defined using the "ercf" name. So you should use "pin: ercf:PIN_NAME"
# in your own override files.

[include manufacturer/Mellow_fly_ERCF.cfg]

[board_pins mcu_ercf]
mcu: ercf
aliases:
    GEAR_STEP=GEAR_STEP         , GEAR_DIR=GEAR_DIR         , GEAR_ENABLE=GEAR_ENABLE     , GEAR_TMCUART=GEAR_UART      ,
    SELECTOR_STEP=SELECTOR_STEP , SELECTOR_DIR=SELECTOR_DIR , SELECTOR_ENABLE=SELECTOR_EN , SELECTOR_TMCUART=SELECTOR_UART ,
    SELECTOR_DIAG=SELECTOR_DIAG ,

    GEAR_STOP=ENDSTOP , SELECTOR_STOP=ENDSTOP ,

    SPI_SCLK=SCK , SPI_MOSI=MOSI , SPI_MISO=MISO , DIAG0=P13 ,

    TOOLHEAD_SENSOR=EXTRA ,
    ERCF_SERVO=SERVO      ,
    ERCF_ENCODER=ENCODER  ,


# EXTRA_PINS
    EXTRA_PINS1=<GND>  , EXTRA_PINS2=<GND>  ,
    EXTRA_PINS3=<3.3V> , EXTRA_PINS4=<3.3V> ,
    EXTRA_PINS5=P26    , EXTRA_PINS6=P10    ,
    EXTRA_PINS7=P27    , EXTRA_PINS8=P11    ,
    EXTRA_PINS9=P28    , EXTRA_PINS10=P12   ,
    EXTRA_PINS11=P29   , EXTRA_PINS12=P24   ,
    EXTRA_PINS13=P25   , EXTRA_PINS14=P13   ,