[mcu]
##	MCU for X/Y/E steppers main MCU
##	[X in X] - B Motor
##	[Y in Y] - A Motor
##	[E in E0] - Extruder
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_lpc1769_05A0FF0AC0846AAFBBCA555EC62000F5-if00
##--------------------------------------------------------------------

[mcu z]
##	MCU for Z steppers
##	[Z in X] - Front Left
##	[Z1 in Y] - Rear Left
##	[Z2 in Z] - Rear Right
##	[Z3 in E0]- Front Right
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_lpc1769_19D0000AC0846AAF8FC8555EC72000F5-if00
##--------------------------------------------------------------------


[board_pins mcu_xy]
aliases:

# steppers
    X_STEP=P2.2 ,  X_DIR=P2.6 ,  X_ENABLE=P2.1 ,  X_TMCUART=P1.10,  X_STOP=P1.27,
    Y_STEP=P0.19,  Y_DIR=P0.20,  Y_ENABLE=P2.8 ,  Y_TMCUART=P1.9 ,  Y_STOP=P1.25,
    E_STEP=P2.13,  E_DIR=P0.11,  E_ENABLE=P2.12,  E_TMCUART=P1.4 ,

# hotend
    E_HEATER=P2.7, E_TEMPERATURE=P0.24, E_FAN=P2.4,
    PART_FAN=P2.3,

# runout_sensor
    RUNOUT_SENSOR=P0.10,

# sensor
    CHAMBER_TEMPERATURE=P0.25,

#light
    LIGHT_NEOPIXEL=P1.24,

# EXP1 / EXP2 (display) pins
    # EXP1 header
    EXP1_1=P1.30, EXP1_2=P0.28,
    EXP1_3=P1.18, EXP1_4=P1.19,
    EXP1_5=P1.20, EXP1_6=P1.21,
    EXP1_7=P1.22, EXP1_8=P1.23,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=P0.17, EXP2_2=P0.15,
    EXP2_3=P3.26, EXP2_4=P0.16,
    EXP2_5=P3.25, EXP2_6=P0.18,
    EXP2_7=P1.31, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>,


[board_pins mcu_z]
mcu: z
aliases:

# steppers
    Z_STEP=P2.2  ,  Z_DIR=P2.6  ,   Z_ENABLE=P2.1  ,  Z_TMCUART=P1.10 ,  Z_STOP=P1.25,
    Z1_STEP=P0.19,  Z1_DIR=P0.20,   Z1_ENABLE=P2.8 ,  Z1_TMCUART=P1.9 ,
    Z2_STEP=P0.22,  Z2_DIR=P2.11,   Z2_ENABLE=P0.21,  Z2_TMCUART=P1.8 ,
    Z3_STEP=P2.13,  Z3_DIR=P0.11,   Z3_ENABLE=P2.12,  Z3_TMCUART=P1.4 ,

# bed
    BED_HEATER=P2.3, BED_TEMPERATURE=P0.25, 

# probe
    PROBE_INPUT=P0.10,

# recirculating filter
    FILTER_FAN=P2.7,

# EXHAUST FAN
    EXHAUST_FAN=P2.5,
   
# controller fan
    CONTROLLER_FAN=P2.4,

# adxl
    ADXL_CS=P0.26,

# light
    LIGHT_OUTPUT=P2.5,
    STATUS_NEOPIXEL=P1.24,

# sensor
    ELECTRICAL_CABINET_TEMPERATURE=P0.24,
