[mcu]
##  You need to select 'Communication interface' to USB in 'make menuconfig'
##  when you compile Klipper for Spider
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
#serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_230032000851363131363530-if00
##	If you want to use the Raspberry uart0 to communicate with Spider, 
##  you need to select 'Communication interface' to 'Serial (on USART1 PA10/PA9)' 
##  in 'make menuconfig' when you compile klipper and set the serial as below
##--------------------------------------------------------------------
serial: /dev/ttyAMA0
restart_method: command
##--------------------------------------------------------------------


[board_pins mcu]
aliases:
# steppers
	X_STEP=PE11 , X_DIR=PE10 , X_ENABLE=PE9  , X_TMCUART=PE7  , 
	Y_STEP=PD8  , Y_DIR=PB12 , Y_ENABLE=PD9  , Y_TMCUART=PE15 , Y_STOP=PA2,

	Z_STEP=PD14 , Z_DIR=PD13 , Z_ENABLE=PD15 , Z_TMCUART=PD10 , Z_STOP=PA0,
	Z1_STEP=PE6 , Z1_DIR=PC13, Z1_ENABLE=PE5 , Z1_TMCUART=PC14,
	Z2_STEP=PE2 , Z2_DIR=PE4 , Z2_ENABLE=PE3 , Z2_TMCUART=PC15,
	Z3_STEP=PD12, Z3_DIR=PC4 , Z3_ENABLE=PE8 , Z3_TMCUART=PA15,

#bed
	BED_HEATER=PC8, BED_TEMPERATURE=PC3, 
	ELECTRICAL_CABINET_TEMPERATURE=PC1,
	RUNOUT_SENSOR=PA1,
#nevermore
	FILTER_FAN=PB2,
#sensor
	CHAMBER_TEMPERATURE=PC1,
#light
	LIGHT_OUTPUT=PB3,


[mcu huvud]
canbus_uuid:  e383b68b7ae7


[board_pins mcu_huvud]
mcu: huvud
aliases:
# steppers
	X_STOP=PA0,
	E_STEP=PB4,  E_DIR=PB3,  E_ENABLE=PA15,  E_TMCUART=PB5 ,
#hotend
	E_HEATER=PA8, E_TEMPERATURE=PB0, E_FAN=PB10,
	PART_FAN=PB11,
#probe
	PROBE_INPUT=PA1,
#light
	STATUS_NEOPIXEL=PB15,
#adxl
	ADXL_CS=PA4
