[mcu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
##--------------------------------------------------------------------


[board_pins mcu]
aliases:
# steppers
    X_STEP=PE11 , X_DIR=PE10 , X_ENABLE=PE9 , X_TMCUART=PE7  , X_STOP=PB14,
    Y_STEP=PD8  , Y_DIR=PB12 , Y_ENABLE=PD9 , Y_TMCUART=PE15 , Y_STOP=PB13,
    Z_STEP=PD14 , Z_DIR=PD13 , Z_ENABLE=PD15, Z_TMCUART=PD10 , Z_STOP=PA0,
    Z1_STEP=PE6 , Z1_DIR=PC13, Z1_ENABLE=PE5, Z1_TMCUART=PC14,
    Z2_STEP=PE2 , Z2_DIR=PE4 , Z2_ENABLE=PE3, Z2_TMCUART=PC15,
    Z3_STEP=PD12, Z3_DIR=PC4 , Z3_ENABLE=PE8, Z3_TMCUART=PA15,
    E_STEP=PD5  , E_DIR=PD6  , E_ENABLE=PD4 , E_TMCUART=PD7  ,
#hotend
    E_HEATER=PB15, E_TEMPERATURE=PC0, E_FAN=PA13,
    PART_FAN=PA14,
#bed
    BED_HEATER=PC8, BED_TEMPERATURE=PC1,

#chamber
    CHAMBER_TEMPERATURE=PF5,

# recirculating filter
    FILTER_FAN=PB3,

#probe
    PROBE_INPUT=PA3,

#lights
    LIGHT_OUTPUT=PB2,
    LIGHT_NEOPIXEL=PD3,
    STATUS_NEOPIXEL=PA2,

# sensor
	ELECTRICAL_CABINET_TEMPERATURE=PC3,

# runout_sensor
    RUNOUT_SENSOR=PA1
