[mcu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
restart_method: command
##--------------------------------------------------------------------


[board_pins mcu]
aliases:
# steppers
    X_STEP=PE11 , X_DIR=PE10 , X_ENABLE=PE9 , X_TMCUART=PE7  , X_STOP=PB14,
    Y_STEP=PD8  , Y_DIR=PB12 , Y_ENABLE=PD9 , Y_TMCUART=PE15 , Y_STOP=PB13,
    Z_STEP=PD14 , Z_DIR=PD13 , Z_ENABLE=PD15, Z_TMCUART=PD10 , Z_STOP=PA0,
    Z1_STEP=PE6 , Z1_DIR=PC13, Z1_ENABLE=PE5, Z1_TMCUART=PC14,
    Z2_STEP=PE2 , Z2_DIR=PE4 , Z2_ENABLE=PE3, Z2_TMCUART=PC15,
    Z3_STEP=PD12, Z3_DIR=PC4 , Z3_ENABLE=PE8, Z3_TMCUART=PA15,
    E_STEP=PD5  , E_DIR=PD6  , E_ENABLE=PD4 , E_TMCUART=PD7  ,
#hotend
    E_HEATER=PB15, E_TEMPERATURE=PC0, E_FAN=PB0,
    PART_FAN=PB1,
#bed
    BED_HEATER=PC8, BED_TEMPERATURE=PC1,

#chamber
    CHAMBER_TEMPERATURE=PF5,

# recirculating filter
    FILTER_FAN=PB3,

#probe
    PROBE_INPUT=PA3,

#lights
    LIGHT_OUTPUT=PB2,
    LIGHT_NEOPIXEL=PD3,
    STATUS_NEOPIXEL=PA2,

# sensor
    ELECTRICAL_CABINET_TEMPERATURE=PC3,

# runout_sensor
    RUNOUT_SENSOR=PA1,

# EXP1 / EXP2 (display) pins
    # EXP1 header
    EXP1_1=PA6, EXP1_2=PA5,
    EXP1_3=PC6, EXP1_4=<SS>,
    EXP1_5=PC7, EXP1_6=PA7,    # Slot in the socket on this side
    EXP1_7=PB10, EXP1_8=<RST>,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PC9, EXP2_2=PA8,
    EXP2_3=PC11, EXP2_4=PD2,
    EXP2_5=PC10, EXP2_6=PC12,      # Slot in the socket on this side
    EXP2_7=PD0, EXP2_8=PD0,
    EXP2_9=<GND>, EXP2_10=<5V>
