# If you want to override the wiring of the ERCF easy brd, keep in mind that this
# board is defined using the "ercf" name. So you should use "pin: ercf:PIN_NAME"
# in your own override files.

[include manufacturer/Tircown_ERCF_easy_brd.cfg]
