# If you want to override the wiring of the ERCF easy brd, keep in mind that this
# board is defined using the "ercf" name. So you should use "pin: ercf:PIN_NAME"
# in your own overrides.cfg files.

[include manufacturer/Tircown_ERCF_easy_brd.cfg]

[board_pins mcu_ercf]
mcu: ercf
aliases:
    GEAR_TMCUART=TMCUART     ,
    SELECTOR_TMCUART=TMCUART ,

    ERCF_SERVO=SERVO ,

    ERCF_ENCODER=ENCODER ,
