# This probe type is for a Beacon probe used directly as a virtual Z endstop
# rather than with an existing physical endstop. To use this configuration,
# you will need to manually add the Beacon Klipper plugin!

## Then, you should just add the following two lines to your overrides and everything should work!
## The rest of the allowed config entries are available on this link: config/hardware/probes/inductive_virtual.cfg
# [beacon]
# serial: /dev/serial/by-id/usb-Beacon_Beacon_...


[gcode_macro _USER_VARIABLES]
# We can declare an "inductive_virtual" probe type as it's pretty close to the Beacon way of working and should just work!
variable_probe_type_enabled: "inductive_virtual"
variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "tilt_calib", "extruder_heating", "purge", "clean", "z_offset", "bedmesh", "primeline"
gcode:

# Beacon probe definition also include the probe management macro directly from here
[include ../../../macros/base/probing/generic_probe.cfg]

[stepper_z]
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0
