# This probe type is for an BLTouch probe used directly as a virtual Z endstop rather than
# with an existing physical endstop. This configuration is common if you are running a
# Voron Switchwire or other "bed slinger" that does not have a fixed Z endstop at bed
# height.

[gcode_macro _USER_VARIABLES]
variable_probe_type_enabled: "bltouch"
variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "tilt_calib", "extruder_heating", "purge", "clean", "z_offset", "bedmesh", "primeline"
gcode:

# The BLTouch probe definition also includes the probe management and
# overides directly from here
[include ../../../macros/base/probing/generic_probe.cfg]

[bltouch]
sensor_pin: ^PROBE_INPUT
control_pin: SERVO_PIN
x_offset: 0.0
y_offset: 0.0
z_offset: 0
samples: 1
sample_retract_dist: 3.0
samples_result: median
samples_tolerance: 0.004
samples_tolerance_retries: 1

[stepper_z]
endstop_pin: probe:z_virtual_endstop
