# This probe type is for an BLTouch probe used directly as a virtual Z endstop rather than
# with an existing physical endstop. This configuration is common if you are running a
# Voron Switchwire or other "bed slinger" that does not have a fixed Z endstop at bed
# height.

[gcode_macro _USER_VARIABLES]
variable_probe_type_enabled: "bltouch"
variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "tilt_calib", "extruder_heating", "purge", "clean", "z_offset", "bedmesh", "primeline"
gcode:

# The BLTouch probe definition also includes the probe management and
# overides directly from here
[include ../../../macros/base/probing/generic_probe.cfg]

[bltouch]
sensor_pin: ^PROBE_INPUT
#   Pin connected to the BLTouch sensor pin. Most BLTouch devices require a
#   pullup on the sensor pin (prefix the pin name with "^").
#
#   This parameter must be provided.

control_pin: SERVO_PIN
#   Pin connected to the BLTouch control pin.
#
#   This parameter must be provided.

# pin_move_time: 0.680
#   The amount of time (in seconds) to wait for the BLTouch pin to move up or
#   down.
#
#   The default is 0.680 seconds.

# stow_on_each_sample: True
#   This determines if Klipper should command the pin to move up between each
#   probe attempt when performing a multiple probe sequence.
#
#   Read the directions in docs/BLTouch.md before setting this to False.
#
#   The default is True.

# probe_with_touch_mode: False
#   If this is set to True then Klipper will probe with the device in
#   "touch_mode".
#
#   The default is False (probing in "pin_down" mode).

# pin_up_reports_not_triggered: True
#   Set if the BLTouch consistently reports the probe in a "not triggered" state
#   after a successful "pin_up" command.
#
#   This should be True for all genuine BLTouch devices.
#
#   Read the directions in docs/BLTouch.md before setting this to False.
#
#   The default is True.

# pin_up_touch_mode_reports_triggered: True
#   Set if the BLTouch consistently reports a "triggered" state after the
#   commands "pin_up" followed by "touch_mode".
#
#   This should be True for all genuine BLTouch devices.
#
#   Read the directions in docs/BLTouch.md before setting this to False.
#
#   The default is True.

# set_output_mode:
#   Request a specific sensor pin output mode on the BLTouch V3.0 (and later).
#
#   This setting should not be used on other types of probes.
#
#   Set to "5V" to request a sensor pin output of 5 Volts (only use if the
#   controller board needs 5V mode and is 5V tolerant on its input signal line).
#
#   Set to "OD" to request the sensor pin output use open drain mode.
#
#   The default is to not request an output mode.

x_offset: 0.0
#   The distance (in mm) between the probe and the nozzle along the x-axis.
#
#   The default is 0.

y_offset: 0.0
#   The distance (in mm) between the probe and the nozzle along the y-axis.
#
#   The default is 0.

z_offset: 0
#   The distance (in mm) between the bed and the nozzle when the probe triggers.
#
#   This parameter must be provided.

# speed: 5.0
#   Speed (in mm/s) of the Z axis when probing.
#
#   The default is 5mm/s.

samples: 1
#   The number of times to probe each point. The probed z-values will be
#   averaged.
#
#   The default is to probe 1 time.

sample_retract_dist: 3.0
#   The distance (in mm) to lift the toolhead between each sample (if sampling
#   more than once).
#
#   The default is 2mm.

# lift_speed:
#   Speed (in mm/s) of the Z axis when lifting the probe between samples.
#
#   The default is to use the same value as the 'speed' parameter.

samples_result: median
#   The calculation method when sampling more than once - either "median" or
#   "average".
#
#   The default is average.

samples_tolerance: 0.004
#   The maximum Z distance (in mm) that a sample may differ from other samples.
#
#   If this tolerance is exceeded then either an error is reported or the
#   attempt is restarted (see samples_tolerance_retries).
#
#   The default is 0.100mm.

samples_tolerance_retries: 1
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance.
#
#   On a retry, all current samples are discarded and the probe attempt is
#   restarted.
#
#   If a valid set of samples are not obtained in the given number of retries
#   then an error is reported.
#
#   The default is zero which causes an error to be reported on the first sample
#   that exceeds samples_tolerance.

[stepper_z]
endstop_pin: probe:z_virtual_endstop
