# This probe type is for Cartographer Survey Touch used as a virtual Z endstop.
# Install the Cartographer Klipper plugin and configure the scanner MCU before enabling.

[gcode_macro _USER_VARIABLES]
variable_probe_type_enabled: "cartographer_touch"
variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "tilt_calib", "z_offset", "bedmesh", "clean", "contact_z_home", "extruder_heating", "purge", "clean", "primeline"
variable_probe_uses_virtual_z: True
variable_probe_uses_nozzle_contact: True
variable_probe_needs_contact_temp_guard: True
variable_probe_hook_family: "cartographer_touch"
variable_probe_contact_z_home_mode: "hook"
variable_probe_contact_auto_calibrate_mode: "none"
variable_probe_unsupported_contact_action_policy: "warn"
gcode:

[include ../../../macros/base/homing/homing_override.cfg]
[include ../../../macros/base/probing/generic_probe.cfg]
[include ../../../macros/base/probing/hooks/cartographer_touch.cfg]

[scanner]
mcu: scanner
sensor: cartographer
sensor_alt: carto
x_offset: 0
y_offset: 15
backlash_comp: 0.5
mesh_runs: 2

[stepper_z]
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0
