# This probe type is for a cartographer probe used directly as a virtual Z endstop
# rather than with an existing physical endstop. To use this configuration,
# you will need to manually add the cartographer Klipper plugin!

[gcode_macro _USER_VARIABLES]
variable_probe_type_enabled: "cartographer_touch"
variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "tilt_calib", "z_offset", "bedmesh", "clean", "cartographer_touch", "extruder_heating", "purge", "clean", "primeline"
variable_homing_zhop: 10
gcode:

# Cartographer 3D probe definition also include the probe management macro directly from here
[include ../../../macros/base/probing/generic_probe.cfg]

[scanner]
mcu: scanner
#   Offsets are measured from the centre of your coil, to the tip of your nozzle
#   on a level axis. It is vital that this is accurate.
x_offset: 0
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 15
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.5
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc
mesh_runs: 2
#    Number of passes to make during mesh scan.

[bed_mesh]
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
probe_count: 30, 30
algorithm: bicubic

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105

[stepper_z]
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0
