# This probe type is for the Cartographer3D probe used directly as a virtual Z endstop
# rather than with an existing physical endstop. To use this configuration,
# you will need to manually add the Cartographer3D Klipper plugin!

[gcode_macro _USER_VARIABLES]
variable_probe_type_enabled: "cartographer_survey"
variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "tilt_calib", "clean", "z_offset", "bedmesh", "extruder_heating", "purge", "clean", "primeline"
variable_cartographer_survey_randomise_tap: 5 #(in mm)
gcode:

# TAP probe definition also include the probe management macro directly from here
[include ../../../macros/base/probing/generic_probe.cfg]

[cartographer]
mcu: scanner
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
# x_offset: 0
#   This is the offset of your probe from the nozzle tip, to the centre of the coil.
# y_offset: 15
#   This is the offset of your probe from the nozzle tip, to the centre of the coil.
# verbose: yes
#   For extra output

[stepper_z]
endstop_pin: probe:z_virtual_endstop # use cartographer as virtual endstop
homing_retract_dist: 0 # cartographer needs this to be set to 0
