# Chaotic Lab CNC Tap is a little less sensitive, and needs it's own settings.
# It is based on the default voron_tap config
# @see (https://github.com/Chaoticlab/CNC-Tap-for-Voron/blob/master/Manual/CNC%20Tap%20V2.cfg)
[include voron_tap.cfg]

[probe]
speed: 5.0
samples: 2
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.05
samples_tolerance_retries: 3