# This probe type is for a dockable probe (Klicky, Euclid, etc) used directly as a virtual
# Z endstop rather than with an existing physical endstop. This configuration is common
# if you are running a Voron Switchwire or other "bed slinger" that does not have a fixed Z
# endstop at bed height.

[gcode_macro _USER_VARIABLES]
variable_probe_type_enabled: "dockable_virtual"
variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "tilt_calib", "extruder_heating", "purge", "clean", "z_offset", "bedmesh", "primeline"
gcode:

# Dockable probe definition also include the probe management and overrides directly from here
[include ../../../macros/base/probing/generic_probe.cfg]
[include ../../../macros/base/probing/dockable_probe.cfg]
[include ../../../macros/base/probing/overrides/dockable_probe_overrides.cfg]

[probe]
pin: ^PROBE_INPUT
x_offset: 0
y_offset: 19.75
z_offset: 6.42
speed: 8
lift_speed: 15
samples: 2
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.007
samples_tolerance_retries: 3

[stepper_z]
endstop_pin: probe:z_virtual_endstop
