[gcode_macro _USER_VARIABLES]
variable_probe_type_enabled: "dockable"
variable_startprint_actions: "bed_soak", "chamber_soak", "tilt_calib", "extruder_heating", "purge", "clean", "z_offset", "bedmesh", "primeline"
gcode:

# Dockable probe definition also include the probe management and overides directly from here
[include ../../../macros/base/probing/generic_probe.cfg]
[include ../../../macros/base/probing/dockable_probe.cfg]
[include ../../../macros/base/probing/overides/dockable_probe_overides.cfg]

[probe]
pin: ^PROBE_INPUT
x_offset: 0
y_offset: 19.75
z_offset: 6.42
speed: 8
lift_speed: 15
samples: 2
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.007
samples_tolerance_retries: 3

[stepper_z]
position_endstop: 0
