# When no probe is installed on the machine, there is still the need to define a corresponding default START_PRINT sequence.
# If you want to write your own sequence, have a look at your overrides.cfg file!
[gcode_macro _USER_VARIABLES]
variable_startprint_actions: "bed_soak", "chamber_soak", "extruder_heating", "purge", "clean", "z_offset", "primeline"
gcode:
