[gcode_macro _USER_VARIABLES]
variable_probe_type_enabled: "vorontap"
variable_startprint_actions: "bed_soak", "chamber_soak", "clean", "tilt_calib", "z_offset", "bedmesh", "extruder_heating", "purge", "clean", "primeline"
gcode:

# TAP probe definition also include the probe management macro directly from here
[include ../../../macros/base/probing/generic_probe.cfg]

[probe]
pin: ^PROBE_INPUT
x_offset: 0
y_offset: 0
z_offset: 0
speed: 5
lift_speed: 10
samples: 3
samples_result: median
sample_retract_dist: 1.0
samples_tolerance: 0.005
samples_tolerance_retries: 3

[stepper_z]
endstop_pin: probe:z_virtual_endstop
