[board_pins ercf_manufacturer]
mcu: ercf
aliases:

# steppers
    GEAR_MOTOR_STEP=gpio10     , GEAR_MOTOR_DIR=gpio9      , GEAR_MOTOR_EN=gpio8      , GEAR_MOTOR_UART=gpio20     ,
    GEAR_MOTOR_DIAG=gpio13     ,
    SELECTOR_MOTOR_STEP=gpio16 , SELECTOR_MOTOR_DIR=gpio15 , SELECTOR_MOTOR_EN=gpio14 , SELECTOR_MOTOR_UART=gpio17 ,
    SELECTOR_MOTOR_DIAG=gpio19 ,

    HALL_SENSOR=gpio25 ,
    ENDSTOP=gpio24     ,
    SERVO=gpio23       ,
    ENCODER=gpio22     ,
    RGB=gpio21         ,

# EXTRA_PINS
    UART0_TX=gpio0  , UART0_RX=gpio1  ,
    SPI0_SCK=gpio2  , SPI0_MISO=gpio3 ,
    SPI0_MOSI=gpio4 , SPI0_CS=gpio5   ,
    I2C1_SDA=gpio6  , I2C1_SCL=gpio7  ,
    ADC0=gpio26     , ADC1=gpio27     ,
    ADC2=gpio28     , ADC3=gpio29     ,
    GND=<GND>       , 5V=<5V>         ,
