###################################################
# First board_pins definition is for the main MCU #
###################################################

[board_pins mcu]
aliases:
    X_MOT_STEP=PE11  , X_MOT_DIR=PE10  , X_MOT_ENABLE=PE9  , X_MOT_CS_PDN=PE7   ,
    Y_MOT_STEP=PD8   , Y_MOT_DIR=PB12  , Y_MOT_ENABLE=PD9  , Y_MOT_CS_PDN=PE15  ,
    Z_MOT_STEP=PD14  , Z_MOT_DIR=PD13  , Z_MOT_ENABLE=PD15 , Z_MOT_CS_PDN=PD10  ,
    E0_MOT_STEP=PD5  , E0_MOT_DIR=PD6  , E0_MOT_ENABLE=PD4 , E0_MOT_CS_PDN=PD7  ,
    E1_MOT_STEP=PE6  , E1_MOT_DIR=PC13 , E1_MOT_ENABLE=PE5 , E1_MOT_CS_PDN=PC14 ,
    E2_MOT_STEP=PE2  , E2_MOT_DIR=PE4  , E2_MOT_ENABLE=PE3 , E2_MOT_CS_PDN=PC15 ,
    E3_MOT_STEP=PD12 , E3_MOT_DIR=PC4  , E3_MOT_ENABLE=PE8 , E3_MOT_CS_PDN=PA15 ,
    E4_MOT_STEP=PE1  , E4_MOT_DIR=PE0  , E4_MOT_ENABLE=PC5 , E4_MOT_CS_PDN=PD11 ,
    TMC_MOSI=PE14    , TMC_MISO=PE13   , TMC_SCK=PE12      ,

    X_MIN=PB14 , Y_MIN=PB13 , Z_MIN=PA0 ,
    X_MAX=PA1  , Y_MAX=PA2  , Z_MAX=PA3 ,

    FAN0=PB0 , FAN1= PB1 , FAN2=PB2 ,

    RGB_R=PB6 , RGB_G=PB5 , RGB_B=PB7 , 5V_RGB_DATA=PD3 ,

    E0_OUT=PB15 , E1_OUT=PC8 , E2_OUT=PB3 ,

    BED_OUT=PB4 ,

    TE0=PC0 , TE1=PC1 , TE2=PC2 , TB=PC3 ,

    I2C_SLC=PB8         , I2C_SDA=PB9           ,
    SWD_DIO=PA13        , SWD_CLK=PA14          ,
    Pi_PWR_UART_TX1=PA9 , Pi_PWR_UART_RX1=PA10  ,
    P2_DP=PA12          , P2_DM=PA11            ,

    # AUX3 header
    AUX3_5V=<5V>    , AUX3_CD=PB10    ,
    AUX3_MISO=PA6   , AUX3_MOSI=PA7   ,
    AUX3_SCK=PA5    , AUX3_CS=PA4     ,
    AUX3_GND=<GND>  , AUX3_RST=<RST>  ,

    # EXP1 header
    EXP1_1=<5V>  , EXP1_2=<GND>  ,
    EXP1_3=PD1   , EXP1_4=PD0    ,
    EXP1_5=PC12  , EXP1_6=PC10   ,   # Slot in the socket on this side
    EXP1_7=PD2   , EXP1_8=PC11   ,
    EXP1_9=PA8   , EXP1_10= PC9  ,

    # EXP2 header
    EXP2_1=<5V>   , EXP2_2=<GND>  ,
    EXP2_3=<RST>  , EXP2_4=PB10   ,
    EXP2_5=PA7    , EXP2_6=PC7    ,   # Slot in the socket on this side
    EXP2_7=PA4    , EXP2_8=PC6    ,
    EXP2_9=PA5    , EXP2_10=PA6   ,


##############################################################
# Second board_pins definition is in case of a secondary MCU #
##############################################################

[board_pins secondary]
mcu: secondary
aliases:
    X_MOT_STEP=PE11  , X_MOT_DIR=PE10  , X_MOT_ENABLE=PE9  , X_MOT_CS_PDN=PE7   ,
    Y_MOT_STEP=PD8   , Y_MOT_DIR=PB12  , Y_MOT_ENABLE=PD9  , Y_MOT_CS_PDN=PE15  ,
    Z_MOT_STEP=PD14  , Z_MOT_DIR=PD13  , Z_MOT_ENABLE=PD15 , Z_MOT_CS_PDN=PD10  ,
    E0_MOT_STEP=PD5  , E0_MOT_DIR=PD6  , E0_MOT_ENABLE=PD4 , E0_MOT_CS_PDN=PD7  ,
    E1_MOT_STEP=PE6  , E1_MOT_DIR=PC13 , E1_MOT_ENABLE=PE5 , E1_MOT_CS_PDN=PC14 ,
    E2_MOT_STEP=PE2  , E2_MOT_DIR=PE4  , E2_MOT_ENABLE=PE3 , E2_MOT_CS_PDN=PC15 ,
    E3_MOT_STEP=PD12 , E3_MOT_DIR=PC4  , E3_MOT_ENABLE=PE8 , E3_MOT_CS_PDN=PA15 ,
    E4_MOT_STEP=PE1  , E4_MOT_DIR=PE0  , E4_MOT_ENABLE=PC5 , E4_MOT_CS_PDN=PD11 ,
    TMC_MOSI=PE14    , TMC_MISO=PE13   , TMC_SCK=PE12      ,

    X_MIN=PB14 , Y_MIN=PB13 , Z_MIN=PA0 ,
    X_MAX=PA1  , Y_MAX=PA2  , Z_MAX=PA3 ,

    FAN0=PB0 , FAN1= PB1 , FAN2=PB2 ,

    RGB_R=PB6 , RGB_G=PB5 , RGB_B=PB7 , 5V_RGB_DATA=PD3 ,

    E0_OUT=PB15 , E1_OUT=PC8 , E2_OUT=PB3 ,

    BED_OUT=PB4 ,

    TE0=PC0 , TE1=PC1 , TE2=PC2 , TB=PC3 ,

    I2C_SLC=PB8         , I2C_SDA=PB9           ,
    SWD_DIO=PA13        , SWD_CLK=PA14          ,
    Pi_PWR_UART_TX1=PA9 , Pi_PWR_UART_RX1=PA10  ,
    P2_DP=PA12          , P2_DM=PA11            ,

    # AUX3 header
    AUX3_5V=<5V>    , AUX3_CD=PB10    ,
    AUX3_MISO=PA6   , AUX3_MOSI=PA7   ,
    AUX3_SCK=PA5    , AUX3_CS=PA4     ,
    AUX3_GND=<GND>  , AUX3_RST=<RST>  ,

    # EXP1 header
    EXP1_1=<5V>  , EXP1_2=<GND>  ,
    EXP1_3=PD1   , EXP1_4=PD0    ,
    EXP1_5=PC12  , EXP1_6=PC10   ,   # Slot in the socket on this side
    EXP1_7=PD2   , EXP1_8=PC11   ,
    EXP1_9=PA8   , EXP1_10= PC9  ,

    # EXP2 header
    EXP2_1=<5V>   , EXP2_2=<GND>  ,
    EXP2_3=<RST>  , EXP2_4=PB10   ,
    EXP2_5=PA7    , EXP2_6=PC7    ,   # Slot in the socket on this side
    EXP2_7=PA4    , EXP2_8=PC6    ,
    EXP2_9=PA5    , EXP2_10=PA6   ,
