[board_pins ercf_manufacturer]
mcu: ercf
aliases:

# steppers
    GEAR_STEP=gpio7      , GEAR_DIR=gpio8     , GEAR_EN=gpio6     , GEAR_UART=gpio9     ,
    GEAR_DIAG=gpio23     ,
    SELECTOR_STEP=gpio2  , SELECTOR_DIR=gpio1 , SELECTOR_EN=gpio3 , SELECTOR_UART=gpio0 ,
    SELECTOR_DIAG=gpio22 ,

    ENDSTOP=gpio20 ,
    SERVO=gpio21   ,
    ENCODER=gpio15 ,
    EXTRA=gpio14   ,

    MISO=gpio16 , MOSI=gpio18 , SCK=gpio19 ,

# EXTRA_PINS
    GND=<GND>   , GND=<GND>   ,
    3.3V=<3.3V> , 3.3V=<3.3V> ,
    P26=gpio26  , P10=gpio10  ,
    P27=gpio27  , P11=gpio11  ,
    P28=gpio28  , P12=gpio12  ,
    P29=gpio29  , P24=gpio24  ,
    P25=gpio25  , P13=gpio13  ,