[gcode_macro _USER_VARIABLES]
variable_extruder_enabled: True
gcode:

[extruder]
step_pin: E0_STEP
dir_pin: E0_DIR
enable_pin: !E0_ENABLE
microsteps: 16
rotation_distance: 33.760 # measured 34.400, ratio 0.981 by calibration. (was 33.683)
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: E_HEATER
sensor_type: EPCOS 100K B57560G104F
sensor_pin: E_TEMPERATURE
min_temp: 0
max_temp: 250

# We also include the default wiring and low thermal hotend patch
[include default_wiring.cfg]
[include ../../../macros/helpers/hotend_heater_ctrl.cfg]
