[gcode_macro _USER_VARIABLES]
variable_extruder_enabled: True
gcode:


[extruder]
# Bontech LGX Lite
# new_rd = previous_rd * mesured_distance / requested_distance
rotation_distance: 54.69
gear_ratio: 44:10, 37:17
microsteps: 64
full_steps_per_rotation: 200

nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 110
max_extrude_cross_section: 5
sensor_type: ATC Semitec 104GT-2
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 172
pressure_advance: 0.0475
pressure_advance_smooth_time: 0.040

# We also include the default wiring and low thermal hotend patch
[include default_wiring.cfg]
[include ../../../macros/helpers/hotend_heater_ctrl.cfg]
