[gcode_macro _USER_VARIABLES]
variable_extruder_enabled: True
gcode:


[extruder]
# Orbiter 2.0 Gear Ratio
# new_rd = previous_rd * mesured_distance / requested_distance
rotation_distance: 4.637
microsteps: 32
full_steps_per_rotation: 200

nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 110
max_extrude_cross_section: 5
sensor_type: ATC Semitec 104GT-2
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 172
pressure_advance: 0.0475
pressure_advance_smooth_time: 0.040

# Orbiter 2 motor will not be happy with 0.45 for run current. Recommended value in overrides.cfg is 0.85 depending on driver. 
# https://www.orbiterprojects.com/orbiter-v2-0/ for more details

# We also include the default wiring and low thermal hotend patch
[include default_wiring.cfg]
[include ../../../macros/helpers/hotend_heater_ctrl.cfg]
