[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
description: Cancel the print, retract 10mm of filament and park
gcode:
    {% set turn_off_heaters_in_end_print = printer["gcode_macro _USER_VARIABLES"].turn_off_heaters_in_end_print %}
    {% set safe_extruder_temp = printer["gcode_macro _USER_VARIABLES"].safe_extruder_temp|float %}
    {% set ercf_enabled = printer["gcode_macro _USER_VARIABLES"].ercf_enabled %}
    {% set filter_enabled = printer["gcode_macro _USER_VARIABLES"].filter_enabled %}
    {% set light_enabled = printer["gcode_macro _USER_VARIABLES"].light_enabled %}
    {% set status_leds_enabled = printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}

    PARK
    
    {% if ercf_enabled %}
        # unload filament and park into ercf
        _ERCF_FORM_TIP_STANDALONE
        ERCF_UNLOAD
    {% else %}
        # pull back the filament a little bit
        _TIP_SHAPING
        G1 E-10 F2100
    {% endif %}     

    {% if turn_off_heaters_in_end_print %}
        TURN_OFF_HEATERS
    {% else %}
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET={safe_extruder_temp}
    {% endif %}

    M107
    M400

    CLEAR_PAUSE
    BED_MESH_CLEAR
    SDCARD_RESET_FILE
    
    {% if filter_enabled %}
        STOP_FILTER
    {% endif %}
    
    {% if light_enabled %}
        LIGHT_OFF
    {% endif %}
    {% if status_leds_enabled %}
        STATUS_LEDS COLOR="OFF"
    {% endif %}
    
    BASE_CANCEL_PRINT
