# This file add a specific override to fix the PID controller bad behavior
# on low thermal inertia devices such as the BambuLabs hotend. This allows a
# shunt of the "waiting time" during temperature settle in case there is some problems

[gcode_macro M190]
rename_existing: M190.1
gcode:
    {% set S = params.S|float %}
    {% set actual_temp = printer.heater_bed.temperature|float %}

    {% set fix_heaters_temperature_settle = printer["gcode_macro _USER_VARIABLES"].fix_heaters_temperature_settle %}
    {% set bedfan_enabled = printer["gcode_macro _USER_VARIABLES"].bedfan_enabled %}
    {% set bedfan_threshold = printer["gcode_macro _USER_VARIABLES"].bedfan_threshold|int %}

    {% if bedfan_enabled %}
        {% if S >= bedfan_threshold %}
            BEDFANSSLOW																# >= Threshold temp: Low speed fans while heating 
        {% else %}
            BEDFANSOFF																# < Threshold temp: Turn bed fans off
        {% endif %}
    {% endif %}

    {% if fix_heaters_temperature_settle %}
        M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
        {% if S != 0 %}
            {% if actual_temp <= S %}
                TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={S}
            {% else %}
                TEMPERATURE_WAIT SENSOR=heater_bed MAXIMUM={S}
            {% endif %}   
        {% endif %}
    {% else %}
        M190.1 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% endif %}
    
    {% if bedfan_enabled %}
        {% if S >= bedfan_threshold %}
		    BEDFANSFAST															# >= Threshold temp: Higher speed fans after heating finished
	    {% endif %}
    {% endif %}

[gcode_macro M140]
rename_existing: M140.1
gcode:
    {% set S = params.S|float %}

    {% set bedfan_enabled = printer["gcode_macro _USER_VARIABLES"].bedfan_enabled %}
    {% set bedfan_threshold = printer["gcode_macro _USER_VARIABLES"].bedfan_threshold|int %}

    M140.1 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if TARGET >= THRESHOLD %}
		BEDFANSSLOW
		UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=1
	{% else %}
		BEDFANSOFF
		UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=0 #	Cancel bed fan loop if it's running
	{% endif %}
    