# This file add a specific override to fix the PID controller bad behavior
# on low thermal inertia devices such as the BambuLabs hotend. This allows a
# shunt of the "waiting time" during temperature settle in case there is some problems

[gcode_macro M190]
rename_existing: M190.1
gcode:
    {% set S = params.S|float %}
    {% set actual_temp = printer.heater_bed.temperature|float %}

    {% set fix_heaters_temperature_settle = printer["gcode_macro _USER_VARIABLES"].fix_heaters_temperature_settle %}

    {% if fix_heaters_temperature_settle %}
        M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
        {% if S != 0 %}
            {% if actual_temp <= S %}
                TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={S}
            {% else %}
                TEMPERATURE_WAIT SENSOR=heater_bed MAXIMUM={S}
            {% endif %}   
        {% endif %}
    {% else %}
        M190.1 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% endif %}
