# This file add two specific overrides to fix the PID controller bad behavior
# on low thermal inertia devices such as the BambuLabs hotend. This allows a
# shunt of the "waiting time" during temperature settle in case there is some problems

[gcode_macro M109]
rename_existing: M109.1
gcode:
	{% set S = params.S|float %}

	{% set fix_heaters_temperature_settle = printer["gcode_macro _USER_VARIABLES"].fix_heaters_temperature_settle %}

	{% if fix_heaters_temperature_settle %}
        M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
		TEMPERATURE_WAIT SENSOR=extruder MINIMUM={S}
    {% else %}
		M109.1 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% endif %}


[gcode_macro M190]
rename_existing: M190.1
gcode:
	{% set S = params.S|float %}

	{% set fix_heaters_temperature_settle = printer["gcode_macro _USER_VARIABLES"].fix_heaters_temperature_settle %}

	{% if fix_heaters_temperature_settle %}
        M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
		TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={S}
    {% else %}
		M190.1 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% endif %}
