# This file add a specific override to fix the PID controller bad behavior
# on low thermal inertia devices such as the BambuLabs hotend. This allows a
# shunt of the "waiting time" during temperature settle in case there is some problems


[gcode_macro M109]
rename_existing: M109.1
gcode:
    {% set S = params.S|float %}
    {% set actual_temp = printer.extruder.temperature|float %}

    {% set fix_heaters_temperature_settle = printer["gcode_macro _USER_VARIABLES"].fix_heaters_temperature_settle %}

    {% if fix_heaters_temperature_settle %}
        M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
        {% if S != 0 %}
            {% if actual_temp <= S %}
                TEMPERATURE_WAIT SENSOR=extruder MINIMUM={S}
            {% else %}
                TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={S}
            {% endif %}   
        {% endif %}
    {% else %}
        M109.1 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% endif %}