# This file is automatically included when barf_stealthburner.cfg hardware config file is included

[gcode_macro _USER_VARIABLES]
variable_status_leds_enabled: True
variable_status_leds_caselight_enabled: True
gcode:

[gcode_macro STATUS_LEDS]
gcode:
    #{% set color = params.COLOR|default("off")|lower %}
    {% set LED_STATUS = params.COLOR|string %}

    #{% if printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
        {% if LED_STATUS == "CALIBRATING_Z" %}
          STATUS_CALIBRATING_Z
        {% elif LED_STATUS == "ON" %}
          STATUS_READY
        {% elif LED_STATUS == "OFF" %}
          STATUS_OFF
        {% elif LED_STATUS == "HOMING" %}
          STATUS_HOMING
        {% elif LED_STATUS == "MESHING" %}
          STATUS_MESHING
        {% elif LED_STATUS == "PRINTING" %}
          STATUS_PRINTING
        {% elif LED_STATUS == "ERROR" %}
          STATUS_ERROR
        {% elif LED_STATUS == "CLEANING" %}
          STATUS_CLEANING
        {% elif LED_STATUS == "LEVELING" %}
          STATUS_LEVELING
        {% elif LED_STATUS == "HEATING" %}
          STATUS_HEATING
        {% elif LED_STATUS == "BUSY" %}
          STATUS_BUSY
        {% elif LED_STATUS == "READY" %}
          STATUS_READY
        {% endif %}
   # {% endif %}
