## Define led effects for the different printer states

## Ready State
[led_effect cl_standby]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
   breathing  20 0 top      (1.0, 1.0, 1.0)
   static      1 0 screen   (0.8, 0.8, 0.8)

## Busy State
[led_effect cl_busy]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (1,0,0)

## Heating State
[led_effect cl_heating]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (1,0,0)

## Leveling State
[led_effect cl_leveling]
leds:
    neopixel:caselight 
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.5, 0.1, 0.4)

## Homing State
[led_effect cl_homing]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.0, 0.6, 0.2)

## Cleaning State
[led_effect cl_cleaning]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

## Meshing State
[led_effect cl_meshing]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.2, 1.0, 0.0)

## Calibrating Z State
[led_effect cl_calibrating_z]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.0, 0.0, 0.35)

## Printing State
[led_effect cl_printing]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

## Error State
[led_effect cl_error]
leds:
    neopixel:caselight
autostart:                             false
frame_rate:                            24
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)

## On State
[led_effect cl_on]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (1.0,  1.0, 1.0)

## Off State
[led_effect cl_off]
leds:
    neopixel:caselight (1)
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (0.0,  0.0, 0.0)

## Printer startup effect
[led_effect cl_startup]
leds:
    neopixel:caselight
autostart:                          true
frame_rate:                         24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

