# This file is automatically included when status_leds hardware config file is included

# src : https://github.com/VoronDesign/Voron-Stealthburner/blob/main/Firmware/stealthburner_leds.cfg
# Contributed by Voron discord users wile.e, Tetsunosuke, and etherwalker
# Heavily modified by Frix-x to be more adapted for the generic config goal


# The following status macro is available:
#    STATUS_LEDS COLOR="xxxxx"

# With additional macros for basic control:
#    SET_NOZZLE_LEDS_ON
#    SET_LOGO_LEDS_OFF
#    SET_NOZZLE_LEDS_OFF

## Define led effects for the different printer states

## Ready State
[led_effect sb_logo_ready]
leds:
    neopixel:status_leds (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.01, 0.01, 0.01)

[led_effect sb_nozzle_ready]
leds:
    neopixel:status_leds (2,3)
autostart:              false
frame_rate:             24
layers:
        breathing  3 1 top (0.6, 0.0, 0.0, 0.0)

## Busy State
[led_effect sb_logo_busy]
leds:
    neopixel:status_leds (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (1,0,0)

## Heating State
[led_effect sb_logo_heating]
leds:
    neopixel:status_leds (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (1,0,0)

[led_effect sb_nozzle_heating]
leds:
    neopixel:status_leds (2,3)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (1.0, 0.18, 0.0, 0.0)

## Leveling State
[led_effect sb_logo_leveling]
leds:
    neopixel:status_leds (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.5, 0.1, 0.4)

## Homing State
[led_effect sb_logo_homing]
leds:
    neopixel:status_leds (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.0, 0.6, 0.2)

## Cleaning State
[led_effect sb_logo_cleaning]
leds:
    neopixel:status_leds (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

## Meshing State
[led_effect sb_logo_meshing]
leds:
    neopixel:status_leds (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.2, 1.0, 0.0)

## Calibrating Z State
[led_effect sb_logo_calibrating_z]
leds:
    neopixel:status_leds (1)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.0, 0.0, 0.35)

## Printing State
[led_effect sb_logo_printing]
leds:
    neopixel:status_leds (1)
autostart:              false
frame_rate:             24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

## Error State
[led_effect sb_logo_error]
leds:
    neopixel:status_leds (1)
autostart:                             false
frame_rate:                            24
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)

[led_effect sb_nozzle_error]
leds:
    neopixel:status_leds (2,3)
autostart:                             false
frame_rate:                            24
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)

## On State
[led_effect sb_logo_on]
leds:
    neopixel:status_leds (1)
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (1.0,  1.0, 1.0)

[led_effect sb_nozzle_on]
leds:
    neopixel:status_leds (2,3)
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (1.0,  1.0, 1.0)

## Off State
[led_effect sb_logo_off]
leds:
    neopixel:status_leds (1)
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (0.0,  0.0, 0.0)

[led_effect sb_nozzle_off]
leds:
    neopixel:status_leds (2,3)
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (0.0,  0.0, 0.0)

## Printer startup effect
[led_effect startup]
leds:
    neopixel:status_leds
autostart:                          true
frame_rate:                         24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

 ## Macros
[gcode_macro SET_NOZZLE_LEDS_ON]
gcode:
    {% if printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
        SET_LED_EFFECT EFFECT=sb_nozzle_on
    {% endif %}

[gcode_macro SET_NOZZLE_LEDS_OFF]
gcode:
    {% if printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
        SET_LED_EFFECT EFFECT=sb_nozzle_off
    {% endif %}

[gcode_macro SET_LOGO_LEDS_OFF]
gcode:
    {% if printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
        SET_LED_EFFECT EFFECT=sb_logo_off
    {% endif %}

[gcode_macro STATUS_LEDS]
gcode:
    {% set color = params.COLOR|default('off')|lower %}
   
    {% set status_color = {
        'ready': {
            'logo': 'sb_logo_ready',
            'nozzle': 'sb_nozzle_ready',
            'caselight': 'cl_ready',
            'minidisplay': 'on'
        },
        'busy': {
            'logo': 'sb_logo_busy',
            'nozzle': 'sb_nozzle_on',
            'caselight': 'cl_busy',
            'minidisplay': 'on'
        },
        'heating': {
            'logo': 'sb_logo_heating',
            'nozzle': 'sb_nozzle_heating',
            'caselight': 'cl_heating',
            'minidisplay': 'on'
        },
        'leveling': {
            'logo': 'sb_logo_leveling',
            'nozzle': 'sb_nozzle_on',
            'caselight': 'cl_leveling',
            'minidisplay': 'on'
        },
        'homing': {
            'logo': 'sb_logo_homing',
            'nozzle': 'sb_nozzle_on',
            'caselight': 'cl_homing',
            'minidisplay': 'on'
        },
        'cleaning': {
            'logo': 'sb_logo_cleaning',
            'nozzle': 'sb_nozzle_on',
            'caselight': 'cl_cleaning',
            'minidisplay': 'on'
        },
        'meshing': {
            'logo': 'sb_logo_meshing',
            'nozzle': 'sb_nozzle_on',
            'caselight': 'cl_meshing',
            'minidisplay': 'on'
        },
        'calibrating_z': {
            'logo': 'sb_logo_calibrating_z',
            'nozzle': 'sb_nozzle_on',
            'caselight': 'cl_calibrating_z',
            'minidisplay': 'on'
        },
        'printing': {
            'logo': 'sb_logo_printing',
            'nozzle': 'sb_nozzle_on',
            'caselight': 'cl_printing',
            'minidisplay': 'on'
        },
        'off': {
            'logo': 'sb_logo_off',
            'nozzle': 'sb_nozzle_off',
            'caselight': 'cl_off',
            'minidisplay': 'off'
        },
        'on': {
            'logo': 'sb_logo_on',
            'nozzle': 'sb_nozzle_on',
            'caselight': 'cl_on',
            'minidisplay': 'on'
        },        
        'error': {
            'logo': 'sb_logo_error',
            'nozzle': 'sb_nozzle_error',
            'caselight': 'cl_error',
            'minidisplay': 'error'
        }   
    } %}

    {% if not (color in status_color) %}
        { action_raise_error("COLOR is not valid!") }
    {% endif %}

    {% if printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
        STOP_LED_EFFECTS
        SET_LED_EFFECT EFFECT={status_color[color].logo}
        SET_LED_EFFECT EFFECT={status_color[color].nozzle}
    {% endif %}

    {% if printer["gcode_macro _USER_VARIABLES"].status_leds_caselight_enabled %}
        SET_LED_EFFECT EFFECT={status_color[color].caselight}
    {% endif %}

    {% if printer["gcode_macro _USER_VARIABLES"].status_leds_minidisplay_enabled %}
        _SET_ALLLEDS_BY_NAME LEDS="minidisplay" COLOR={status_color[color].minidisplay} TRANSMIT=1
    {% endif %}