# This file add support for a servo that will be used to deploy at
# the same time the dockable probe AND the purge bucket and brush
[gcode_macro _USER_VARIABLES]
variable_probe_servo_enabled: True
variable_probe_servo_name: "sharedservo"
variable_purgeclean_servo_enabled: True
variable_purgeclean_servo_name: "sharedservo"
gcode:

# Also include directly the servo macros from here
[include ../../../macros/hardware_functions/servos.cfg]


[servo sharedservo]
pin: SERVO_PIN
maximum_servo_angle: 90
minimum_pulse_width: 0.0011
maximum_pulse_width: 0.0021
