[z_calibration]
# Physical Z endstop pin position
nozzle_xy_position: 205.3,305.5
# Probe switch position on physical endstop
switch_xy_position: 198.5,285.5
# Switch offset (default D2F-5: 0.5mm and SSG-5H: 0.7mm)
# Smaller number means higher nozzle to the PEI
switch_offset: 0.390
max_deviation: 0.750
samples: 3
speed: 350 # X,Y movements
probing_first_fast: true
