[input_shaper]
# Supported shapers: zv, mzv, zvd, ei, 2hump_ei, 3hump_ei
shaper_freq_x: 56.4
shaper_type_x: zv
shaper_freq_y: 38.4
shaper_type_y: mzv

[adxl345]
spi_bus: ssp1
cs_pin: z:adxl_cs_pin
axes_map: -z,y,x

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,20
