[probe]
pin: ^z:P0.10
x_offset: 0
y_offset: 19.75
z_offset: 6.42
speed: 8
lift_speed: 15
samples: 2
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.007
samples_tolerance_retries: 3

[z_calibration]
# Physical Z endstop pin position
probe_nozzle_x: 206
probe_nozzle_y: 306.5
# KlickyProbe switch position on physical endstop
probe_switch_x: 201.30
probe_switch_y: 286.35
# Switch offset (default D2F-5: 0.5mm and SSG-5H: 0.7mm)
# Smaller number means higher nozzle to the PEI
switch_offset: 0.407
max_deviation: 1.600
samples: 4
speed: 350 # X,Y movements
probing_first_fast: true

[bed_mesh]
speed: 350
horizontal_move_z: 12
mesh_min: 10, 25
mesh_max: 290, 290
probe_count: 9, 9
#fade_end: 10
#split_delta_z: .01
#move_check_distance: 3.0
#mesh_pps: 2,2
algorithm: bicubic
relative_reference_index: 40

[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
points:
	50,25
	50,225
	250,225
	250,25
speed: 350
horizontal_move_z: 12
retries: 5
retry_tolerance: 0.006
max_adjust: 10
