[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 3000
max_z_velocity: 30
max_z_accel: 500
# minimum_cruise_ratio: 0.5 # This left commented to not break older Klipper versions
square_corner_velocity: 5.0

# And add directly all the machines standard includes here
# to put them above the rest from printer.cfg
[include ../machine.cfg]
