[printer]
kinematics: corexz
max_velocity: 400
max_accel: 1000
max_z_velocity: 200
max_z_accel: 1000
# minimum_cruise_ratio: 0.5 # This left commented to not break older Klipper versions
square_corner_velocity: 5.0

# And add directly all the machines standard includes here
# to put them above the rest from printer.cfg
[include ../machine.cfg]
