# Bed fans to circulate heater_bed heat (Ellis BedFans)
[gcode_macro _USER_VARIABLES]
variable_bedfan_enabled: True
gcode:

[include ../../../macros/hardware_functions/bedfan.cfg]

[fan_generic bed_fan]
pin: EXHAUST_FAN # Change me
cycle_time: 0.05
kick_start_time: 0.5
