[gcode_macro _USER_VARIABLES]
variable_hotend_fan_tach_enabled: True
gcode:

[heater_fan hotend_fan]
pin: E_FAN
max_power: 1.0
kick_start_time: 0.100
heater: extruder
heater_temp: 50.0
tachometer_pin: E_FAN_TACHO

# And we also include the tachometer check macros from here
[include ../../../macros/helpers/tachometer_check.cfg]
