[gcode_macro _USER_VARIABLES]
variable_part_fan_tach_enabled: True
gcode:

[fan]
pin: PART_FAN
kick_start_time: 0.100
cycle_time: 0.010
tachometer_pin: PART_FAN_TACHO

# And we also include the tachometer check macros from here
[include ../../../macros/helpers/tachometer_check.cfg]
