#------------------------------------------------#
#### Adruino Nano ATmega328P board definition ####
#------------------------------------------------#

[mcu nano]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
restart_method: command
##--------------------------------------------------------------------

# For use with Arduino Nano with ATmega328P (8-bit AVR family)
# If you want to override the wiring of Arduino Nano board, keep in mind that this
# board is defined using the "nano" name. So you should use "pin: nano:PIN_NAME"
# in your own overrides.cfg files.
# You can rename here your PIN_NAME to be used in Klippain macros or in your own.

[include config/mcu_definitions/expander/Arduino_nano.cfg] # Do not remove this line
[board_pins nano_mcu]
mcu: nano
aliases:
    # Digital I/O pins
    NANO_TX1=MCU_TX1 , NANO_RX0=MCU_RX0 ,
    NANO_D3=MCU_D3   , NANO_D5=MCU_D5   , NANO_D6=MCU_D6 , NANO_D9=MCU_D9 , NANO_D10_SS=MCU_D10   , NANO_D11_MOSI=MCU_D11 , # with PWM output for exemple for fans and output_pin devices or any others I/O devices
    NANO_D2=MCU_D2   , NANO_D4=MCU_D4   , NANO_D7=MCU_D7 , NANO_D8=MCU_D8 , NANO_D12_MISO=MCU_D12 , NANO_D13_SCK=MCU_D13  , # without PWM for exemple for fans, heaters, servos, leds (Rem: D13 used for Inbuilt LED)

    # Analog Input pins
    NANO_A0=MCU_A0 , NANO_A1=MCU_A1 , NANO_A2=MCU_A2 , NANO_A3=MCU_A3 , NANO_A4_I2C=MCU_A4 , NANO_A5_I2C=MCU_A5 , # can be used (for exemple) for thermistors

# Status LED lights when klipper connects
[static_digital_output onboardANLED]
pins: nano:NANO_D13_SCK

