#-----------------------------------------------#
#### STM32 Klipper Expander board definition ####
#-----------------------------------------------#

[mcu expander]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
restart_method: command
##--------------------------------------------------------------------

# For use with https://github.com/VoronDesign/Voron-Hardware/tree/master/Klipper_Expander
# If you want to override the wiring of the STM32 Klipper Expander board, keep in mind that this
# board is defined using the "expand" name. So you should use "pin: expand:PIN_NAME"
# in your own overrides.cfg files.
# You can rename here your PIN_NAME to be used in Klippain macros or in your own.

[include config/mcu_definitions/expander/STM32_Klipper_Expander.cfg] # Do not remove this line
[board_pins expander_mcu]
mcu: expander
aliases:
    EXP_FAN0=MCU_M0  , EXP_FAN1=MCU_M1  , EXP_FAN2=MCU_M2 , EXP_FAN3=MCU_M3 , # can be use for fans, Leds, Heaters ...
    EXP_TEMP0=MCU_T0 , EXP_TEMP1=MCU_T1 , # for thermistor
    EXP_NEOPIXEL=MCU_DATA ,
    EXP_SLC=MCU_SLC , EXP_SDA=MCU_SDA , # for 3.3V displays or sensors
    EXP_PA7=MCU_PA7 , # can be use for external mosfet, relay or a door open sensor
    EXP_ONBOARDLED=MCU_LED , # onboard status led

# Status LED lights when klipper connects
[static_digital_output onboardKELED]
pins: !expander:EXP_ONBOARDLED

