[board_pins mmu_manufacturer]
mcu: mmu
aliases:
    MCU_M1_STEP=PD4    , MCU_M1_DIR=PD3    , MCU_M1_EN=PD5    , MCU_M1_UART=PB5   , MCU_M1_DIAG=PB9   ,
    MCU_M2_STEP=PC9    , MCU_M2_DIR=PC8    , MCU_M2_EN=PD2    , MCU_M2_UART=PB4   , MCU_M2_DIAG=PB8   ,
    MCU_M3_STEP=PC15   , MCU_M3_DIR=PC11   , MCU_M3_EN=PC10   , MCU_M3_UART=PB3   , MCU_M3_DIAG=PB7   ,
    MCU_M4_STEP=PC13   , MCU_M4_DIR=PC12   , MCU_M4_EN=PC14   , MCU_M4_UART=PD6   , MCU_M4_DIAG=PB6   ,

    MCU_STP1=PA15 , MCU_STP2=PA10 , MCU_STP3=PD9  , MCU_STP4=PD8  ,

    ## 2x7 header, lower row
    MCU_IN_L_0=PC6 , MCU_IN_L_1=PA8 , MCU_IN_L_2=PB11 , MCU_IN_L_3=PB2 , MCU_IN_L_4=PB0 , MCU_IN_L_5=PC4 ,

    ## 2x7 header, upper row
    MCU_IN_H_0=PC7 , MCU_IN_H_1=PA9 , MCU_IN_H_2=PB12 , MCU_IN_H_3=PB10 , MCU_IN_H_4=PB1 , MCU_IN_H_5=PC5 ,

    ## Happy Hare / ERCF-style stop aliases over the 2x7 header
    MCU_STP5=PC6  , MCU_STP6=PA8  , MCU_STP7=PB11 , MCU_STP8=PB2  , MCU_STP9=PB0  , MCU_STP10=PC4 ,
    MCU_STP11=PC5 , MCU_STP12=PB1 , MCU_STP13=PC7 , MCU_STP14=PA9 , MCU_STP15=PB12 , MCU_STP16=PB10 ,

    MCU_MOT1=PA1    , MCU_MOT2=PA0    ,
    MCU_SENSOR=PC2  ,
    MCU_RGB=PC3     ,

    ## I2C header
    MCU_I2C_SCL=PC0  , MCU_I2C_SDA=PC1  ,
