[board_pins mmu_manufacturer]
mcu: mmu
aliases:
    MCU_GEAR_MOTOR_STEP=gpio10     , MCU_GEAR_MOTOR_DIR=gpio9      , MCU_GEAR_MOTOR_EN=gpio8      , MCU_GEAR_MOTOR_UART=gpio20     ,
    MCU_GEAR_MOTOR_DIAG=gpio13     ,
    MCU_SELECTOR_MOTOR_STEP=gpio16 , MCU_SELECTOR_MOTOR_DIR=gpio15 , MCU_SELECTOR_MOTOR_EN=gpio14 , MCU_SELECTOR_MOTOR_UART=gpio17 ,
    MCU_SELECTOR_MOTOR_DIAG=gpio19 ,

    MCU_HALL_SENSOR=gpio25 ,
    MCU_ENDSTOP=gpio24     ,
    MCU_SERVO=gpio23       ,
    MCU_ENCODER=gpio22     ,
    MCU_RGB=gpio21         ,

    # EXTRA PINS header
    MCU_0=gpio0   , MCU_1=gpio1   ,
    MCU_2=gpio2   , MCU_3=gpio3   ,
    MCU_4=gpio4   , MCU_5=gpio5   ,
    MCU_6=gpio6   , MCU_7=gpio7   ,
    MCU_26=gpio26 , MCU_27=gpio27 ,
    MCU_28=gpio28 , MCU_29=gpio29 ,
    GND=<GND>     , 5V=<5V>       ,
