[board_pins ercf_manufacturer]
mcu: ercf
aliases:
    MCU_MOTOR1_STEP=PB15    , MCU_MOTOR1_DIR=PB14      , MCU_MOTOR1_EN=PA8      , MCU_GEAR_MOTOR1_CS=PA10    ,
    MCU_MOTOR2_STEP=PD2     , MCU_MOTOR2_DIR=PB13      , MCU_MOTOR2_EN=PD1      , MCU_GEAR_MOTOR2_CS=PC7     ,
    MCU_MOTOR3_STEP=PD0     , MCU_MOTOR3_DIR=PD3       , MCU_MOTOR3_EN=PA15     , MCU_GEAR_MOTOR3_CS=PC6     ,
    MCU_MOTOR4_STEP=PB6     , MCU_MOTOR4_DIR=PB7       , MCU_MOTOR4_EN=PB5      , MCU_GEAR_MOTOR4_CS=PA9     ,
    MCU_SCK=PA5  , MCU_MISO=PA6 , MCU_SPI0_MOSI=PA7 ,
    MCU_MOTOR3_DIAG=PB9

    # MMB STP definition
    MCU_STP1=PA3 , # a.u.a. MOTOR1_DIAG
    MCU_STP2=PA4 , # a.u.a. MOTOR2_DIAG
    MCU_STP3=PB8 , # a.u.a. MOTOR4_DIAG
    MCU_STP4=PB7 , 
    MCU_STP5=PC15 , 
    MCU_STP6=PC13 , 
    MCU_STP7=PC14 ,  
    MCU_STP8=PB12 ,
    MCU_STP9=PB11 ,
    MCU_STP10=PB10 ,
    MCU_STP11=PB2 , 
    
    MCU_MOT=PA0 , 
    MCU_SENSOR=PA1 ,
    MCU_RGB=PA2 , 

    MCU_I2C_SDA=PB4 , 
    MCU_I2C_SCL=PB3 , 
