#############################################################################
# Dockable probe macros highly inspired from https://github.com/jlas1/Klicky-Probe
# Reworked by Elpopo and myself to simplify it while trying to stay generic
#############################################################################

[gcode_macro PROBE_CALIBRATE]
rename_existing: _BASE_PROBE_CALIBRATE
description: Calibrate the probe z_offset with klicky automount
gcode:
    {% set probe_min_z_travel = printer["gcode_macro _USER_VARIABLES"].probe_min_z_travel|float %}
    {% set z_drop_speed = printer["gcode_macro _USER_VARIABLES"].z_drop_speed * 60 %}
    {% set travel_speed = printer["gcode_macro _USER_VARIABLES"].travel_speed %}

    {% set min_bed_x, min_bed_y = printer["gcode_macro _USER_VARIABLES"].min_bed_xy|map('float') %}
    {% set max_bed_x, max_bed_y = printer["gcode_macro _USER_VARIABLES"].max_bed_xy|map('float') %}
    {% set probe_offset_x = printer['configfile'].config["probe"]["x_offset"]|float %}
    {% set probe_offset_y = printer['configfile'].config["probe"]["y_offset"]|float %}

    {% if not 'xyz' in printer.toolhead.homed_axes %}
        { action_raise_error("Must home axis first!") }
    {% endif %}

    # Safety check to protect against PROBE_CALIBRATE performed outside the bed
    {% if (printer['gcode_move'].position.x + probe_offset_x) >= max_bed_x
          or (printer['gcode_move'].position.y + probe_offset_y) >= max_bed_y
          or (printer['gcode_move'].position.x + probe_offset_x) <= min_bed_x
          or (printer['gcode_move'].position.y + probe_offset_y) <= min_bed_y %}
        { action_raise_error("You must perform PROBE_CALIBRATE with the probe inside the BED area, check variables min/max_bed_xy !") }
    {% endif %}

    # Go to Z safe distance before saving location in order to
    # avoid crashing the probe on the bed when coming back
    {% if (printer.toolhead.position.z < probe_min_z_travel) %}
        G0 Z{probe_min_z_travel} F{z_drop_speed}
    {% endif %}

    M400 #mandatory if we want to save right position
    _ENTRY_POINT FUNCTION=PROBE_CALIBRATE

    ACTIVATE_PROBE

    # Restore nozzle location to probe the right place
    _EXIT_POINT FUNCTION=PROBE_CALIBRATE MOVE=1 MOVE_SPEED={travel_speed}

    _BASE_PROBE_CALIBRATE {% for p in params
            %}{'%s=%s ' % (p, params[p])}{%
           endfor %}
    
    DEACTIVATE_PROBE

    # Restore nozzle location again at the end
    _EXIT_POINT FUNCTION=PROBE_CALIBRATE MOVE=1 MOVE_SPEED={travel_speed}


[gcode_macro PROBE_ACCURACY]
rename_existing: _BASE_PROBE_ACCURACY
description: Probe Z-height accuracy at current XY position with klicky automount
gcode:
    {% set probe_min_z_travel = printer["gcode_macro _USER_VARIABLES"].probe_min_z_travel|float %}
    {% set z_drop_speed = printer["gcode_macro _USER_VARIABLES"].z_drop_speed * 60 %}
    {% set travel_speed = printer["gcode_macro _USER_VARIABLES"].travel_speed %}
    
    {% set min_bed_x, min_bed_y = printer["gcode_macro _USER_VARIABLES"].min_bed_xy|map('float') %}
    {% set max_bed_x, max_bed_y = printer["gcode_macro _USER_VARIABLES"].max_bed_xy|map('float') %}
    {% set probe_offset_x = printer['configfile'].config["probe"]["x_offset"]|float %}
    {% set probe_offset_y = printer['configfile'].config["probe"]["y_offset"]|float %}

    {% if not 'xyz' in printer.toolhead.homed_axes %}
        { action_raise_error("Must home axis first!") }
    {% endif %}

    # Safety check to protect against PROBE_ACCURACY performed outside the bed
    {% if (printer['gcode_move'].position.x + probe_offset_x) >= max_bed_x
          or (printer['gcode_move'].position.y + probe_offset_y) >= max_bed_y
          or (printer['gcode_move'].position.x + probe_offset_x) <= min_bed_x
          or (printer['gcode_move'].position.y + probe_offset_y) <= min_bed_y %}
        { action_raise_error("You must perform PROBE_ACCURACY with the probe inside the BED area, check variables min/max_bed_xy !") }
    {% endif %}

    # Go to Z safe distance before saving location in order to
    # avoid crashing the probe on the bed when coming back
    {% if (printer.toolhead.position.z < probe_min_z_travel) %}
        G0 Z{probe_min_z_travel} F{z_drop_speed}
    {% endif %}

    M400 #mandatory if we want to save right position
    _ENTRY_POINT FUNCTION=PROBE_ACCURACY

    ACTIVATE_PROBE

    # Restore nozzle location to probe the right place
    _EXIT_POINT FUNCTION=PROBE_ACCURACY MOVE=1 MOVE_SPEED={travel_speed}

    _BASE_PROBE_ACCURACY {% for p in params
            %}{'%s=%s ' % (p, params[p])}{%
           endfor %}
  
    DEACTIVATE_PROBE

    # Restore nozzle location again at the end
    _EXIT_POINT FUNCTION=PROBE_ACCURACY MOVE=1 MOVE_SPEED={travel_speed}


# Next is used if there is QGL/Z_TILT or BED_MESH currently being measured with an
# error to be able to dock the probe before stopping everything on the machine
[gcode_macro _PROBE_ON_ERROR_ACTION]
variable_probing: False
gcode:
    {% set autodock_on_probe_error = printer["gcode_macro _USER_VARIABLES"].autodock_on_probe_error %}
    {% set probing = printer["gcode_macro _PROBE_ON_ERROR_ACTION"].probing %}

    {% if autodock_on_probe_error and probing %}
        DEACTIVATE_PROBE
    {% endif %}

    SET_GCODE_VARIABLE MACRO=_PROBE_ON_ERROR_ACTION VARIABLE=probing VALUE=False
