[stepper_z]
step_pin: z:Z_STEP
dir_pin: z:Z_DIR
enable_pin: !z:Z_ENABLE
endstop_pin: z:Z_STOP
rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200
position_endstop: 0
position_max: 260
position_min: -5
homing_speed: 15
second_homing_speed: 8
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: z:Z_TMCUART
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
# stealthchop_threshold: 99999

[stepper_z1]
step_pin: z:Z1_STEP
dir_pin: !z:Z1_DIR
enable_pin: !z:Z1_ENABLE
rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: z:Z1_TMCUART
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
# stealthchop_threshold: 99999

[stepper_z2]
step_pin: z:Z2_STEP
dir_pin: z:Z2_DIR
enable_pin: !z:Z2_ENABLE
rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
uart_pin: z:Z2_TMCUART
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
# stealthchop_threshold: 99999
