#-------------------------------------------------#
#### LDO Picobilical Frame PCB A1.3 definition ####
#-------------------------------------------------#

[mcu toolhead]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
restart_method: command
##--------------------------------------------------------------------

[include config/mcu_definitions/toolhead/LDO_Picobilical_Frame_vA1.3.cfg] # Do not remove this line
[board_pins picobilical_mcu]
mcu: toolhead
aliases:
    X_STOP=MCU_XES

    RUNOUT_SENSOR=MCU_FS ,

    E_HEATER=MCU_HE0   , E_TEMPERATURE=MCU_TH0  ,

    PART_FAN=MCU_PCF , E_FAN=MCU_HEF ,

    CHAMBER_TEMPERATURE=MCU_CT ,

    LIGHT_NEOPIXEL=MCU_NEOPIXEL_1

#----------------------------------------#
#  LDO Picobilical vA1.3 pins remapping  #
#----------------------------------------#

# These pins overrides are automatically added when you select a
# toolhead MCU during the installation process. They should provide a
# good base to work with. Feel free to adapt to your board if needed!

[extruder]
heater_pin: toolhead:E_HEATER
sensor_pin: toolhead:E_TEMPERATURE
pullup_resistor: 2200

[fan]
pin: toolhead:PART_FAN

[heater_fan hotend_fan]
pin: toolhead:E_FAN

## Uncomment the following line if not using sensorless homing
## and having the X endstop plugged to the toolhead MCU
# [stepper_x]
# endstop_pin: ^toolhead:X_STOP

[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

[temperature_sensor Chamber]
sensor_type: CMFB103F3950FANT
pullup_resistor: 2200