### Klippain display management ###

[gcode_macro _USER_VARIABLES]
variable_minidisplay_bootlogo_enabled = True
variable_minidisplay_bootinfo_enabled = True
gcode:

[include klippain_splash.cfg]


#### START SPLASH SCREEN
[gcode_macro _INIT_BOOT_LOGO]
gcode:
    {% if printer["gcode_macro _USER_VARIABLES"].minidisplay_bootlogo_enabled %}
        SET_DISPLAY_GROUP GROUP=_my_intro
        UPDATE_DELAYED_GCODE ID=_INIT_BOOT_INFO DURATION=4
        UPDATE_DELAYED_GCODE ID=clear_display DURATION=4.1
    {% endif %}

#### START SPLASH SCREEN
[delayed_gcode _INIT_BOOT_INFO]
initial_duration: 4
gcode:
    {% if printer["gcode_macro _USER_VARIABLES"].minidisplay_bootinfo_enabled %}
        SET_DISPLAY_GROUP GROUP=_my_info
        UPDATE_DELAYED_GCODE ID=clear_display DURATION=4
    {% endif %}

[delayed_gcode clear_display]
gcode:
    M117
    SET_DISPLAY_GROUP GROUP={printer.configfile.settings.display.display_group}



### Menu changes to personalize it with Klippain macros
# default implementation: https://github.com/Klipper3d/klipper/blob/master/klippy/extras/display/menu.cfg

# Shutdown and reboot
[menu __main __setup __restart]
type: list
enable: {not printer.idle_timeout.state == "Printing"}
name: Host control

# Add a park menu item.
[menu __main __control __park]
type: command
name: Park toolhead
enable: {printer.idle_timeout.state != "Printing" or
         printer.pause_resume.is_paused}
index: 0
gcode:
  PARK

[menu __main __setup __restart __shutdown]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Shutdown host
gcode: SHUTDOWN

### menu octoprint ###
[menu __main __octoprint]
type: disabled

[menu __main __control __caselightonoff]
type: input
enable: {'output_pin caselight' in printer}
name: Lights: {'ON ' if menu.input else 'OFF'}
input: {printer['output_pin caselight'].value}
input_min: 0
input_max: 1
input_step: 1
gcode:
    SET_PIN PIN=caselight VALUE={printer["gcode_macro _USER_VARIABLES"].light_intensity_start_print if menu.input else 0}

[menu __main __control __caselightpwm]
type: input
enable: {'output_pin caselight' in printer}
name: Lights: {'%3d' % (menu.input*100)}%
input: {printer['output_pin caselight'].value}
input_min: 0.0
input_max: 1.0
input_step: 0.01
realtime: True
gcode:
    SET_PIN PIN=caselight VALUE={menu.input*100}

################################################################################
# Replace filament loading with our own macros
################################################################################
[menu __main __filament]
type: list
name: Filament
enable: {printer.idle_timeout.state != "Printing" or
         printer.pause_resume.is_paused}

# Hide the old load/unload commands.
[menu __main __filament __loadf]
type: command
name: Load Fil. fast
enable: False

[menu __main __filament __loads]
type: command
name: Load Fil. slow
enable: False

[menu __main __filament __unloadf]
type: command
name: Unload Fil.fast
enable: False

[menu __main __filament __unloads]
type: command
name: Unload Fil.slow
enable: False

# Add new load/unload using our macros.
[menu __main __filament __load]
type: command
index: 1
name: Load Filament
gcode:
  LOAD_FILAMENT

[menu __main __filament __unload]
type: command
index: 2
name: Unload Filament
gcode:
  UNLOAD_FILAMENT

[menu __main __filament __purge]
type: command
index: 3
name: Purge Filament
gcode:
  PURGE

[menu __main __filament __clean]
type: command
index: 3
name: Clean Nozzle
gcode:
  CLEAN_NOZZLE

# Require confirmation for anything that would abort an in-progress print.
# Steppers off
[menu __main __control __disable]
type: command
name: Steppers off
enable: {printer.idle_timeout.state != "Printing"}
gcode:
  M84
  M18

[menu __main __control __disable_printing]
type: list
index: 3
enable: {printer.idle_timeout.state == "Printing"}
name: Steppers off

[menu __main __control __disable_printing __confirm]
type: command
name: Confirm steppers off
gcode:
  M84
  M18
  {menu.back()}


[menu __main __sdcard __start]
type: command
enable: {('virtual_sdcard' in printer) and printer.virtual_sdcard.file_path and not printer.virtual_sdcard.is_active and
         (printer.print_stats.state != "printing" or printer.print_stats.state != "paused")}
name: Start printing
gcode: M24

# SD card cancel
[menu __main __sdcard __cancel]
type: list
enable: {('virtual_sdcard' in printer) and
         (printer.print_stats.state == "printing" or
          printer.print_stats.state == "paused")}
name: Cancel printing

[menu __main __sdcard __cancel __confirm]
type: command
name: Confirm cancel printing
gcode:
  CANCEL_PRINT
  {menu.back()}

[menu __main __control __home]
type: input
enable: {not printer.print_stats.state == "printing" }
name: Home: {['ALL','Z','X Y', 'Non'][menu.input|int]}
input: 0
input_min: 0
input_max: 3
gcode: {['G28','G28 Z','G28 X Y',''][menu.input|int]}
index: 1

[menu __main __control __fan]
type: list
name: Fan 
index: 9

[menu __main __control __fan __partcooling]
type: list
enable: {'fan' in printer}
name: Cooling {'%3d%s' % (printer.fan.speed*100,'%') if printer.fan.speed else 'OFF'}

[menu __main __control __fan __partcooling __fanonoff]
type: input
name: Toggle: {'ON' if menu.input else 'OFF'}
input: {printer.fan.speed}
input_min: 0
input_max: 1
input_step: 1
gcode: M106 S{255 if menu.input else 0}

[menu __main __control __fan __partcooling __fanspeed]
type: input
name: Speed:  {'%3d%s' % (menu.input*100,'%') if menu.input else 'OFF'}
input: {printer.fan.speed}
input_min: 0
input_max: 1
input_step: 0.01
gcode: M106 S{'%d' % (menu.input*255)}

[menu __main __control __fan __filter]
type: list
enable: {'fan_generic filter' in printer}
name: Filter  {'%3d%s' % (printer['fan_generic filter'].speed*100,'%') if printer['fan_generic filter'].speed else 'OFF'}

[menu __main __control __fan __filter __filteronoff]
type: input
name: Toggle: {'ON ' if menu.input else 'OFF'}
input: {printer['fan_generic filter'].speed}
input_min: 0
input_max: 1
input_step: 1
gcode: {% if menu.input %} START_FILTER {% else %} STOP_FILTER {% endif %}

[menu __main __control __fan __filter __filterspeed]
type: input
name: Speed:  {'%3d%s' % (menu.input*100,'%') if menu.input else 'OFF'}
input: {printer['fan_generic filter'].speed}
input_min: 0
input_max: 1
input_step: 0.01
gcode: SET_FAN_SPEED FAN=filter SPEED={menu.input}

[menu __main __control __fan __exhaust]
type: list
enable: {'fan_generic exhaust' in printer}
name: Exhaust  {'%3d%s' % (printer['fan_generic exhaust'].speed*100,'%') if printer['fan_generic exhaust'].speed else 'OFF'}

[menu __main __control __fan __exhaust __exhaustonoff]
type: input
name: Toggle: {'ON ' if menu.input else 'OFF'}
input: {printer['fan_generic exhaust'].speed}
input_min: 0
input_max: 1
input_step: 1
gcode: {% if menu.input %} START_EXHAUST {% else %} STOP_EXHAUST {% endif %}

[menu __main __control __fan __exhaust __exhaustspeed]
type: input
name: Speed:  {'%3d%s' % (menu.input*100,'%') if menu.input else 'OFF'}
input: {printer['fan_generic exhaust'].speed}
input_min: 0
input_max: 1
input_step: 0.01
gcode: SET_FAN_SPEED FAN=exhaust SPEED={menu.input}


#Disable old Control
[menu __main __control __homez]
type: command
enable: 0
name: Home Z
gcode: G28 Z

[menu __main __control __homexy]
type: command
enable: 0
name: Home X/Y
gcode: G28 X Y

[menu __main __control __fanonoff]
type: input
enable: 0
name: Fan: {'ON ' if menu.input else 'OFF'}
input: {printer.fan.speed}
input_min: 0
input_max: 1
input_step: 1
gcode:
    M106 S{255 if menu.input else 0}

[menu __main __control __fanspeed]
type: input
enable: 0
name: Fan speed: {'%3d' % (menu.input*100)}%
input: {printer.fan.speed}
input_min: 0
input_max: 1
input_step: 0.01
gcode: