[stepper_y]
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200

# We also include the default wiring and speeds from here to avoid duplicating
[include default_wiring.cfg]
[include default_speed.cfg]
