# If the machine is equiped by a temperature sensor in the chamber
# it will be used to measure and control the chamber heatsoak

# This file is very specific to DS18B20 sensors connected to the Pi 1Wire interface
# See: https://forum.vorondesign.com/threads/adding-a-temperature-sensor-when-youre-out-of-thermistor-ports.186/

[gcode_macro _USER_VARIABLES]
variable_chamber_temperature_sensor_enabled: True
variable_chamber_temperature_sensor_name: "Chamber"
gcode:

[include ../../mcu_definitions/rpi.cfg]

[temperature_sensor Chamber]
sensor_type: DS18B20
sensor_mcu: rpi
serial_no: override-me-to-the-correct-serial
