# If the machine is equiped by a temperature sensor in the chamber
# it will be used to measure and control the chamber heatsoak
[gcode_macro _USER_VARIABLES]
variable_chamber_temperature_sensor_enabled: True
variable_chamber_temperature_sensor_name: "Chamber"
gcode:


[temperature_sensor Chamber]
sensor_type: ATC Semitec 104GT-2
sensor_pin: toolhead:CHAMBER_TEMPERATURE
