[gcode_macro _USER_VARIABLES]
variable_motion_sensor_enabled: True
gcode:


[filament_motion_sensor runout_sensor]
detection_length: 7.0
#   The minimum length of filament pulled through the sensor to trigger
#   a state change on the switch_pin
#   Default is 7 mm.
extruder: extruder
#   The name of the extruder section this sensor is associated with.
#   This parameter must be provided.
switch_pin:RUNOUT_SENSOR
pause_on_runout:False
#runout_gcode:
#insert_gcode:
#event_delay:
#pause_delay:
#   See the "filament_switch_sensor" section for a description of the
#   above parameters.


