[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode:
    {% if printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
        STATUS_LEDS COLOR="ERROR"
    {% endif %}
    {% if printer["gcode_macro _USER_VARIABLES"].probe_type_enabled == "dockable" or printer["gcode_macro _USER_VARIABLES"].probe_type_enabled == "dockable_virtual" %}
        _PROBE_ON_ERROR_ACTION
    {% endif %}

    # Park only if printer is homed
    {% if "xyz" in printer.toolhead.homed_axes %}
        PARK
    {% endif %}
   

[idle_timeout]
timeout: 1800
gcode:
    RESPOND MSG="Idle timeout reached"
    TURN_OFF_HEATERS
    M84
    {% if printer["gcode_macro _USER_VARIABLES"].light_enabled %}
        LIGHT_OFF
    {% endif %}
    {% if printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
        STATUS_LEDS COLOR="OFF"
    {% endif %}

[pause_resume]
[display_status]
[exclude_object]
[respond]

[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 0.1


# -----------------------------------------------------------------------------------
# Include all the remaining files (not already included in config files) and scripts
# from here to avoid to include them in the main printer.cfg and avoid user confusion
# -----------------------------------------------------------------------------------

[include hardware/temperature_sensors/custom_thermistors.cfg]

[include software/shaketune.cfg]

[include ../scripts/*.cfg]

[include ../macros/base/*.cfg]
[include ../macros/base/homing/homing_conditional.cfg]

[include ../macros/calibration/calib*.cfg]

[include ../macros/helpers/filament_swap.cfg]
[include ../macros/helpers/heatsoak.cfg]
[include ../macros/helpers/prime_line.cfg]
[include ../macros/helpers/nozzle_cleaning.cfg]
[include ../macros/helpers/temp_check.cfg]

[include ../macros/miscs/compatibility.cfg]
[include ../macros/miscs/debugging.cfg]
[include ../macros/miscs/startup.cfg]
