[printer]
kinematics: corexy
max_velocity: 400
max_accel: 8000
max_z_velocity: 50
max_z_accel: 500
square_corner_velocity: 5.0

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode:
   {% set probe_type_enabled = printer["gcode_macro _USER_VARIABLES"].probe_type_enabled %}
   
   {% if printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
      STATUS_LEDS COLOR="ERROR"
   {% endif %}
   
   {% if probe_type_enabled == "dockable" %}
       _PROBE_ON_ERROR_ACTION
   {% endif %}
   
[exclude_object]

[idle_timeout]
timeout: 1800

[pause_resume]

[display_status]

[respond]

[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 0.1


# include all the remaining macros (not already included in config files) and scripts
# from here to avoid to include them in the main printer.cfg and avoid user confusion
[include ../macros/base/*.cfg]
[include ../macros/base/homing/homing_*.cfg]

[include ../macros/calibration/calib*.cfg]

[include ../macros/helpers/filament_swap.cfg]
[include ../macros/helpers/heaters_ctrl.cfg]
[include ../macros/helpers/heatsoak.cfg]
[include ../macros/helpers/nozzle_cleaning.cfg]
[include ../macros/helpers/temp_check.cfg]

[include ../macros/miscs/compatibility.cfg]
[include ../macros/miscs/debugging.cfg]

[include ../scripts/*.cfg]
