[gcode_macro _USER_VARIABLES]
# Enable verbose output to let the macro have a chat
variable_verbose: True


#######################################
# Feedrate setpoints for all the macros
#######################################

variable_homing_travel_speed: 350
variable_travel_speed: 350
variable_z_drop_speed: 30
variable_brush_clean_speed: 130
variable_probe_dock_speed: 60


#######################################
# Dockable probe variables
#######################################

# Minimum safe Z height to attach/detach probe
variable_probe_min_z_travel: 15

# Position of the probe dock
variable_probe_dock_location_xy: 246.7, 306

# Positions of the toolhead when docking/undocking the probe
# See diagram below for help
variable_probe_before_attach_position: "front"
variable_probe_after_attach_position : "front"
variable_probe_before_dock_position : "front" # generaly same as probe_after_attach_position
variable_probe_after_dock_position : "left"

variable_probe_move_attach_length: 20
variable_probe_move_dock_length: 50

#    Y
#    ^ 
#    |          back
#    |           ^
#    |   left  < O >  right
#    |           v
#    |         front
#    |_ _ _ _ _ _ _ _ _ _ _ _> X


#################################################
# Homing, start_print and end_print variables
#################################################

# For the physical Z endstop pin position, please see in the other
# options bellow as it's needed only if you don't use the automatic
# z_calibration plugin (that is by the way fully optional)

# Force always a full homing and QGL during the START_PRINT macro
variable_force_homing_in_start_print: False

# Z hop before homing to avoid grinding
# the bed due to the gantry sag
variable_homing_zhop: 3

# margin to avoid the probe dock when homing
variable_probe_dock_margin_xy: 30, 30

# default START_PRINT parameters
variable_print_default_bed_temp: 110
variable_print_default_extruder_temp: 240
variable_print_default_chamber_temp: 0
variable_print_default_chamber_max_heating_time: 15
variable_print_default_soak: 8
variable_print_default_material: "XXX"

# Prime line start position
variable_prime_line_xy: 2.5, 20

# Park position used when pause, end_print, etc...
variable_park_position_xy: 20, 307
variable_park_lift_z: 50

# Automatically disable motors in the END_PRINT macro
variable_disable_motors_in_end_print: True


################################################
# Other hardware options used in the macros
################################################

# Brush and purge bucket available in the machine
# If this is not available in the machine, set the following
# variables to "-1, -1" for safety
variable_purge_and_brush_enabled: True
variable_brush_xyz: 77.5, 307, 2 # Position of the brush center for nozzle cleaning
variable_purge_bucket_xyz: 20, 307, 5 # Purge bucket position
variable_purge_distance: 30 # Amount to purge

# Recirculating carbon filter (example: Nevermove v5, etc...)
variable_filter_enabled: True
variable_filter_name: "filter"

# Machine lights and intensity for the different print phases
variable_light_enabled: True
variable_light_pin_name: "light"
variable_light_intensity_start_print: 100
variable_light_intensity_printing: 30
variable_light_intensity_end_print: 5

# If the machine is equiped by a temperature sensor in the chamber
# it will be used to measure and control the chamber heatsoak
variable_chamber_temperature_sensor_enabled: True
variable_chamber_temperature_sensor_name: "Chamber"

# If using the z_calibration plugin, the z_endstop position is extracted automaticaly
# from the plugin configuration section [z_calibration]. Nothing to do here.
variable_zcalib_plugin_enabled: True
# If the plugin is not used, then
#    - set variable_zcalib_plugin_enabled to false
#    - remove or comment the file macros > probing > z_calibration.cfg (the CALIBRATE_Z macro)
#    - Set the machine z_endstop coordinates here !!!
variable_zendstop_position: -1, -1 # Used only if variable_zcalib_plugin_enabled is set to false !!!

# SteathBurner leds installed in the machine
variable_status_leds_enabled: False
variable_status_leds_logo_led_name: "status_leds"
variable_status_leds_logo_idx: '1'
variable_status_leds_nozzle_led_name: "status_leds"
variable_status_leds_nozzle_idx: '2,3'

variable_status_leds_colors: {
        'logo': {
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
            'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.1},
        },
        'nozzle': {
            'heating': {'r': 0.8, 'g': 0.35, 'b': 0.0, 'w':0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'standby': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
        },
        'thermal': {
            'hot': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cold': {'r': 0.3, 'g': 0.0, 'b': 0.3, 'w': 0.0}
        }
    }


# Do not remove the next line
gcode:
