# You will need to configure a neopixel (or other addressable led, such as dotstar). See
# https://www.klipper3d.org/Config_Reference.html#neopixel for configuration details.

# src : https://github.com/VoronDesign/Voron-Stealthburner/blob/main/Firmware/stealthburner_leds.cfg
# Contributed by Voron discord users wile.e, Tetsunosuke, and etherwalker


##########
# MACROS #
##########

# The following status macros are available (these go inside of your macros):
#
#    STATUS_READY
#    STATUS_OFF
#    STATUS_BUSY
#    STATUS_HEATING
#    STATUS_LEVELING
#    STATUS_HOMING
#    STATUS_CLEANING
#    STATUS_MESHING
#    STATUS_CALIBRATING_Z
#
# With additional macros for basic control:
#
#    SET_NOZZLE_LEDS_ON
#    SET_LOGO_LEDS_OFF
#    SET_NOZZLE_LEDS_OFF
#


[gcode_macro _SET_LEDS]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = params.LED|string %}
    {% set idx = (params.IDX|string).split(',') %}
    {% set transmit_last = params.TRANSMIT|default(1) %}
    {% set status_leds_enable = printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}



    {% if status_leds_enable %}
        {% for led_index in idx %}
            {% set transmit=transmit_last if loop.last else 0 %}
            SET_LED LED={led} RED={red} GREEN={green} BLUE={blue} WHITE={white} INDEX={led_index} TRANSMIT={transmit}
        {% endfor %}
    {% endif %}   

[gcode_macro _SET_LEDS_BY_NAME]
gcode:
    {% set leds_name = params.LEDS %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _USER_VARIABLES"].status_leds_colors[leds_name][color_name] %}
    {% set led = printer["gcode_macro _USER_VARIABLES"]["status_leds_" + leds_name + "_led_name"] %}
    {% set idx = printer["gcode_macro _USER_VARIABLES"]["status_leds_" + leds_name + "_idx"] %}
    {% set transmit = params.TRANSMIT|default(1) %}

    _SET_LEDS LED={led} RED={color.r} GREEN={color.g} BLUE={color.b} WHITE={color.w} IDX="{idx}" TRANSMIT={transmit}

[gcode_macro _SET_LOGO_LEDS]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _USER_VARIABLES"].status_leds_logo_led_name %}
    {% set idx = printer["gcode_macro _USER_VARIABLES"].status_leds_logo_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _SET_LEDS LED={led} RED={red} green={green} BLUE={blue} WHITE={white} IDX="{idx}" TRANSMIT={transmit}

[gcode_macro _SET_NOZZLE_LEDS]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _USER_VARIABLES"].status_leds_nozzle_led_name %}
    {% set idx = printer["gcode_macro _USER_VARIABLES"].status_leds_nozzle_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _SET_LEDS LED={led} RED={red} green={green} BLUE={blue} WHITE={white} IDX="{idx}" TRANSMIT={transmit}


[gcode_macro SET_LOGO_LEDS_OFF]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _SET_LEDS_BY_NAME LEDS="logo" COLOR="off" TRANSMIT={transmit}
    
[gcode_macro SET_NOZZLE_LEDS_ON]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _SET_LEDS_BY_NAME LEDS="nozzle" COLOR="on" TRANSMIT={transmit}

[gcode_macro SET_NOZZLE_LEDS_OFF]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _SET_LEDS_BY_NAME LEDS="nozzle" COLOR="off" TRANSMIT={transmit}

[gcode_macro STATUS_OFF]
gcode:
    SET_LOGO_LEDS_OFF TRANSMIT=0
    SET_NOZZLE_LEDS_OFF

[gcode_macro STATUS_READY]
gcode:
    _SET_LEDS_BY_NAME LEDS="logo" COLOR="standby" TRANSMIT=0
    _SET_LEDS_BY_NAME LEDS="nozzle" COLOR="standby" TRANSMIT=1

[gcode_macro STATUS_BUSY]
gcode:
    _SET_LEDS_BY_NAME LEDS="logo" COLOR="busy" TRANSMIT=0
    SET_NOZZLE_LEDS_ON

[gcode_macro STATUS_HEATING]
gcode:
    _SET_LEDS_BY_NAME LEDS="logo" COLOR="heating" TRANSMIT=0
    _SET_LEDS_BY_NAME LEDS="nozzle" COLOR="heating" TRANSMIT=1

[gcode_macro STATUS_LEVELING]
gcode:
    _SET_LEDS_BY_NAME LEDS="logo" COLOR="leveling" TRANSMIT=0
    SET_NOZZLE_LEDS_ON

[gcode_macro STATUS_HOMING]
gcode:
    _SET_LEDS_BY_NAME LEDS="logo" COLOR="homing" TRANSMIT=0
    SET_NOZZLE_LEDS_ON

[gcode_macro STATUS_CLEANING]
gcode:
    _SET_LEDS_BY_NAME LEDS="logo" COLOR="cleaning" TRANSMIT=0
    SET_NOZZLE_LEDS_ON

[gcode_macro STATUS_MESHING]
gcode:
    _SET_LEDS_BY_NAME LEDS="logo" COLOR="meshing" TRANSMIT=0
    SET_NOZZLE_LEDS_ON

[gcode_macro STATUS_CALIBRATING_Z]
gcode:
    _SET_LEDS_BY_NAME LEDS="logo" COLOR="calibrating_z" TRANSMIT=0
    SET_NOZZLE_LEDS_ON

[gcode_macro STATUS_PRINTING]
gcode:
    _SET_LEDS_BY_NAME LEDS="logo" COLOR="printing" TRANSMIT=0
    SET_NOZZLE_LEDS_ON
