# NOTE: Safe Printing Area of a Prusa Mk52 bed is
# 250mm x 210mm at its most conservative, however
# the endstop for a Voron Switchwire is located at
# max Y (aka 240mm) in its stock configuration.

[stepper_x]
position_min: 0
position_endstop: 250
position_max: 250

[stepper_y]
position_min: 0
position_endstop: 240
position_max: 240

[stepper_z]
position_max: 235
position_min: -3.0
