[gcode_macro _USER_VARIABLES]
variable_minidisplay_bootlogo_enabled = True
variable_minidisplay_bootinfo_enabled = True
variable_minidisplay_bootinfo_name = "PrinterName"

#### START SPLASH SCREEN
# Comment Out to Disable or Set 'custom' to New Name
[delayed_gcode START_LOGO]
initial_duration: 0.001
gcode:
  {% set  bootlogo_enabled = printer["gcode_macro _USER_VARIABLES"].minidisplay_bootlogo_enabled %}
  {% if minidisplay_bootlogo_enabled %}
    {% set custom1 = "_my_intro" %}
    SET_DISPLAY_GROUP GROUP={custom1}
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=4 
  {% endif %}

#### START SPLASH SCREEN
# Comment Out to Disable or Set 'custom' to New Name
[delayed_gcode START_INFO]
initial_duration: 4
gcode:
  {% set  bootinfo_enabled = printer["gcode_macro _USER_VARIABLES"].bootinfo_enabled %}
  {% if minidisplay_bootinfo_enabled %}
    {% set custom = "_my_info" %}
    SET_DISPLAY_GROUP GROUP={custom}
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=4
  {% endif %}

#### CLEAR MESSAGE AND SET DEFAULT DISPLAY GROUP
[delayed_gcode clear_display]
gcode:
  M117   
  SET_DISPLAY_GROUP GROUP={printer.configfile.settings.display.display_group}   

#####################################
# My Intro
#####################################

[display_data _my_intro intro1]
position: 0, 0
text:
	~kp00~~kp01~~kp02~~kp03~~kp04~~kp05~~kp06~~kp07~

[display_data _my_intro intro2]
position: 1, 0
text:
	~kp10~~kp11~~kp12~~kp13~~kp14~~kp15~~kp16~~kp17~	

[display_data _my_intro intro3]
position: 2, 0
text:
	~kp20~~kp21~~kp22~~kp23~~kp24~~kp25~~kp26~~kp26~

[display_data _my_intro intro4]
position: 3, 0
text:
	~kp30~~kp31~~kp32~~kp33~~kp34~~kp35~~kp36~~kp26~	

#####################################
# My Info Override Printer Name with your own
#####################################
[display_data _my_info info3]
position: 0, 0
text:
	{printer["gcode_macro _USER_VARIABLES"].minidisplay_bootinfo_name}

[display_data _my_info info1]
position: 1, 0
text:
    Klipper: 

[display_data _my_info info2]
position: 2, 0
text:
	{printer.mcu.mcu_version}

[display_data _my_info info4]
position: 3, 0
text:
	by Klippain

[include klippain_glyphs.cfg]