#### START SPLASH SCREEN
# Comment Out to Disable or Set 'custom' to New Name
[delayed_gcode START_LOGO]
initial_duration: 0.001
gcode:
  {% set custom1 = "_my_intro" %}
  SET_DISPLAY_GROUP GROUP={custom1}
  UPDATE_DELAYED_GCODE ID=clear_display DURATION=4 

#### START SPLASH SCREEN
# Comment Out to Disable or Set 'custom' to New Name
[delayed_gcode START_INFO]
initial_duration: 4
gcode:
  {% set custom = "_my_info" %}
  SET_DISPLAY_GROUP GROUP={custom}
  UPDATE_DELAYED_GCODE ID=clear_display DURATION=4

#### CLEAR MESSAGE AND SET DEFAULT DISPLAY GROUP
[delayed_gcode clear_display]
gcode:
  M117   
  SET_DISPLAY_GROUP GROUP={printer.configfile.settings.display.display_group}   

#####################################
# My Intro
#####################################

[display_data _my_intro intro1]
position: 0, 0
text:
    ~tl~~tl~~l1~~tl~~tl~~l2~~tl~~tl~ 

[display_data _my_intro intro2]
position: 1, 4
text:
	~l3~~l4~~l5~~l6~	

[display_data _my_intro intro3]
position: 2, 4
text:
	~l7~~l8~~l9~~l10~

[display_data _my_intro intro4]
position: 3, 0
text:
	~bl~~bl~~l11~~l12~~l13~~l14~~bl~~bl~	

#####################################
# My Info
#####################################
[display_data _my_info info3]
position: 0, 0
text:
	PrinterName

[display_data _my_info info1]
position: 1, 0
text:
    Klipper: 

[display_data _my_info info2]
position: 2, 0
text:
	{printer.mcu.mcu_version}

[display_data _my_info info4]
position: 3, 0
text:
	by Klippain
	
[display_glyph tl]
data:
	****************
	****************
	****************
	................
	****************
	................
	................
	................
	................
	................
	................
	................
	................
	................
	................
	................	

[display_glyph bl]
data:
	................
	................
	................
	................
	................
	................
	................
	................
	................
	................
	................
	****************
	................
	****************
	****************
	****************	

[display_glyph l1]
data:
    ****************
	****************
	****************
	................
	****************
	................
	.****...........
	..****..........
	...****.........
	....****........
	.....****.......
	......****......
	.......****.....
	........****....
	.........****...
	..........****..

[display_glyph l2]
data:
	****************
	****************
	****************
	................
	****************
	................
	...........****.
	..........****..
	.........****...
	........****....
	.......****.....
	......****......
	.....****.......
	....****........
	...****.........
	..****..........	

[display_glyph l3]

data:
	...........****.
	............****
	.............***
	..............**
	...............*
	................
	................
	................
	................
	................
	................
	................
	................
	................
	................
	................	

[display_glyph l4]
data:
    ................
	................
	*...............
	**..............
	***.............
	****............
	.****...........
	..****..........
	...****.........
	....****........
	.....****.......
	......****......
	.......****.....
	........****....
	.........****...
	..........****..   

[display_glyph l5]
data:
	................
	................
	...............*
	..............**
	.............***
	............****
	...........****.
	..........****..
	.........****...
	........****....
	.......****.....
	......****......
	.....****.......
	....****........
	...****.........
	..****..........

[display_glyph l6]
data:
	.****...........
	****............
	***.............
	**..............
	*...............
	................
	................
    ................
	................
	................
    ................
	................
	................
	................
	................
	................	

[display_glyph l7]
data:
	................
	................
	................
	................
	................
	................
	................
	................
	................
	..***.....**...*
	..***....***...*
	..***...***....*
	..***..***.....*
	..***.***......*
	..******.......*
	..*****........*

[display_glyph l8]
data:
	...........****.
	............****
	.............***
	..............**
	...............*
	...............*
	...............*
	...............*
	...............*
	*..............*
	*...************
	*...************
	*...............
	*...**.....*****
	*...**...*******
    *...**...**....*

[display_glyph l9]
data:
	.****...........
	****............
	***.............
	**..............
	*...............
	*...............
	*...............
	*...............
	*...............
	*...............
	*...............
	*...............
	................
	......*****.....
	*...********...*
	**..**....***.**

	

[display_glyph l10]

data:
	................
	................
	................
	................
	................
	................
	................
	................
	................
	................
	................
	................
	................
	*****.....****..
	******...******.
	*....**..**.....	

[display_glyph l11]

data:
	..***.**.......*
	..***.**.......*
	..***..**......*
	..***..***.....*
	..***...***....*
	..***....***...*
	..***.....**...*
	................
    ................
	................
	................
	****************
	................
	****************
	****************
	****************

[display_glyph l12]
data:
	*...**...**.....
	*...**...**.....
	*...**...**.....
	*...**...**....*
	*...**...*******
	*...**...**.****
	*...**...**.....
	.........**.....
	.........**.....
	.........**.....
	................
	****************
	................
	****************
	****************
	****************

[display_glyph l13]
data:
	**..**.....**.**
    **..**.....**.**
	**..**.....**.**
	**..**....***.**
	*...********...*
	....**.****.....
	....**..........
	....**..........
    ....**..........
	....**..........
	................
	****************
	................
	****************
    ****************
	****************

[display_glyph l14]
data:
	......*..**.....
	*******..**.....
	******...**.....
	.........**.....
	******...**.....
	*****....**.....
	................
	................
	................
	................
	................
	****************
	................
	****************
	****************
	****************