#-------------------------#
#   DISPLAY               #
#-------------------------#
### Screen Menu ###
# Main:
#    + Tune
#        + Speed: 000%
#        + Flow: 000%
#        + Offset Z:00.00
#    + SD Card
#        + Start printing
#        + Resume printing
#        + Pause printing
#        + Cancel printing
#        + ... (files)
#    + Control
#        + Park toolhead
#        + Home All
#        + Home Z
#        + Home X/Y
#        + Z Tilt
#        + Quad Gantry Lvl
#        + Bed Mesh
#        + Steppers off
#        + Fan: OFF
#        + Fan speed: 000%
#        + Lights: OFF
#        + Lights: 000%
#        + Move 10mm
#            + Move X:000.0
#            + Move Y:000.0
#            + Move Z:000.0
#            + Move E:+000.0
#        + Move 1mm
#            + Move X:000.0
#            + Move Y:000.0
#            + Move Z:000.0
#            + Move E:+000.0
#        + Move 0.1mm
#            + Move X:000.0
#            + Move Y:000.0
#            + Move Z:000.0
#            + Move E:+000.0
#    + Temperature
#        + Ex0:000 (0000)
#        + Ex1:000 (0000)
#        + Bed:000 (0000)
#        + Preheat PLA
#            + Preheat all
#            + Preheat hotend
#            + Preheat hotbed
#        + Preheat ABS
#            + Preheat all
#            + Preheat hotend
#            + Preheat hotbed
#        + Cooldown
#            + Cooldown all
#            + Cooldown hotend
#            + Cooldown hotbed
#    + Filament
#        + Ex0:000 (0000)
#        + Load Filament
#        + Unload Filament
#        + Purge Filament
#        + Clean Nozzel
#        + Feed: 000.0
#    + Setup
#        + Save config
#        + Host control
#            + Restart host
#            + Restart FW
#            + Shutdown host
#        + PID tuning
#            + Tune Hotend PID
#            + Tune Hotbed PID
#        + Calibration
#            + Delta cal. auto
#            + Delta cal. man
#                + Start probing
#                + Move Z: 000.00
#                + Test Z: ++
#                + Accept
#                + Abort
#            + Bed probe
#        + Dump parameters



# Shutdown and reboot
[menu __main __setup __restart]
type: list
enable: {not printer.idle_timeout.state == "Printing"}
name: Host control


# Add a park menu item.
[menu __main __control __park]
type: command
name: Park toolhead
enable: {printer.idle_timeout.state != "Printing" or
         printer.pause_resume.is_paused}
index: 0
gcode:
  PARK

[menu __main __setup __restart __shutdown]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Shutdown host
gcode: SHUTDOWN

### menu octoprint ###
[menu __main __octoprint]
type: disabled

[menu __main __control __caselightonoff]
type: input
enable: {'output_pin caselight' in printer}
name: Lights: {'ON ' if menu.input else 'OFF'}
input: {printer['output_pin caselight'].value}
input_min: 0
input_max: 1
input_step: 1
gcode:
    SET_PIN PIN=caselight VALUE={printer["gcode_macro _USER_VARIABLES"].light_intensity_start_print if menu.input else 0}

[menu __main __control __caselightpwm]
type: input
enable: {'output_pin caselight' in printer}
name: Lights: {'%3d' % (menu.input*100)}%
input: {printer['output_pin caselight'].value}
input_min: 0.0
input_max: 1.0
input_step: 0.01
gcode:
    SET_PIN PIN=caselight VALUE={menu.input*100}

################################################################################
# Replace filament loading with our own macros.
################################################################################
[menu __main __filament]
type: list
name: Filament
enable: {printer.idle_timeout.state != "Printing" or
         printer.pause_resume.is_paused}

# Hide the old load/unload commands.
[menu __main __filament __loadf]
type: command
name: Load Fil. fast
enable: False

[menu __main __filament __loads]
type: command
name: Load Fil. slow
enable: False

[menu __main __filament __unloadf]
type: command
name: Unload Fil.fast
enable: False

[menu __main __filament __unloads]
type: command
name: Unload Fil.slow
enable: False

# Add new load/unload using our macros.
[menu __main __filament __load]
type: command
index: 1
name: Load Filament
gcode:
  LOAD_FILAMENT

[menu __main __filament __unload]
type: command
index: 2
name: Unload Filament
gcode:
  UNLOAD_FILAMENT

[menu __main __filament __purge]
type: command
index: 3
name: Purge Filament
gcode:
  PURGE

[menu __main __filament __clean]
type: command
index: 3
name: Clean Nozzle
gcode:
  CLEAN_NOZZLE