#####################################################################
# ERCF MENU designed for LCD Mini12864 screen
#####################################################################

### menu ERCF ###
[menu __main __ERCF]
enable: {printer.ercf.enabled}
type: list
name: ERCF
index: 6

[menu __main __ERCF __HOME]
type: command
name: Home ERCF
index: 1
gcode: ERCF_HOME

[menu __main __ERCF __UNLOCK]
type: command
name: Unlock
index: 2
gcode: ERCF_UNLOCK

[menu __main __ERCF __SERVO_UP]
type: command
name: Servo up
index: 3
gcode: ERCF_SERVO_UP

[menu __main __ERCF __SERVO_DOWN]
type: command
name: Servo down
index: 4
gcode: ERCF_SERVO_DOWN

[menu __main __ERCF __CHANGE_TOOL]
type: input
name: Change Tool: {'%2d' % (menu.input|int)}
input: 0
input_min: 0
input_max: 8
input_step: 1
index: 5
gcode:
    ERCF_CHANGE_TOOL TOOL={menu.input|int}

[menu __main __ERCF __SELECT_TOOL]
type: input
name: Select Tool: {'%2d' % (menu.input|int)}
input: 0
input_min: 0
input_max: 8
input_step: 1
index: 6
gcode:
    ERCF_SELECT_TOOL TOOL={menu.input|int}

[menu __main __ERCF __PRELOAD_TOOL]
type: input
name: Preload Tool: {'%1d' % (menu.input|int)}
input: 0
input_min: 0
input_max: 8
input_step: 1
index: 7
gcode:
    ERCF_PRELOAD GATE={menu.input|int}

[menu __main __ERCF __EJECT]
type: command
name: Eject
index: 8
gcode: ERCF_EJECT

[menu __main __ERCF __RECOVER]
type: command
name: Recover
index: 9
gcode: ERCF_RECOVER

[menu __main __ERCF __SELECT_BYPASS]
enable: {not printer.idle_timeout.state == "Printing"}
type: command
name: Select bypass
index: 10
gcode: ERCF_SELECT_BYPASS

[menu __main __ERCF __LOAD_BYPASS]
enable: {not printer.idle_timeout.state == "Printing"}
type: command
name: Load bypass
index: 11
gcode: ERCF_LOAD_BYPASS	

[menu __main __ERCF __UNLOAD_BYPASS]
enable: {not printer.idle_timeout.state == "Printing"}
type: command
name: Unload bypass
index: 12
gcode: ERCF_UNLOAD_BYPASS	

[menu __main __ERCF __STATUS]
type: command
name: Show Status
index: 13
gcode: ERCF_STATUS

[menu __main __ERCF __MOTORS_OFF]
type: command
name: Motors off
index: 14
gcode: ERCF_MOTORS_OFF