[gcode_macro _USER_VARIABLES]
variable_firmware_retraction_enabled: True
gcode:

[firmware_retraction]
# G10 to retract and G11 to unrectract
retract_length: 0.4
# unretract_extra_length: 0
retract_speed: 30
unretract_speed: 30
