# This file add support for Sensorless homing using TMC2209 drivers
# To use it, be sure to place the corresponding jumpers correctly on your MCU!
[gcode_macro _USER_VARIABLES]
variable_sensorless_homing_enabled: True
gcode:


[stepper_x]
homing_speed: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop

[tmc2209 stepper_x]
diag_pin: ^X_STOP
driver_SGTHRS: 255

[stepper_y]
homing_speed: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop

[tmc2209 stepper_y]
diag_pin: ^Y_STOP
driver_SGTHRS: 255


## PLEASE READ THE FOLLOWING:
## 255 is the most sensitive value, 0 is the least sensitive. Here we set a default
## value of 255 to avoid any trouble or crash. Your axes should not move with this parameter!

## Follow the Klipper documentation here: https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
## to find the best suited SGTHRS value according to your machine. Then you can put it in your overrides
## file like that:

# [tmc2209 stepper_x]
# driver_SGTHRS: new value for X

# [tmc2209 stepper_y]
# driver_SGTHRS: new value for Y
