# This is an automatic override for the Shake&Tune entrypoint. This will allow it
# to work correctly in the full Klippain environement (within the scripts folder).

[gcode_shell_command shaketune]
command: ~/printer_data/config/scripts/K-ShakeTune/shaketune.sh
timeout: 600.0
verbose: True
