# If using the z_calibration plugin (when this file is included in the
# main printer.cfg), the z_endstop position is extracted automaticaly
# from the plugin configuration section [z_calibration].

# This file need a probe AND and a physical Z endstop pin to be able to work.

[gcode_macro _USER_VARIABLES]
variable_zcalib_plugin_enabled: True
gcode:

# Automatically include the associated CALIBRATE_Z overide
[include ../../macros/base/homing/z_calibration.cfg]


[z_calibration]
# Physical Z endstop pin position
nozzle_xy_position: -1,-1
# Probe switch position on physical endstop
switch_xy_position: -1,-1
# Switch offset (default D2F-5: 0.5mm and SSG-5H: 0.7mm)
# Smaller number means higher nozzle to the PEI
switch_offset: 0.50
max_deviation: 0.750
samples: 3
#samples_tolerance: 0.01
#clearance: 8
speed: 350 # X,Y movements
probing_first_fast: true
#probing_speed: 20
#probing_second_speed: 5
#probing_retract_dist: 2
start_gcode: ACTIVATE_PROBE
#before_switch_gcode:
end_gcode: DEACTIVATE_PROBE
