#############################################################################
# Probe macros base on the defaults but modified with Beacon specific improvements
# Improvements are from the ANNEX Discord and allow for QGL/Tilt in scan mode
#############################################################################

[gcode_macro FAST_QUAD_GANTRY_LEVEL]
description: Conform a moving, twistable gantry to the shape of a stationary bed, optimized for Beacon Probe
gcode:
    {% set tilting_travel_accel = printer["gcode_macro _USER_VARIABLES"].tilting_travel_accel %}
    {% set status_leds_enabled = printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}

    {% if verbose %}
        { action_respond_info("Beacon QGL") }
    {% endif %}

    _CG28

    {% if status_leds_enabled %}
        STATUS_LEDS COLOR="LEVELING"
    {% endif %}

    ACTIVATE_PROBE

    # Set the tilting acceleration prior to any movement
    {% set saved_accel = printer.toolhead.max_accel %}
    M204 S{tilting_travel_accel}

    {% if printer.quad_gantry_level.applied|lower == 'false' %}
        _BASE_QUAD_GANTRY_LEVEL RETRY_TOLERANCE=1 {rawparams}
    {% endif %}
    _BASE_QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z=2 {rawparams}

    # Reset acceleration values to what it was before
    SET_VELOCITY_LIMIT ACCEL={saved_accel}

    DEACTIVATE_PROBE

    {% if status_leds_enabled %}
        STATUS_LEDS COLOR="READY"
    {% endif %}


[gcode_macro FAST_Z_TILT_ADJUST]
description: Conform a moving bed to the shape of a stationary gantry with dockable probe automount, optimized for Beacon Probe
gcode:
    {% set tilting_travel_accel = printer["gcode_macro _USER_VARIABLES"].tilting_travel_accel %}
    {% set status_leds_enabled = printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}

    {% if verbose %}
        { action_respond_info("Beacon Z tilt adjust") }
    {% endif %}

    _CG28

    {% if status_leds_enabled %}
        STATUS_LEDS COLOR="LEVELING"
    {% endif %}

    ACTIVATE_PROBE

    # Set the tilting acceleration prior to any movement
    {% set saved_accel = printer.toolhead.max_accel %}
    M204 S{tilting_travel_accel}

    {% if printer.quad_gantry_level.applied|lower == 'false' %}
        _BASE_Z_TILT_ADJUST RETRY_TOLERANCE=1 {rawparams}
    {% endif %}
    _BASE_Z_TILT_ADJUST HORIZONTAL_MOVE_Z=2 {rawparams}

    # Reset acceleration values to what it was before
    SET_VELOCITY_LIMIT ACCEL={saved_accel}

    DEACTIVATE_PROBE

    {% if status_leds_enabled %}
        STATUS_LEDS COLOR="READY"
    {% endif %}
