#############################################################################
# Dockable probe macros highly inspired from https://github.com/jlas1/Klicky-Probe
# Reworked by Elpopo and myself to simplify it while trying to stay generic
#############################################################################

[gcode_macro Z_TILT_ADJUST]
rename_existing: _BASE_Z_TILT_ADJUST
description: Conform a moving bed to the shape of a stationary gantry with dockable probe automount
gcode:
    {% set tilting_travel_accel = printer["gcode_macro _USER_VARIABLES"].tilting_travel_accel %}
    {% set status_leds_enabled = printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}


    {% if verbose %}
        { action_respond_info("Z tilt adjust") }
    {% endif %}
    
    _CG28

    {% if status_leds_enabled %}
        STATUS_LEDS COLOR="LEVELING"
    {% endif %}

    ACTIVATE_PROBE

    # Set the tilting acceleration prior to any movement
    {% set saved_accel = printer.toolhead.max_accel %}
    M204 S{tilting_travel_accel}

    _BASE_Z_TILT_ADJUST {% for p in params %}{'%s=%s ' % (p, params[p])}{% endfor %}

    # Reset acceleration values to what it was before
    SET_VELOCITY_LIMIT ACCEL={saved_accel}

    DEACTIVATE_PROBE

    {% if status_leds_enabled %}
        STATUS_LEDS COLOR="READY"
    {% endif %}
