[stepper_z]
rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200
position_endstop: 0

[tmc2209 stepper_z]
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

# We also include the default wiring and speeds from here to avoid duplicating
[include default_wiring.cfg]
[include default_speed.cfg]
