[stepper_z]
rotation_distance: 40
gear_ratio: 6:1
microsteps: 32
full_steps_per_rotation: 200

[stepper_z1]
rotation_distance: 40
gear_ratio: 6:1
microsteps: 32
full_steps_per_rotation: 200

[stepper_z2]
rotation_distance: 40
gear_ratio: 6:1
microsteps: 32
full_steps_per_rotation: 200

[stepper_z3]
rotation_distance: 40
gear_ratio: 6:1
microsteps: 32
full_steps_per_rotation: 200

# We also include the default wiring and speeds from here to avoid duplicating
[include default_wiring_4M.cfg]
[include default_speed.cfg]
