[stepper_z]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z]
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
# stealthchop_threshold: 99999

[stepper_z1]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
# stealthchop_threshold: 99999

[stepper_z2]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
# stealthchop_threshold: 99999

[stepper_z3]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z3]
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
# stealthchop_threshold: 99999


# We also include the default wiring and speeds from here to avoid duplicating
[include default_wiring_4M.cfg]
[include default_speed.cfg]
