# This file include some gcode_shell_commands
# Be sure to have the gcode_shell_command.py Klipper extension installed. Easiest way is
# to use KIAUH in the Advanced section but this is done automatically when installing Klippain

[gcode_shell_command system_info]
command: ~/printer_data/config/scripts/system_info.py
timeout: 5.0
verbose: True

[include is_workflow/is_workflow_cmd.cfg]
