[gcode_macro CALIBRATE]
description: Calibrate the printer flow or pressure advance
gcode:
    # Type of calibration
    {% set TYPE = params.TYPE|default("")|string|lower %}
    
    # Define print vars with safe default values
    {% set BED_TEMP = params.BED_TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_bed_temp)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}
    {% set MATERIAL = params.MATERIAL|default("ABS")|string %}

    {% set center_x = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set center_y = printer.toolhead.axis_maximum.y|float / 2 %}
    
    {% if TYPE=="flow" %}
        # No bed mesh needed for this one as it's a small center print so we compute the size manually (default flow size is 40mm)
        {% set computed_size = (center_x - 20)|string + '_' + (center_y - 20)|string + '_' + (center_x + 20)|string + '_' + (center_y + 20)|string %}

        # Call the standard START_PRINT with almost no soaking time and no chamber temp requirement (we want to go fast!)
        START_PRINT EXTRUDER_TEMP={EXTRUDER_TEMP} BED_TEMP={BED_TEMP} MATERIAL={MATERIAL} SOAK=1 SIZE={computed_size}
        FLOW_MULTIPLIER_CALIBRATION EXTRUSION_WIDTH=0.471
        END_PRINT FILTER_TIME=0
    
    {% elif TYPE=="pressure_advance" %}
        # A bed mesh is needed for this one as it's a large print so we compute the size manually (default PA size is 120mm)
        {% set computed_size = (center_x - 60)|string + '_' + (center_y - 60)|string + '_' + (center_x + 60)|string + '_' + (center_y + 60)|string %}
        
        # Call the standard START_PRINT with almost no soaking time and no chamber temp requirement (we want to go fast!)
        START_PRINT EXTRUDER_TEMP={EXTRUDER_TEMP} BED_TEMP={BED_TEMP} MATERIAL={MATERIAL} SOAK=1 SIZE={computed_size}
        PRESSURE_ADVANCE_CALIBRATION
        END_PRINT FILTER_TIME=0

    {% else %}
        {action_respond_info("Please call this macro using TYPE= \"flow\" or \"pressure_advance\"")}
        {action_raise_error("not enough parameters to start a calibration!")}
    
    {% endif %}
