[gcode_macro CALIBRATE]
description: Calibrate the printer flow or pressure advance
gcode:
    # Type of calibration
    {% set TYPE = params.TYPE|default("")|string %}
    # Define vars with safe default values for ABS (main material I'm using)
    {% set BED_TEMP = params.BED_TEMP|default(110)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(240)|float %}
    {% set MATERIAL = params.MATERIAL|default("ABS")|string %}
    
    {% if TYPE=="" %}
        {action_respond_info("Please call this macro using TYPE= \"flow\" or \"pressure_advance\"")}
        {action_raise_error("not enough parameters to start a calibration!")}
    
    {% elif TYPE=="flow" %}
        # Call the standard START_PRINT with almost no soaking time and no chamber temp requirement (we want to go fast!)
        # Also no bed mesh needed for this one as it's a small center print
        START_PRINT EXTRUDER_TEMP={EXTRUDER_TEMP} BED_TEMP={BED_TEMP} MATERIAL={MATERIAL} SOAK=1 SIZE=130_130_170_170
        FLOW_MULTIPLIER_CALIBRATION EXTRUSION_WIDTH=0.471
    
    {% elif TYPE=="pressure_advance" %}
        # Call the standard START_PRINT with almost no soaking time and no chamber temp requirement (we want to go fast!)
        # A bed mesh is needed for this one as it's a large print (120mm sized square)
        START_PRINT EXTRUDER_TEMP={EXTRUDER_TEMP} BED_TEMP={BED_TEMP} MATERIAL={MATERIAL} SOAK=1 SIZE=90_90_210_210
        PRESSURE_ADVANCE_CALIBRATION

    {% endif %}

    END_PRINT FILTER_TIME=0
