[gcode_macro HEATSOAK_CHAMBER]
gcode:
    {% set SETPOINT_TEMP = params.TEMP|default(0)|float %}
    {% set MAXTIME = params.MAXTIME|default(15)|int %}

    {% for _ in range(1, MAXTIME) %}
        _WAIT_CHAMBER_TEMP TEMP={SETPOINT_TEMP}
    {% endfor %}
    RESPOND MSG="Chamber temperature OK !"

[gcode_macro _WAIT_CHAMBER_TEMP]
# This macro is needed to allow klipper populate a new value in the printer[...].temperature variable
# as each variables are populated only once at the beginning of every macro call
gcode:
    {% set SETPOINT_TEMP = params.TEMP|default(0)|float %}
    {% set CURRENT_TEMP = printer["temperature_sensor Chamber"].temperature|float %}

    {% if CURRENT_TEMP <= SETPOINT_TEMP %}
        RESPOND MSG="Heating up the chamber : {CURRENT_TEMP}/{SETPOINT_TEMP}"
        G4 P{60000 * 1} # wait a minute and check again if called in a loop
    {% endif %}


[gcode_macro HEATSOAK_BED]
gcode:
    {% set SETPOINT_TEMP = params.TEMP|default(0)|int %}
    {% set TIME = params.SOAKTIME|default(8)|int %}

    RESPOND MSG="Heating up bed..."
    M190 S{SETPOINT_TEMP}
    {% if TIME > 0 %}
        {% for _ in range(1, TIME) %}
            RESPOND MSG="Heatsoak..."
            G4 P{60000 * 1}
        {% endfor %}
    {% else %}
        RESPOND MSG="No heatsoak needed, continue"
    {% endif %}
    RESPOND MSG="Bed temperature OK"
