# [safe_z_home]
# home_xy_position:206,306.5
# speed:100
# z_hop:2

[gcode_macro HOMING_VARIABLES]
default_parameter_reset: 0
gcode:
    {% set R  = params.RESET %}

    {% if R %}
        SET_GCODE_VARIABLE MACRO=PROBE_VARIABLES VARIABLE=probe_lock VALUE={ False }
    {% endif %}


[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
    QUAD_GANTRY_LEVEL
    G90
    G0 X206 Y306.5 Z15 F18000
    G28 Z
    G1 Z10 F1000
    G0 X150 Y150 Z15 F18000

# Homing Override for Klicky-probe
[homing_override]
axes: xyz
gcode:
    USER_VARIABLES
    {% set V = printer["gcode_macro USER_VARIABLES"].verbose %}

    CHECK_PROBE action=query

    # reset parameters
    {% set X, Y, Z = False, False, False %}

    # which axes have been requested for homing
    {% if not 'X' in params
        and not 'Y' in params
        and not 'Z' in params %}

        {% set X, Y, Z = True, True, True %}

    {% else %}
        {% if 'X' in params %}
            {% set X = True %}
        {% endif %}

        {% if 'Y' in params %}
            {% set Y = True %}
        {% endif %}

        {% if 'Z' in params %}
            {% set Z = True %}
        {% endif %}

        {% if 'X' in params
          and 'Y' in params
          and 'Z' in params %}
            # reset homing state variables
            # if homing all axes
            HOMING_VARIABLES reset=1
         {% endif %}

    {% endif %}

    # Home x
    {% if X %}
        {% if V %}
            { action_respond_info("Homing X") }
        {% endif %}
        BED_MESH_CLEAR
        G28 X0
    {% endif %}

    # Home y
    {% if Y %}
        {% if V %}
            { action_respond_info("Homing Y") }
        {% endif %}
        BED_MESH_CLEAR
        G28 Y0
        G91
        G1 Y-20 F8000
        G90
    {% endif %}

    # Home z
    {% if Z %}
        {% if V %}
            { action_respond_info("Homing Z") }
        {% endif %}

        {% if (not 'z' in printer.toolhead.homed_axes) %}
            {% if V %}
                { action_respond_info("Resetting Z position to zero") }
            {% endif %}
            SET_KINEMATIC_POSITION Z=0
        {% endif %}

        # if probe is configured as endstop, attach it
        {% if printer['configfile'].config["stepper_z"]["endstop_pin"] == 'probe:z_virtual_endstop' %}
            ATTACH_PROBE
        {% endif %}

        BED_MESH_CLEAR
        HOME_Z

        # if probe is configured as endstop, dock it
        {% if printer['configfile'].config["stepper_z"]["endstop_pin"] == 'probe:z_virtual_endstop' %}
            DOCK_PROBE
        {% endif %}
    {% endif %}

    CHECK_PROBE action=query

[gcode_macro HOME_Z]
gcode:
    {% set Zx = printer["gcode_macro PROBE_VARIABLES"].z_endstop_x         %}
    {% set Zy = printer["gcode_macro PROBE_VARIABLES"].z_endstop_y         %}
    {% set Hzh = printer["gcode_macro USER_VARIABLES"].home_z_height|float %}
    {% set St = printer["gcode_macro USER_VARIABLES"].travel_speed * 60    %}
    {% set Sz = printer["gcode_macro USER_VARIABLES"].z_drop_speed * 60    %}
    {% set Hx = printer["gcode_macro HOMING_VARIABLES"].homed_x            %}
    {% set Hy = printer["gcode_macro HOMING_VARIABLES"].homed_y            %}

    # if x and y are not homed yet, raise error
    {% if not 'xy' in printer.toolhead.homed_axes %}
        { action_raise_error("Must Home X and Y Axis First!") }

    {% else %}
        G90
        # move tool to safe Z homing position to avoid the dock
        # and then go onto the Z endstop pin
        G1 X{Zx} Y{Zy - 20} F{St}
        G1 X{Zx} Y{Zy} F{St}
        G28 Z0
        G1 Z{Hzh} F{Sz}
        G1 X{Zx} Y{Zy - 20} F{St}

    {% endif %}
