[gcode_macro START_PRINT]
default_parameter_BED_TEMP: 60
default_parameter_EXTRUDER_TEMP: 190
default_parameter_SOAK: 10 #heatsoak time in minutes
default_parameter_MATERIAL: XXX
gcode:
    CLEAR_PAUSE
    BED_MESH_CLEAR
    G90
    LIGHT_ON

    # Home if not already homed and park the head in the center
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
    G1 Z10 F1000
    G0 X150 Y150 Z15 F18000

    # Heatsoak the bed if not already at temperature
    {% if (SOAK|int) <= 0 or (printer.heater_bed.target >= (BED_TEMP|int - 5)) %}
        M109 S{EXTRUDER_TEMP|int - 50}
    {% else %}
        M190 S{BED_TEMP}
        M109 S{EXTRUDER_TEMP|int - 50}
        G4 P{60000 * SOAK|int} ;heatsoak time
    {% endif %}

    G32

    # Z offset adjustement
    #BED_MESH_PROFILE LOAD=100
    {% if MATERIAL == "PLA" %}
        SET_PRESSURE_ADVANCE ADVANCE=0.0525
        SET_GCODE_OFFSET Z=-0.050
    {% endif %}
    {% if MATERIAL == "PET" %}
        SET_PRESSURE_ADVANCE ADVANCE=0.0650
        SET_GCODE_OFFSET Z=-0.020
    {% endif %}
    {% if MATERIAL == "ABS" %}
        SET_PRESSURE_ADVANCE ADVANCE=0.0600
        SET_GCODE_OFFSET Z=-0.080
    {% endif %}

    G1 Z50 F1000
    M109 S{EXTRUDER_TEMP}
    PURGE TEMP={EXTRUDER_TEMP}
    CLEAN_NOZZLE
    G28 Z

    PRIME_LINE
    
    LIGHT_ON S=3
    G92 E0.0

[gcode_macro PRIME_LINE]
gcode:
    G91
    M83
    G1 Z5 F1000

    ; Starting position
    G90
    G1 X2.5 Y20 F18000
    G1 Z0.3 F1000

    ; Add pressure in the nozzle
    G92 E0
    G1 E5 F150

    ; Prime line
    G92 E0
    G1 Y100 E10 F2500
    G92 E0
    G1 Y150 E5 F1500

    ; retract and Z-hop
    G92 E0
    G1 Z2.0 E-0.1 F3000
    G92 E0
    G1 Z5 F1000
