[gcode_macro _USER_VARIABLES]
# Enable verbose output to let the macro have a chat
variable_verbose: True


#######################################
# Feedrate setpoints for all the macros
#######################################

variable_homing_travel_speed: 350
variable_travel_speed: 350
variable_z_drop_speed: 30
variable_brush_clean_speed: 130
variable_probe_dock_speed: 60


#######################################
# Dockable probe variables
#######################################

# Minimum safe Z height to attach/detach probe
variable_probe_min_z_travel: 15

# Position of the probe dock
variable_probe_dock_location_xy: 246.7, 306

# Movement direction to attach probe
# when the toolhead is already in the dock
variable_probe_move_to_attach: "back"
variable_probe_move_attach_length: 20

# Movement direction to detach probe
# when the toolhead is already in the dock
variable_probe_move_to_detach: "left"
variable_probe_move_detach_length: 50

#    Y
#    ^ 
#    |         front
#    |           ^
#    |   left  < O >  right
#    |           v
#    |          back
#    |_ _ _ _ _ _ _ _ _ _ _ _> X


#################################################
# Homing and print start variables
#################################################

# As I use the Z_calibration plugin, the physical Z
# endstop position is defined in the [z_calibration]
# section that you can find in hardware/probe.cfg

# Z hop before homing to avoid grinding
# the bed due to the gantry sag
variable_homing_zhop: 3

# margin to avoid the probe dock when homing
variable_probe_dock_margin_xy: 30, 30

# default START_PRINT parameters
variable_print_default_bed_temp: 110
variable_print_default_extruder_temp: 240
variable_print_default_chamber_temp: 0
variable_print_default_chamber_max_heating_time: 15
variable_print_default_soak: 8
variable_print_default_material: "XXX"

# Prime line start position
variable_prime_line_xy: 2.5, 20

# Park position used when pause, end_print, etc...
variable_park_position_xy: 20, 307


################################################
# Other hardware options used in the macros
################################################

# Brush and purge bucket available in the machine
# If this is not available in the machine, set the following
# variables to "-1, -1" for safety
variable_purge_and_brush_enabled: True
variable_brush_xyz: 77.5, 307, 2 # Position of the brush center for nozzle cleaning
variable_purge_bucket_xyz: 20, 307, 5 # Purge bucket position

# Recirculating carbon filter (example: Nevermove v5, etc...)
variable_filter_enabled: True
variable_filter_name: "filter"

# Lights installed in the machine
variable_light_enabled: True
variable_light_pin_name: "light"

# If the machine is equiped by a temperature sensor in the chamber
# it will be used to measure and control the chamber heatsoak
variable_chamber_temperature_sensor_enabled: True
variable_chamber_temperature_sensor_name: "Chamber"

# If using the z_calibration plugin, the z_endstop position is extracted automaticaly
# from the plugin configuration section [z_calibration]. Nothing to do here.
variable_zcalib_plugin_enabled: True
# If the plugin is not used, then
#    - set variable_zcalib_plugin_enabled to false
#    - remove or comment the file macros > probing > z_calibration.cfg (the CALIBRATE_Z macro)
#    - Set the machine z_endstop coordinates here !!!
variable_zendstop_position: -1, -1 # Used only if variable_zcalib_plugin_enabled is set to false !!!



# Do not remove the next line
gcode:
