[gcode_macro _USER_VARIABLES]
# Enable verbose output to let the macro have a chat
variable_verbose: True

# Speed control of the machine for all the macros
variable_travel_speed: 350
variable_z_drop_speed: 32
variable_brush_clean_speed: 130

# Physical Z endstop position
variable_z_endstop_x: 205.3
variable_z_endstop_y: 305.5

# Klicky Probe variables
variable_docklocation_x: 246.7
variable_docklocation_y: 306
variable_dockarmslenght: 30
variable_klicky_dock_speed: 55
variable_klicky_release_speed: 100
variable_home_z_height: 15

# Brush position for nozzle cleaning
variable_brush_x: 77.5
variable_brush_y: 307
variable_brush_z: 2

# Purge bucket position
variable_purge_bucket_x: 20
variable_purge_bucket_y: 307
variable_purge_bucket_z: 5

gcode:
    # Copy the physical Z endstop location to probe variables for Klicky internal functionning
    SET_GCODE_VARIABLE MACRO=_PROBE_VARIABLES VARIABLE=z_endstop_x VALUE={ z_endstop_x }
    SET_GCODE_VARIABLE MACRO=_PROBE_VARIABLES VARIABLE=z_endstop_y VALUE={ z_endstop_y }
