# White lights using 24V (example: white fcob)

[gcode_macro _USER_VARIABLES]
variable_light_enabled: True
variable_light_pin_name: "caselight"
gcode:

# Also include directly the white lights control macros from here
[include ../../../macros/hardware_functions/caselights.cfg]


[output_pin caselight]
pin: LIGHT_OUTPUT
pwm: true
value: 0
scale: 100
cycle_time: 0.010
