# Neopixel leds used as general printer lights
# using LED_effects

[gcode_macro _USER_VARIABLES]
variable_status_leds_caselight_enabled = True
variable_status_leds_effects_enabled = True
variable_status_leds_caselight_led_name: "caselight"
gcode:

# Also include directly the leds control macros from here 
[include ../../../macros/hardware_functions/status_leds.cfg]
[include config_colors.cfg]


[neopixel caselight]
pin: LIGHT_NEOPIXEL
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 31
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). The default is
#   GRB.
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
#initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#


#########################################################
# Define led effects for the different printer states
#########################################################
## Ready State
[led_effect cl_standby]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
   breathing 20.00 1 add (1.00,1.00,1.00) 
   static 0 0 top (0.07,0.37,0.57) 

## Busy State
[led_effect cl_busy]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    breathing  10 1 add (1.00,1.00,1.00)
    static 0 0 top (1.00,0,0)

## Heating State
[led_effect cl_heating]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    breathing  10 1 top (1.00,0.00,0.00)

## Leveling State
[led_effect cl_leveling]
leds:
    neopixel:caselight 
autostart:              false
frame_rate:             24
layers:
    breathing  10 1 add (1.00,1.00,1.00)
    static 0 0 top (0.5,0.1,0.4)

## Homing State
[led_effect cl_homing]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    breathing  10 1 add (1.00,1.00,1.00)
    static  0 0 top (0.0, 0.6, 0.2)

## Cleaning State
[led_effect cl_cleaning]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    breathing  10 1 add (1.00,1.00,1.00)
    static  0 0 top (0.0, 0.02, 0.5)

## Meshing State
[led_effect cl_meshing]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    breathing  10 1 add (1.00,1.00,1.00)
    static 0 0 top (0.2, 1.0, 0.0)

## Calibrating Z State
[led_effect cl_calibrating_z]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    breathing  10 1 add (1.00,1.00,1.00)
    static 0 0  top (0.0, 0.0, 0.35)

## Printing State
[led_effect cl_printing]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    breathing  120 1 add (1.00,1.00,1.00)
    static 0 0  top (0.0, 0.0, 0.3), (0.0, 0.3, 0.0), (0.3, 0.0, 0.0)

## Printing Done State
[led_effect cl_done_printing]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    strobe 0.20 0.60 subtract (1.00,0.00,1.00) 
    static 1.00 1.00 top (1.00,1.00,1.00) 

## Error State
[led_effect cl_error]
leds:
    neopixel:caselight
autostart:                             false
frame_rate:                            24
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)

## On State
[led_effect cl_on]
leds:
    neopixel:caselight
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (1.0,  1.0, 1.0)

## Off State
[led_effect cl_off]
leds:
    neopixel:caselight (1)
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (0.0,  0.0, 0.0)

## Printer startup effect
[led_effect cl_startup]
leds:
    neopixel:caselight
autostart:                          false
frame_rate:                         24
layers:
    gradient  0.3  1 add (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

## Critical error effect
[led_effect critical_error]
leds:
    neopixel:caselight
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true
