# Neopixel leds used on the toolhead (stealthburner style)
# in a rainbow barf pattern PCB using LED_effects

[gcode_macro _USER_VARIABLES]
variable_status_leds_enabled: True
variable_status_leds_effects_enabled: True
variable_status_leds_logo_led_name: "status_leds"
variable_status_leds_logo_idx: '1,2,3,4,5,6,7,8'
variable_status_leds_nozzle_led_name: "status_leds"
variable_status_leds_nozzle_idx: '9,10'
gcode:

# Also include directly the leds control macros from here
[include ../../../macros/hardware_functions/status_leds.cfg]
[include config_colors.cfg]


[neopixel status_leds]
pin: STATUS_NEOPIXEL
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 10
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW, GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#

#########################################################
# Define led effects for the different printer states
#########################################################
## Ready State
[led_effect sb_logo_standby]
leds:
    neopixel:status_leds (1-8)
autostart:              false
frame_rate:             24
layers:
    breathing  20 1 top (0.0, 0.0, 1.0)

[led_effect sb_nozzle_standby]
leds:
    neopixel:status_leds (9-10)
autostart:              false
frame_rate:             24
layers:
        breathing  20 1 top (0.0, 0.0, 1.0)

## Busy State
[led_effect sb_logo_busy]
leds:
    neopixel:status_leds (1-8)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (1,0,0)

## Heating State
[led_effect sb_logo_heating]
leds:
    neopixel:status_leds (1-8)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (1,0,0)

[led_effect sb_nozzle_heating]
leds:
    neopixel:status_leds (9-10)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (1.0, 0.18, 0.0, 0.0)

## Leveling State
[led_effect sb_logo_leveling]
leds:
    neopixel:status_leds (1-8)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.5, 0.1, 0.4)

## Homing State
[led_effect sb_logo_homing]
leds:
    neopixel:status_leds (1-8)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.0, 0.6, 0.2)

## Cleaning State
[led_effect sb_logo_cleaning]
leds:
    neopixel:status_leds (1-8)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

## Meshing State
[led_effect sb_logo_meshing]
leds:
    neopixel:status_leds (1-8)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.2, 1.0, 0.0)

## Calibrating Z State
[led_effect sb_logo_calibrating_z]
leds:
    neopixel:status_leds (1-8)
autostart:              false
frame_rate:             24
layers:
    breathing  3 1 top (0.0, 0.0, 0.35)

## Printing State
[led_effect sb_logo_printing]
leds:
    neopixel:status_leds (1-8)
autostart:              false
frame_rate:             24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

## Printing Done State
[led_effect sb_logo_done_printing]
leds:
    neopixel:status_leds (1-8)
autostart:              false
frame_rate:             24
layers:
    strobe 0.2 0.6 add (1.00,1.00,1.00) 
    breathing 10.00 0.00 subtract (0.0,0.40,0.0) 
    static 0.00 1.00 top (0.0,1.0,0.0)
    
[led_effect sb_nozzle_done_printing]
leds:
    neopixel:status_leds (9-10)
autostart:              false
frame_rate:             24
layers:
    strobe 0.2 0.6 add (1.00,1.00,1.00) 
    breathing 10.00 0.00 subtract (0.0,0.40,0.0) 
    static 0.00 1.00 top (0.0,1.0,0.0)

## Error State
[led_effect sb_logo_error]
leds:
    neopixel:status_leds (1-8)
autostart:                             false
frame_rate:                            24
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)

[led_effect sb_nozzle_error]
leds:
    neopixel:status_leds (9-10)
autostart:                             false
frame_rate:                            24
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)

## On State
[led_effect sb_logo_on]
leds:
    neopixel:status_leds (1-8)
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (1.0,  1.0, 1.0)

[led_effect sb_nozzle_on]
leds:
    neopixel:status_leds (9-10)
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (1.0,  1.0, 1.0)

## Off State
[led_effect sb_logo_off]
leds:
    neopixel:status_leds (1-8)
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (0.0,  0.0, 0.0)

[led_effect sb_nozzle_off]
leds:
    neopixel:status_leds (9-10)
autostart:              false
frame_rate:             24
layers:
    static 0  0 top (0.0,  0.0, 0.0)

## Printer startup effect
[led_effect startup]
leds:
    neopixel:status_leds
autostart:                          false
frame_rate:                         24
layers:
    gradient  0.3  1 add (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

## Critical error effect
[led_effect critical_error]
leds:
    neopixel:status_leds
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true
