[board_pins mcu_manufacturer]
aliases:
    MCU_XM_STEP=PE9 , MCU_XM_DIR=PF1 , MCU_XM_ENABLE=PF2 , MCU_XM_TMCUART=PC13 , MCU_XM_TMCTX=PE4 ,
    MCU_YM_STEP=PE11 , MCU_YM_DIR=PE8  , MCU_YM_ENABLE=PD7 , MCU_YM_TMCUART=PE3 , MCU_YM_TMCTX=PE2 ,
    MCU_ZM_STEP=PE13  , MCU_ZM_DIR=PC2  , MCU_ZM_ENABLE=PC0  , MCU_ZM_TMCUART=PE1 , MCU_ZM_TMCTX=PE0 ,
    MCU_E0M_STEP=PE14  , MCU_E0M_DIR=PA0  , MCU_E0M_ENABLE=PC3  , MCU_E0M_TMCUART=PD4 , MCU_E0M_TMCTX=PD2 ,
    MCU_EM1_STEP=PD15 , MCU_EM1_DIR=PE7, MCU_EM1_ENABLE=PA3 , MCU_EM1_TMCUART=PD1 , MCU_EM1_TMCTX=PD0 ,
    MCU_EM2_STEP=PD13 , MCU_EM2_DIR=PG9, MCU_EM2_ENABLE=PF0 , MCU_EM2_TMCUART=PD6 , MCU_EM2_TMCTX=PD5 ,


    MCU_XSTOP=PB10   , MCU_YSTOP=PE12  , MCU_ZSTOP=PG8   ,
    MCU_E0STOP=PE15 , MCU_E1STOP=PE10 , MCU_E2STOP=PG5 ,

    MCU_HEAT0=PB1 , MCU_HEAT1=PD14 , MCU_HEAT2=PB0 ,
    MCU_BED=PD12 ,

    MCU_T0=PF3 , MCU_T1=PF4 , MCU_T2=PF5 , MCU_T3=PF6 ,

    MCU_FAN0=PC8 , MCU_FAN1=PE5 , MCU_FAN2=PE6 ,

    # Z-Probe Header
    MCU_SERVOS=PA1 , MCU_PROBE=PA2 ,

    # EXP1 header
    EXP1_1=PG4    , EXP1_2=PA8 ,
    EXP1_3=PD11   , EXP1_4=PD10   ,
    EXP1_5=PG2    , EXP1_6=PG3  ,  # Key in the socket on other side
    EXP1_7=PG6    , EXP1_8=PG7   ,
    EXP1_9=<GND>  , EXP1_10=<5V>  ,

    # EXP2 header
    EXP2_1=PB14    , EXP2_2=PB13 ,
    EXP2_3=PG10   , EXP2_4=PB12   ,
    EXP2_5=PF11    , EXP2_6=PB15  ,  # Key in the socket on other side
    EXP2_7=PF12    , EXP2_8=<RST>   ,
    EXP2_9=<GND>  , EXP2_10=PF13  ,

    # SPI header
    MCU_SPI_MOSI=PC12 , MCU_SPI_MISO=PC11 , MCU_SPI_SCK=PC10 , MCU_SPI_CS=PA15 ,

    # UART header
    MCU_UART_RX3=PD9 , MCU_UART_TX3=PD8 ,

    # I2C header
    MCU_I2C_SDA=PB7 , MCU_I2C_SCL=PB6 ,

    # I/O header
    MCU_IO0=PD0 , MCU_IO1=PD2 , MCU_IO2=PD3 , MCU_IO3=PD4 , MCU_IO4=PD5 ,

    # WIFI header (#_# = ROW_COL)
    MCU_WIFI_1_2=PG0 , MCU_WIFI_1_3=PG1 , MCU_WIFI_1_4=PC7, 
    MCU_WIFI_2_1=PC6 , MCU_WIFI_2_2=PF14 , MCU_WIFI_2_3=PF15