[board_pins mcu_manufacturer]
aliases:
    MCU_XM_STEP=PD4   , MCU_XM_DIR=PD3   , MCU_XM_ENABLE=PD6   , MCU_XM_UART=PD5   ,
    MCU_YM_STEP=PA15  , MCU_YM_DIR=PA8   , MCU_YM_ENABLE=PD1   , MCU_YM_UART=PD0   ,
    MCU_ZM_STEP=PE2   , MCU_ZM_DIR=PE3   , MCU_ZM_ENABLE=PE0   , MCU_ZM_UART=PE1   ,
    MCU_E0M_STEP=PD15 , MCU_E0M_DIR=PD14 , MCU_E0M_ENABLE=PC7  , MCU_E0M_UART=PC6  ,
    MCU_E1M_STEP=PD11 , MCU_E1M_DIR=PD10 , MCU_E1M_ENABLE=PD13 , MCU_E1M_UART=PD12 ,

    MCU_MOTSPI_MISO=PE15 , MCU_MOTSPI_MOSI=PE13  , MCU_MOTSPI_SCK=PE14 ,

    MCU_XSTOP=PC1   , MCU_YSTOP=PC3  , MCU_ZSTOP=PC0   ,
    MCU_E0DET=PC2   , MCU_E1DET=PA0  , MCU_PWRDET=PC15 ,

    MCU_HE0=PB3 , MCU_HE1=PB4 ,
    MCU_BED=PD7 ,

    MCU_PSON=PE4 ,

    MCU_TB=PA1 , MCU_TH0=PA2 , MCU_TH1=PA3 ,

    MCU_FAN0=PB7 , MCU_FAN1=PB6 , MCU_FAN2=PB5 ,

    MCU_RGB=PE6 ,

    MCU_SERVOS=PE5 , MCU_PROBE=PC13 ,

  # EXP1 header
    EXP1_1=PC5   , EXP1_2=PB0   ,
    EXP1_3=PB1   , EXP1_4=PE8   ,
    EXP1_5=PE9   , EXP1_6=PE10  ,  # Key in the socket on this side
    EXP1_7=PE11  , EXP1_8=PE12  ,
    EXP1_9=<GND> , EXP1_10=<5V> ,

 # EXP2 header
    EXP2_1=PA6   , EXP2_2=PA5   ,
    EXP2_3=PE7   , EXP2_4=PA4   ,
    EXP2_5=PB2   , EXP2_6=PA7   ,  # Key in the socket on this side
    EXP2_7=PC4   , EXP2_8=<RST> ,
    EXP2_9=<GND> , EXP2_10=<NC> ,

    # TFT header
    MCU_TFT_1=<5V>  ,
    MCU_TFT_2=<GND> ,
    MCU_TFT_3=PA9   ,
    MCU_TFT_4=PA10  ,
    MCU_TFT_5=<RST> ,

    # Mini-SD
    MCU_MINISD_DATA1=PC9 , MCU_MINISD_DATA0=PC8 , MCU_MINISD_CLK=PC12 , MCU_MINISD_CMD=PD2 , MCU_MINISD_DATA3=PC11 , MCU_MINISD_DATA2=PC10 ,

    # WIFI
    MCU_WIFI_GND=<GND> , MCU_WIFI_VCC=<3.3V> ,
    MCU_WIFI_IO15=PB12 , MCU_WIFI_IO13=PB15  ,
    MCU_WIFI_IO2=<NC>  , MCU_WIFI_IO12=PB14  ,
    MCU_WIFI_IO0=PB10  , MCU_WIFI_IO14=PB13  ,
    MCU_WIFI_IO4=PB11  , MCU_WIFI_IO16=<NC>  ,
    MCU_WIFI_IO5=<NC>  , MCU_WIFI_EN=<NC>    ,
    MCU_WIFI_RXD=PD8   , MCU_WIFI_ADC=<NC>   ,
    MCU_WIFI_TXD=PD9   , MCU_WIFI_RST=PC14   ,
