[board_pins mcu_manufacturer]
aliases:
    MCU_M1_STEP=PE2  , MCU_M1_DIR=PB4  , MCU_M1_EN=PC11 , MCU_M1_CS=PC10 ,
    MCU_M2_STEP=PF12 , MCU_M2_DIR=PF11 , MCU_M2_EN=PB3  , MCU_M2_CS=PF13 ,
    MCU_M3_STEP=PD7  , MCU_M3_DIR=PD6  , MCU_M3_EN=PF10 , MCU_M3_CS=PF9  ,
    MCU_M4_STEP=PD3  , MCU_M4_DIR=PD2  , MCU_M4_EN=PD5  , MCU_M4_CS=PD4  ,
    MCU_M5_STEP=PC9  , MCU_M5_DIR=PC8  , MCU_M5_EN=PD1  , MCU_M5_CS=PD0  ,
    MCU_M6_STEP=PA10 , MCU_M6_DIR=PD15 , MCU_M6_EN=PA15 , MCU_M6_CS=PF8  ,
    MCU_M7_STEP=PD12 , MCU_M7_DIR=PD11 , MCU_M7_EN=PD14 , MCU_M7_CS=PD13 ,
    MCU_M8_STEP=PD10 , MCU_M8_DIR=PD8  , MCU_M8_EN=PD9  , MCU_M8_CS=PC7  ,

    MCU_M1_STOP=PF3 , MCU_M2_STOP=PF4 , MCU_M3_STOP=PF5 , MCU_M4_STOP=PC0 ,
    MCU_M5_STOP=PC1 , MCU_M6_STOP=PC2 ,

    MCU_HE0=PE3 , MCU_HE1=PB5 , MCU_HE2=PB6 , MCU_HE3=PE1 ,

    MCU_BED_OUT=PB7 ,

    MCU_THB=PA0 , MCU_TH0=PA1 , MCU_TH1=PA2 , MCU_TH2=PA3 , MCU_TH3=PA4 ,

    MCU_FAN0=PE6 , MCU_FAN1=PE0 , MCU_FAN2=PC12 , MCU_FAN3=PE5 , 
    MCU_FAN4=PE4 , MCU_FAN4_TACH=PC13 ,
    MCU_FAN5=PB8 , MCU_FAN5_TACH=PC14 ,
    MCU_FAN6=PB9 , MCU_FAN6_TACH=PC15 ,

    MCU_RGB1=PC6 , MCU_RGB2=PA9 ,
    MCU_PS_ON=PC3 ,

    MCU_PROBE1=PB1 , MCU_PROBE2=PB2 , 
    MCU_IND_PROBE=PF6 ,

    MCU_SPI2_MOSI=PA7 , MCU_SPI2_MISO=PA6 , MCU_SPI2_SCK=PA5 , MCU_SPI2_CS=PC4 ,

    MCU_FIL_DET1=PB0 , MCU_FIL_DET2=PC5 ,

    # EXP1 header
    EXP1_1=PE9   , EXP1_2=PE10  ,
    EXP1_3=PE11  , EXP1_4=PE12  ,
    EXP1_5=PE13  , EXP1_6=PE14  ,  # Slot in the socket on this side
    EXP1_7=PE15  , EXP1_8=PB10  ,
    EXP1_9=<GND> , EXP1_10=<5V> ,

    # EXP2 header
    EXP2_1=PB14  , EXP2_2=PB13  ,
    EXP2_3=PF7   , EXP2_4=PB12  ,
    EXP2_5=PE7   , EXP2_6=PB11  ,  # Slot in the socket on this side
    EXP2_7=PE8   , EXP2_8=<RST> ,
    EXP2_9=<GND> , EXP2_10=PC5  ,
