[board_pins mcu_manufacturer]
aliases:
    MCU_MOTOR0_STEP=PF13   , MCU_MOTOR0_DIR=PF12   , MCU_MOTOR0_ENABLE=PF14   , MCU_MOTOR0_UART=PC4    ,
    MCU_MOTOR1_STEP=PG0    , MCU_MOTOR1_DIR=PG1    , MCU_MOTOR1_ENABLE=PF15   , MCU_MOTOR1_UART=PD11   ,
    MCU_MOTOR2_1_STEP=PF11 , MCU_MOTOR2_1_DIR=PG3  , MCU_MOTOR2_1_ENABLE=PG5  , MCU_MOTOR2_1_UART=PC6  ,
    MCU_MOTOR3_STEP=PG4    , MCU_MOTOR3_DIR=PC1    , MCU_MOTOR3_ENABLE=PA2    , MCU_MOTOR3_UART=PC7    ,
    MCU_MOTOR4_STEP=PF9    , MCU_MOTOR4_DIR=PF10   , MCU_MOTOR4_ENABLE=PG2    , MCU_MOTOR4_UART=PF2    ,
    MCU_MOTOR5_STEP=PC13   , MCU_MOTOR5_DIR=PF0    , MCU_MOTOR5_ENABLE=PF1    , MCU_MOTOR5_UART=PE4    ,
    MCU_MOTOR6_STEP=PE2    , MCU_MOTOR6_DIR=PE3    , MCU_MOTOR6_ENABLE=PD4    , MCU_MOTOR6_UART=PE1    ,
    MCU_MOTOR7_STEP=PE6    , MCU_MOTOR7_DIR=PA14   , MCU_MOTOR7_ENABLE=PE0    , MCU_MOTOR7_UART=PD3    ,

    MCU_STOP0=PG6  , MCU_STOP1=PG9  , MCU_STOP2=PG10 , MCU_STOP3=PG11 ,
    MCU_STOP4=PG12 , MCU_STOP5=PG13 , MCU_STOP6=PG14 , MCU_STOP7=PG15 ,
    MCU_PROBE=PB7  ,
    MCU_SERVOS=PB6 ,

    MCU_HE0=PA0 , MCU_HE1=PA3 , MCU_HE2=PB0 , MCU_HE3=PB11 ,

    MCU_BED0=PA1 ,

    MCU_TB=PF3 ,
    MCU_T0=PF4 , MCU_T1=PF5 , MCU_T2=PF6 , MCU_T3=PF7 ,

    MCU_FAN0=PA8 , MCU_FAN1=PE5 , MCU_FAN2=PD12 , MCU_FAN3=PD13 , MCU_FAN4=PD14 , MCU_FAN5=PD15 ,

    MCU_NEOPIXEL=PB10  ,
    MCU_PS_ON=PE11    ,
    MCU_POWER_DET=PC0 ,

    # EXP1 header
    EXP1_1=PE8   , EXP1_2=PE7   ,
    EXP1_3=PE9   , EXP1_4=PE10  ,
    EXP1_5=PE12  , EXP1_6=PE13  ,  # Slot in the socket on this side
    EXP1_7=PE14  , EXP1_8=PE15  ,
    EXP1_9=<GND> , EXP1_10=<5V> ,

    # EXP2 header
    EXP2_1=PA6   , EXP2_2=PA5   ,
    EXP2_3=PB1   , EXP2_4=PA4   ,
    EXP2_5=PB2   , EXP2_6=PA7   ,  # Slot in the socket on this side
    EXP2_7=PC15  , EXP2_8=<RST> ,
    EXP2_9=<GND> , EXP2_10=<5V> ,
