[board_pins mcu_manufacturer]
aliases:
    MCU_S1_STEP=PC14   , MCU_S1_DIR=PC13   , MCU_S1_ENABLE=PE6    , MCU_S1_UART=PD6    ,
    MCU_S2_STEP=PE5    , MCU_S2_DIR=PE4    , MCU_S2_ENABLE=PE3    , MCU_S2_UART=PD5    ,
    MCU_S3_STEP=PE2    , MCU_S3_DIR=PE1    , MCU_S3_ENABLE=PE0    , MCU_S3_UART=PD4    ,
    MCU_S4_STEP=PB9    , MCU_S4_DIR=PB8    , MCU_S4_ENABLE=PB7    , MCU_S4_UART=PD3    ,
    MCU_S5_STEP=PG9    , MCU_S5_DIR=PG10   , MCU_S5_ENABLE=PG13   , MCU_S5_UART=PD2    ,
    MCU_S6_STEP=PG11   , MCU_S6_DIR=PD7    , MCU_S6_ENABLE=PG12   , MCU_S6_UART=PA15   ,
    MCU_S7_STEP=PB4    , MCU_S7_DIR=PB3    , MCU_S7_ENABLE=PB5    , MCU_S7_UART=PA9    ,
    MCU_S8_STEP=PG15   , MCU_S8_DIR=PB6    , MCU_S8_ENABLE=PG14   , MCU_S8_UART=PA10   ,
    MCU_MOSI=PC8 , MCU_MISO=PC7 , MCU_SCK=PC6 ,

    MCU_MOTOR_SERVO=PE7 ,
    MCU_RGB1=PF12 , MCU_RGB2=PF11 ,
    MCU_MIN1=PC15 , MCU_MIN2=PF0  , MCU_MIN3=PF1  , MCU_MIN4=PF2  ,
    MCU_MIN5=PF3  , MCU_MIN6=PF4  , MCU_MIN7=PF10 , MCU_MIN8=PC0  ,

    MCU_HE0=PF6 , MCU_HE1=PF7 , MCU_HE2=PF9 , MCU_HE3=PF8 ,

    MCU_BED_OUT=PF5 ,

    MCU_TB=PB0 ,
    MCU_T0=PB1 , MCU_T1=PC5 , MCU_T2=PC4 , MCU_T3=PA7 ,

    MCU_FAN0=PA0 , MCU_FAN1=PA1 , MCU_FAN2=PA2 , MCU_FAN3=PA3 , MCU_FAN4=PA4 , MCU_FAN5=PA5 ,
    MCU_FAN6=PA6 , MCU_FAN7=PE8 ,
    MCU_FAN6_TACH=PC1 , MCU_FAN7_TACH=PG0 ,

    MCU_PS_ON=PD10   ,
    MCU_FWS1=PC2     , MCU_FWS2=PC3 ,

    MCU_IND_DET=PD11 ,
    # PROBE header
    MCU_PROBE=PC1 , MCU_PROBE_SERVO=PE9 ,

    # SPI header
    MCU_SPI_1=<5V>   , MCU_SPI_2=<GND> ,
    MCU_SPI_3=PE10   , MCU_SPI_4=PE12  ,
    MCU_SPI_5=PE14   , MCU_SPI_6=PE13  ,
    MCU_SPI_7=<3.3V> , MCU_SPI_8=<GND> ,

    # EXP1 header
    EXP1_1=PG5   , EXP1_2=PG4   ,
    EXP1_3=PG3   , EXP1_4=PG2   ,
    EXP1_5=PD15  , EXP1_6=PD14  ,  # Slot in the socket on this side
    EXP1_7=PD13  , EXP1_8=PD12  ,
    EXP1_9=<GND> , EXP1_10=<5V> ,

    # EXP2 header
    EXP2_1=PE13  , EXP2_2=PE12  ,
    EXP2_3=PG8   , EXP2_4=PE11  ,
    EXP2_5=PG7   , EXP2_6=PE14  ,  # Slot in the socket on this side
    EXP2_7=PG6   , EXP2_8=<RST> ,
    EXP2_9=<GND> , EXP2_10=<5V> ,
