[board_pins mcu_manufacturer]
aliases:
    MCU_M1_STEP=PE6  , MCU_M1_DIR=PE5  , MCU_M1_EN=PC14 , MCU_M1_CS=PC13 ,
    MCU_M2_STEP=PE2  , MCU_M2_DIR=PE1  , MCU_M2_EN=PE4  , MCU_M2_CS=PE3  ,
    MCU_M3_STEP=PB8  , MCU_M3_DIR=PB7  , MCU_M3_EN=PE0  , MCU_M3_CS=PB9  ,
    MCU_M4_STEP=PB4  , MCU_M4_DIR=PB3  , MCU_M4_EN=PB6  , MCU_M4_CS=PB5  ,
    MCU_M5_STEP=PG13 , MCU_M5_DIR=PG12 , MCU_M5_EN=PG15 , MCU_M5_CS=PG14 ,
    MCU_M6_STEP=PG9  , MCU_M6_DIR=PD7  , MCU_M6_EN=PG11 , MCU_M6_CS=PG10 ,
    MCU_M7_STEP=PD4  , MCU_M7_DIR=PD3  , MCU_M7_EN=PD6  , MCU_M7_CS=PD5  ,
    MCU_M8_STEP=PC7  , MCU_M8_DIR=PC8  , MCU_M8_EN=PD2  , MCU_M8_CS=PC6  ,

    MCU_M1_STOP=PF4 , MCU_M2_STOP=PF3  , MCU_M3_STOP=PF2  , MCU_M4_STOP=PF1 ,
    MCU_M5_STOP=PF0 , MCU_M6_STOP=PC15 ,

    MCU_HE0=PA0 , MCU_HE1=PA1 , MCU_HE2=PA3 , MCU_HE3=PA5 ,

    MCU_BED_OUT=PF5 ,

    MCU_THB=PB1 , MCU_TH0=PB0 , MCU_TH1=PC5 , MCU_TH2=PC4 , MCU_TH3=PA7 ,

    MCU_FAN0=PF7 , MCU_FAN1=PF9 , MCU_FAN2=PF6 , MCU_FAN3=PA8 , MCU_FAN4=PA4 ,
    MCU_FAN5=PA6 , MCU_FAN5_TACH=PC2 ,
    MCU_FAN6=PA2 , MCU_FAN6_TACH=PC1 ,

    MCU_RGB1=PD15      ,
    MCU_PS_ON=PD14     ,
    MCU_POWER_DET=PB10 ,

    MCU_PROBE1=PD13   , MCU_PROBE2=PD12 ,
    MCU_IND_PROBE=PD8 ,

    MCU_SPI_MOSI=PC12 , MCU_SPI_MISO=PC11 , MCU_SPI_SCK=PC10 , MCU_SPI_CS=PA15 ,
    MCU_M_SPI_MOSI=PG6, MCU_M_SPI_MISO=PG7, MCU_M_SPI_SCK=PG8,

    # TX                   RX
    MCU_CAN_LOW=PD1 , MCU_CAN_HIGH=PD0 ,

    MCU_FWS1=PC0 , MCU_FWS=PF10 ,

    # EXP ribbon
    EXP1_1=<5V>   , EXP1_2=<G>   ,
    EXP1_3=PF11   , EXP1_4=PF12  ,
    EXP1_5=PF13   , EXP1_6=PF14  ,
    EXP1_7=PF15   , EXP1_8=PG0   ,
    EXP1_9=PG1    , EXP1_10=PE7  ,
    EXP1_11=<RST> , EXP1_12=PE8  ,
    EXP1_13=PE14  , EXP1_14=PE10 ,
    EXP1_15=PE11  , EXP1_16=PE15 ,
    EXP1_17=PE12  , EXP1_18=PE13
