[board_pins mcu_manufacturer]
aliases:
    MCU_XM_STEP=PB13 , MCU_XM_DIR=PB12 , MCU_XM_ENABLE=PB14 ,
    MCU_YM_STEP=PB10 , MCU_YM_DIR=PB2  , MCU_YM_ENABLE=PB11 ,
    MCU_ZM_STEP=PB0  , MCU_ZM_DIR=PC5  , MCU_ZM_ENABLE=PB1  ,
    MCU_EM_STEP=PB3  , MCU_EM_DIR=PB4  , MCU_EM_ENABLE=PD2  ,
    MCU_TMCUART=PC11 , MCU_TMCTX=PC10  ,

    MCU_XSTOP=PC0   , MCU_YSTOP=PC1  , MCU_ZSTOP=PC2   ,
    MCU_E0STOP=PC15 , MCU_PS_ON=PC13 , MCU_PWRDET=PC12 ,

    MCU_HE0=PC8 ,
    MCU_BED=PC9 ,

    MCU_TH0=PA0 ,
    MCU_TB=PC3  ,

    MCU_FAN0=PC6 , MCU_FAN1=PC7 ,

    MCU_SERVOS=PA1 ,

    MCU_PROBE=PC14 ,

    MCU_NEOPIXEL=PA8 ,

    # EXP1 header
    EXP1_1=<5V>  , EXP1_2=<GND> ,
    EXP1_3=PB15  , EXP1_4=PB8   ,
    EXP1_5=PB9   , EXP1_6=PA10  ,  # Key in the socket on this side
    EXP1_7=<RST> , EXP1_8=PA9   ,
    EXP1_9=PA15  , EXP1_10=PB5  ,
