[board_pins mcu_manufacturer]
aliases:
    MCU_M1_STEP=PC8  , MCU_M1_DIR=PC9  , MCU_M1_EN=PA15 , MCU_M1_CS=PD9  ,
    MCU_M2_STEP=PA10 , MCU_M2_DIR=PA14 , MCU_M2_EN=PA13 , MCU_M2_CS=PD8  ,
    MCU_M3_STEP=PC6  , MCU_M3_DIR=PC7  , MCU_M3_EN=PA9  , MCU_M3_CS=PB10 ,
    MCU_M4_STEP=PB12 , MCU_M4_DIR=PB11 , MCU_M4_EN=PA8  , MCU_M4_CS=PB2  ,
    MCU_M5_STEP=PB0  , MCU_M5_DIR=PB1  , MCU_M5_EN=PC4  , MCU_M5_CS=PA6  ,

    MCU_M1_STOP=PD3 , MCU_M2_STOP=PD2 , MCU_M3_STOP=PC3 , MCU_M4_STOP=PC2 ,

    MCU_HE0=PC5 , MCU_HE1=PA7 ,

    MCU_BED_OUT=PA5 ,

    MCU_THB=PA0 , MCU_TH0=PA1 , MCU_TH1=PA2 ,

    MCU_FAN0=PA4 , MCU_FAN1=PA3 ,

    MCU_RGB1=PC11 , MCU_RGB2=PC14 ,

    MCU_PROBE1=PC15 , MCU_PROBE2=PC13 ,
    MCU_IND_PROBE=PC15 ,

    MCU_SPI2_MOSI=PB15 , MCU_SPI2_MISO=PB14 , MCU_SPI2_SCK=PB13 , MCU_SPI2_CS=PC0 ,


    # EXP1 header
    EXP1_1=PD5   , EXP1_2=PD4  ,
    EXP1_3=PB3   , EXP1_4=PD6  ,
    EXP1_5=PB5   , EXP1_6=PB4  ,  # Slot in the socket on this side
    EXP1_7=PB7   , EXP1_8=PB6  ,
    EXP1_9=<GND> , EXP1_10=<5V> ,

    # EXP2 header
    EXP2_1=PB14  , EXP2_2=PB13 ,
    EXP2_3=PB8   , EXP2_4=PB9  ,
    EXP2_5=PC10  , EXP2_6=PB15 ,  # Slot in the socket on this side
    EXP2_7=PC12  , EXP2_8=PF2  ,
    EXP2_9=<GND> , EXP2_10=<NC> ,
