#-----------------------------------------#
#### BTT SKR2 MCU Board Pin definition ####
#-----------------------------------------#

# This file contains pin mappings for the BTT SKR2 board. To
# use this config, during "make menuconfig" select the STM32F407 or STM32F429 processor with
# a "32KiB bootloader" offset, 8Mhz Clock reference, and USB PA11 PA12 communication.

# To flash this firmware: copy "out/klipper.bin" to an SD card, rename it to "firmware.bin", and
# turn on the printer with the card inserted. Upon successful upload, the firmware will be
# renamed to firmware.cur.

# https://github.com/bigtreetech/SKR-2/blob/master/Hardware/BIGTREETECH%20SKR%202-Pin.pdf
# https://github.com/bigtreetech/SKR-2/blob/master/Hardware/BIGTREETECH%20SKR%202-SCH.pdf

[board_pins mcu_manufacturer]
aliases:
    MCU_XM_STEP=PE2   , MCU_XM_DIR=PE1   , MCU_XM_ENABLE=PE3   , MCU_XM_UART=PE0   , 
    MCU_YM_STEP=PD5   , MCU_YM_DIR=PD4   , MCU_YM_ENABLE=PD6   , MCU_YM_UART=PD3   ,
    MCU_ZM_STEP=PA15  , MCU_ZM_DIR=PA8   , MCU_ZM_ENABLE=PD1   , MCU_ZM_UART=PD0   ,
    MCU_E0M_STEP=PD15 , MCU_E0M_DIR=PD14 , MCU_E0M_ENABLE=PC7  , MCU_E0M_UART=PC6  ,
    MCU_E1M_STEP=PD11 , MCU_E1M_DIR=PD10 , MCU_E1M_ENABLE=PD13 , MCU_E1M_UART=PD12 ,
    
    MCU_MOTSPI_MISO=PA14 , MCU_MOTSPI_MOSI=PE14  , MCU_MOTSPI_SCK=PE15 ,
    
    MCU_XSTOP=PC1   , MCU_YSTOP=PC3  , MCU_ZSTOP=PC0   ,
    MCU_E0DET=PC2   , MCU_E1DET=PA0  , MCU_PWRDET=PC15 ,
    
    MCU_HE0=PB3 , MCU_HE1=PB4 ,
    MCU_BED=PD7 ,

    MCU_PSON=PE8 , MCU_MPWR=PC13 ,

    MCU_TB=PA1 , MCU_TH0=PA2 , MCU_TH1=PA3 ,

    MCU_FAN0=PB7 , MCU_FAN1=PB6 , MCU_FAN2=PB5 ,

    MCU_RGB=PE6 ,
    
    MCU_SERVOS=PE5 , MCU_PROBE=PE4  ,
    
  # EXP1 header
    EXP1_1=PC5   , EXP1_2=PB0   ,
    EXP1_3=PB1   , EXP1_4=PB9   ,
    EXP1_5=PE10  , EXP1_6=PE11  ,  # Key in the socket on this side
    EXP1_7=PE12  , EXP1_8=PE13  ,
    EXP1_9=<GND> , EXP1_10=<5V> ,

 # EXP2 header
    EXP2_1=PA6   , EXP2_2=PA5   ,
    EXP2_3=PE7   , EXP2_4=PA4   ,
    EXP2_5=PB2   , EXP2_6=PA7   ,  # Key in the socket on this side
    EXP2_7=PC4   , EXP2_8=<RST> ,
    EXP2_9=<GND> , EXP2_10=<NC> ,
    
    # TFT header
    MCU_TFT_1=<5V>  ,
    MCU_TFT_2=<GND> ,
    MCU_TFT_3=PA9   ,
    MCU_TFT_4=PA10  ,
    MCU_TFT_5=<RST> ,
    
    # Mini-SD
    MCU_MINISD_DATA1=PC9 , MCU_MINISD_DATA0=PC8 , MCU_MINISD_CLK=PC12 , MCU_MINISD_CMD=PD2 , MCU_MINISD_DATA3=PC11 , MCU_MINISD_DATA2=PC10 ,

    # WIFI
    MCU_WIFI_GND=<GND> , MCU_WIFI_VCC=<3.3V> ,
    MCU_WIFI_IO15=PB12 , MCU_WIFI_IO13=PB15  ,
    MCU_WIFI_IO2=<NC>  , MCU_WIFI_IO12=PB14  ,
    MCU_WIFI_IO0=PB10  , MCU_WIFI_IO14=PB13  ,
    MCU_WIFI_IO4=PB11  , MCU_WIFI_IO16=<NC>  ,
    MCU_WIFI_IO5=<NC>  , MCU_WIFI_EN=<NC>    ,
    MCU_WIFI_RXD=PD8   , MCU_WIFI_ADC=<NC>   ,
    MCU_WIFI_TXD=PD9   , MCU_WIFI_RST=PC14   ,
    
