###################################################
# First board_pins definition is for the main MCU #
###################################################

[board_pins mcu_manufacturer]
aliases:
    MCU_XM_STEP=P2.2   , MCU_XM_DIR=P2.6   , MCU_XM_ENABLE=P2.1   , MCU_XM_UART=P1.10 ,
    MCU_YM_STEP=P0.19  , MCU_YM_DIR=P0.20  , MCU_YM_ENABLE=P2.8   , MCU_YM_UART=P1.9  ,
    MCU_ZM_STEP=P0.22  , MCU_ZM_DIR=P2.11  , MCU_ZM_ENABLE=P0.21  , MCU_ZM_UART=P1.8  ,
    MCU_E0M_STEP=P2.13 , MCU_E0M_DIR=P0.11 , MCU_E0M_ENABLE=P2.12 , MCU_E0M_UART=P1.4 ,
    MCU_E1M_STEP=P1.15 , MCU_E1M_DIR=P1.14 , MCU_E1M_ENABLE=P1.16 , MCU_E1M_UART=P1.1 ,

    MCU_XSTOP=P1.29 , MCU_YSTOP=P1.28 , MCU_ZSTOP=P1.27 ,
    MCU_E0DET=P1.26 , MCU_E1DET=P1.25 , MCU_PWRDET=P1.0 ,

    MCU_HE0=P2.7 , MCU_HE1=P2.4 ,

    MCU_BED=P2.5 ,

    MCU_TB=P0.25  ,
    MCU_TH0=P0.24 , MCU_TH1=P0.23 ,

    MCU_FAN0=P2.3 ,

    MCU_SERVOS=P2.0 ,

    MCU_PROBE=P0.10 ,

    MCU_NEOPIXEL=P1.24 ,

    MCU_SPI_CS=P0.26 ,

    # EXP1 header
    EXP1_1=P1.30 , EXP1_2=P0.28 ,
    EXP1_3=P1.18 , EXP1_4=P1.19 ,
    EXP1_5=P1.20 , EXP1_6=P1.21 ,
    EXP1_7=P1.22 , EXP1_8=P1.23 ,
    EXP1_9=<GND> , EXP1_10=<5V> ,

    # EXP2 header
    EXP2_1=P0.17 , EXP2_2=P0.15 ,
    EXP2_3=P3.26 , EXP2_4=P0.16 ,
    EXP2_5=P3.25 , EXP2_6=P0.18 ,
    EXP2_7=P1.31 , EXP2_8=<RST> ,
    EXP2_9=<GND> , EXP2_10=<5V> ,


##############################################################
# Second board_pins definition is in case of a secondary MCU #
##############################################################

[board_pins secondary_manufacturer]
mcu: secondary
aliases:
    MCU_XM_STEP=P2.2   , MCU_XM_DIR=P2.6   , MCU_XM_ENABLE=P2.1   , MCU_XM_UART=P1.10 ,
    MCU_YM_STEP=P0.19  , MCU_YM_DIR=P0.20  , MCU_YM_ENABLE=P2.8   , MCU_YM_UART=P1.9  ,
    MCU_ZM_STEP=P0.22  , MCU_ZM_DIR=P2.11  , MCU_ZM_ENABLE=P0.21  , MCU_ZM_UART=P1.8  ,
    MCU_E0M_STEP=P2.13 , MCU_E0M_DIR=P0.11 , MCU_E0M_ENABLE=P2.12 , MCU_E0M_UART=P1.4 ,
    MCU_E1M_STEP=P1.15 , MCU_E1M_DIR=P1.14 , MCU_E1M_ENABLE=P1.16 , MCU_E1M_UART=P1.1 ,

    MCU_XSTOP=P1.29 , MCU_YSTOP=P1.28 , MCU_ZSTOP=P1.27 ,
    MCU_E0DET=P1.26 , MCU_E1DET=P1.25 , MCU_PWRDET=P1.0 ,

    MCU_HE0=P2.7 , MCU_HE1=P2.4 ,

    MCU_BED=P2.5 ,

    MCU_TB=P0.25  ,
    MCU_TH0=P0.24 , MCU_TH1=P0.23 ,

    MCU_FAN0=P2.3 ,

    MCU_SERVOS=P2.0 ,

    MCU_PROBE=P0.10 ,

    MCU_NEOPIXEL=P1.24 ,

    MCU_SPI_CS=P0.26 ,

    # EXP1 header
    EXP1_1=P1.30 , EXP1_2=P0.28 ,
    EXP1_3=P1.18 , EXP1_4=P1.19 ,
    EXP1_5=P1.20 , EXP1_6=P1.21 ,
    EXP1_7=P1.22 , EXP1_8=P1.23 ,
    EXP1_9=<GND> , EXP1_10=<5V> ,

    # EXP2 header
    EXP2_1=P0.17 , EXP2_2=P0.15 ,
    EXP2_3=P3.26 , EXP2_4=P0.16 ,
    EXP2_5=P3.25 , EXP2_6=P0.18 ,
    EXP2_7=P1.31 , EXP2_8=<RST> ,
    EXP2_9=<GND> , EXP2_10=<5V> ,
