[board_pins mcu_manufacturer]
aliases:
    MCU_M1_STEP=PA14,	 MCU_M1_DIR=PA10,	MCU_M1_EN=PA13,	MCU_M1_CS=PB8,
    MCU_M2_STEP=PC8,	 MCU_M2_DIR=PA15,	MCU_M2_EN=PC14,	MCU_M2_CS=PC9,
    MCU_M3_STEP=PD2,	 MCU_M3_DIR=PD4,	MCU_M3_EN=PD3,	MCU_M3_CS=PD0,
    MCU_M4_STEP=PD5,	 MCU_M4_DIR=PD6,	MCU_M4_EN=PB3,	MCU_M4_CS=PD1,
    MCU_M5_STEP=PB7,	 MCU_M5_DIR=PB6,	MCU_M5_EN=PB4,	MCU_M5_CS=PB5,

    MCU_M1_STOP=PC4, MCU_M2_STOP=PB0, MCU_M3_STOP=PC6, MCU_M4_STOP=PC5, MCU_M5_STOP=PB1,

    MCU_HE0=PB11 , MCU_HE1=PB10 ,

    MCU_BED_OUT=PB2 ,

    MCU_THB=PA3 , MCU_TH0=PA4 , MCU_TH1=PA5 ,

    MCU_FAN0=PA8 , MCU_FAN1=PB15 , MCU_FAN2=PB14 ,

    MCU_RGB1=PC7 ,

    MCU_PROBE1=PA6 , MCU_PROBE2=PA7 ,

	MCU_PS_ON=PA9     ,
    MCU_POWER_DET=PB9 ,


    MCU_SPI3_MOSI=PC12 , MCU_SPI3_MISO=PC11 , MCU_SPI3_SCK=PC10 , MCU_SPI3_CS=PC15 ,


    # EXP1 header
    EXP1_1=PC1   , EXP1_2=PC2  ,
    EXP1_3=PC3   , EXP1_4=RST  ,
    EXP1_5=PC0   , EXP1_6=PA0  ,  # Slot in the socket on this side
    EXP1_7=PA2   , EXP1_8=PA1  ,
    EXP1_9=<GND> , EXP1_10=<5V> ,

    
