[board_pins mcu_manufacturer]
aliases:

    X_STEP=PF0, 
    X_DIR=PF1, 
    X_ENABLE=PD7, 
    X_STOP=PE5, 
    
    Y_STEP=PF6, 
    Y_DIR=PF7, 
    Y_ENABLE=PF2, 
    Y_STOP=PJ1, 
    
    Z_STEP=PL3, 
    Z_DIR=PL1, 
    Z_ENABLE=PK0, 
    Z_STOP=PD3,
    
    E_STEP=PA4, 
    E_DIR=PA6, 
    E_ENABLE=PA2, 
    E_HEATER=PB4, 
    E_TEMPERATURE=PK5, 
    
    #MCU_E1M_STEP=N/A, 
    #MCU_E1M_DIR=N/A, 
    #MCU_E1M_ENABLE=N/A, 
    #MCU_HE1=N/A,
    #MCU_TH1=N/A,

    BED_HEATER=PH5,
    BED_TEMPERATURE=PK6, 

    PART_FAN=PH6,
    
  # EXP1 header
    EXP1_1=PC0, # Buzzer
    EXP1_2=PC2, # BTN_ENC
    EXP1_3=PH0, # LCD E
    EXP1_4=PH1, # LCDRS
    EXP1_5=PA1, # D4
    EXP1_6=PA3, # D5
    EXP1_7=PA5, # D6
    EXP1_8=PA7, # D7
    EXP1_9=<GND>, 
    EXP1_10=<5V>,

 # EXP2 header
    EXP2_1=PB3,   # N/C
    EXP2_2=PB1,   # SCK
    EXP2_3=PC6,   # BTN ENC2 
    EXP2_4=PB0,   # N/C
    EXP2_5=PC4,   # BTN ENC1
    EXP2_6=PB2,   # MOSI
    EXP2_7=PL0,   # SD_DETECT
    EXP2_8=<RST>, # RESET
    EXP2_9=<GND>, # GND
    EXP2_10=PG0,  # KILL_PIN

# AUX1 header
    AUX1_1=<5v>,
    AUX1_2=<5v>,
    AUX1_3=<GND>,
    AUX1_4=<GND>,
    AUX1_5=PF3,   # A3
    AUX1_6=PE1,   # TX0
    AUX1_7=PF4,   # A4
    AUX1_8=PE0,   # RX0

# EXTRA headers
# (below EXP2)
# <SIGNAL>, <GND>, <5V>
# from top to botttom
# 
    EXTRA_1=PK2, # A10
    EXTRA_2=PK3, # A11
    EXTRA_3=PB6, # D12
    EXTRA_4=PB5, # D11

