[board_pins mcu_manufacturer]
aliases:
    MCU_XM_STEP=PC0  , MCU_XM_DIR=PC1  , MCU_XM_ENABLE=PC3  ,
    MCU_YM_STEP=PC14 , MCU_YM_DIR=PC13 , MCU_YM_ENABLE=PC15 ,
    MCU_ZM_STEP=PB4  , MCU_ZM_DIR=PB5  , MCU_ZM_ENABLE=PC2  ,
    MCU_EM_STEP=PB2  , MCU_EM_DIR=PA15 , MCU_EM_ENABLE=PD2  ,
    MCU_TMCUART=PB3  , MCU_TMCTX=PA2 ,

    MCU_XSTOP=PA2  , MCU_YSTOP=PA3 , MCU_ZSTOP=PC4 ,
    MCU_E0STOP=PA1 ,

    MCU_HE0=PC7 ,
    MCU_BED=PC8 ,

    MCU_TH0=PC5 ,
    MCU_THB=PB0 ,
    MCU_TH2=PB1 ,

    MCU_FAN0=PA14 , MCU_FAN1=PA13 , MCU_FAN2=PA8 ,

    # Z-Probe Header
    MCU_SERVOS=PA0, MCU_PROBE=PC4 ,

    # PI Header
    MCU_Pi_PWR_UART_TX1=PA9 ,
    MCU_Pi_PWR_UART_RX1=PA10 ,

    # ?? Header
    MCU_P2_DP=PA11 ,
    MCU_P2_DM=PA12 ,

    # EXP1 header
    EXP1_1=<GND> , EXP1_2=<5V>  ,
    EXP1_3=PB7   , EXP1_4=PB6   ,
    EXP1_5=PB14  , EXP1_6=PB13  ,  # Slot in the socket on this side
    EXP1_7=PB12  , EXP1_8=PB15  ,
    EXP1_9=PC6   , EXP1_10=PB10 ,

    # EXP2 header
    EXP2_1=<GND> , EXP2_2=<5V>  ,
    EXP2_3=<RST> , EXP2_4=PC12  ,
    EXP2_5=PA7   , EXP2_6=PC11  ,   # Slot in the socket on this side
    EXP2_7=PA4   , EXP2_8=PC10  ,
    EXP2_9=PA5   ,EXP2_10=PA6   ,

    # EXP3 header
    EXP3_1=PB10  , EXP3_2=PC6   ,
    EXP3_3=PC10  , EXP3_4=PB14  ,
    EXP3_5=PC11  , EXP3_6=PB13  ,   # Slot in the socket on this side
    EXP3_7=PB12  , EXP3_8=PB15  ,
    EXP3_9=<GND> , EXP3_10=<5V>