[board_pins mcu_manufacturer]
aliases:
    MCU_XM_STEP=PC0 , MCU_XM_DIR=PC1 , MCU_XM_ENABLE=PA8 ,
    MCU_YM_STEP=PC14 , MCU_YM_DIR=PC13  , MCU_YM_ENABLE=PC15 ,
    MCU_ZM_STEP=PB9  , MCU_ZM_DIR=PB8  , MCU_ZM_ENABLE=PC2  ,
    MCU_EM_STEP=PB2  , MCU_EM_DIR=PA15  , MCU_EM_ENABLE=PD2  ,
    MCU_TMCUART=PA3 , MCU_TMCTX=PA2  , #TMC2209 SERIAL (UART2)

    MCU_XSTOP=PB4   , MCU_YSTOP=PC8  , MCU_ZSTOP=PB1   ,
    #MCU_E0STOP= , MCU_PS_ON= , MCU_PWRDET= ,

    MCU_HE0=PC6 ,
    MCU_BED=PC7 ,

    MCU_TH0=PC4 ,
    MCU_THB=PC5 ,

    MCU_FAN0=PA14 , MCU_FAN1=PA13 , MCU_FAN2=PA1 ,

    # Z-Probe Header
    MCU_SERVOS=PA0 , MCU_PROBE=PB1 , can i re-use the same pin? probably not, we'll find out

    # Neopixel1 Header
    MCU_NEOPIXEL=PB0 , # Can be used for fan4

    # EXP1 header
    EXP1_1=<GND> , EXP1_2=<5V>   ,
    EXP1_3=PC3   , EXP1_4=<RST>  ,
    EXP1_5=PC11  , EXP1_6=PA7    ,   # Slot in the socket on this side
    EXP1_7=PC10  , EXP1_8=PA4    ,
    EXP1_9=PA6   , EXP1_10= PA5  ,

    # EXP2 header
    EXP2_1=<GND>   , EXP2_2=<5V>  ,
    EXP2_3=PB6     , EXP2_4=PB7   ,
    EXP2_5=PB13    , EXP2_6=PB14  ,   # Slot in the socket on this side
    EXP2_7=PB15    , EXP2_8=PB12  ,
    EXP2_9=PC9     ,EXP2_10=PC12  ,
	
	# EXP3 header
	EXP3_1=<5v>    , EXP3_2=<GND> ,
    EXP3_3=PB15    , EXP3_4=PB12  ,
    EXP3_5=PB13    , EXP3_6=PC11  ,   # Slot in the socket on this side
    EXP3_7=PB14    , EXP3_8=PC10  ,
    EXP3_9=PB12    , EXP3_10=PC9  ,
