[board_pins mcu_manufacturer]
aliases:
    MCU_X_MOT_STEP=PE11  , MCU_X_MOT_DIR=PE10  , MCU_X_MOT_ENABLE=PE9  , MCU_X_MOT_CS_PDN=PE7   ,
    MCU_Y_MOT_STEP=PD8   , MCU_Y_MOT_DIR=PB12  , MCU_Y_MOT_ENABLE=PD9  , MCU_Y_MOT_CS_PDN=PE15  ,
    MCU_Z_MOT_STEP=PD14  , MCU_Z_MOT_DIR=PD13  , MCU_Z_MOT_ENABLE=PD15 , MCU_Z_MOT_CS_PDN=PD10  ,
    MCU_E0_MOT_STEP=PD5  , MCU_E0_MOT_DIR=PD6  , MCU_E0_MOT_ENABLE=PD4 , MCU_E0_MOT_CS_PDN=PD7  ,
    MCU_E1_MOT_STEP=PE6  , MCU_E1_MOT_DIR=PC13 , MCU_E1_MOT_ENABLE=PE5 , MCU_E1_MOT_CS_PDN=PC14 ,
    MCU_E2_MOT_STEP=PE2  , MCU_E2_MOT_DIR=PE4  , MCU_E2_MOT_ENABLE=PE3 , MCU_E2_MOT_CS_PDN=PC15 ,
    MCU_E3_MOT_STEP=PD12 , MCU_E3_MOT_DIR=PC4  , MCU_E3_MOT_ENABLE=PE8 , MCU_E3_MOT_CS_PDN=PA15 ,
    MCU_E4_MOT_STEP=PE1  , MCU_E4_MOT_DIR=PE0  , MCU_E4_MOT_ENABLE=PC5 , MCU_E4_MOT_CS_PDN=PD11 ,
    MCU_SPI4_MOSI=PE14   , MCU_SPI4_MISO=PE13  , MCU_SPI4_SCK=PE12     ,

    MCU_X_MIN=PB14 , MCU_Y_MIN=PB13 , MCU_Z_MIN=PA0 ,
    MCU_X_MAX=PA1  , MCU_Y_MAX=PA2  , MCU_Z_MAX=PA3 ,

    MCU_FAN0=PA13 , MCU_FAN1=PA14 , MCU_FAN2=PB2 ,

    MCU_RGB_R=PB6 , MCU_RGB_G=PB5 , MCU_RGB_B=PB7 , MCU_5V_RGB_DATA=PD3 ,

    MCU_E0_OUT=PB15 , MCU_E1_OUT=PC8 , MCU_E2_OUT=PB3 ,

    MCU_BED_OUT=PB4 ,

    MCU_TE0=PC0 , MCU_TE1=PC1 , MCU_TE2=PC2 , MCU_TE3=PC3 , MCU_TE4=PB1 , MCU_TB=PB0 ,

    MCU_I2C_SLC=PB8         , MCU_I2C_SDA=PB9           ,
    MCU_SWD_DIO=PA13        , MCU_SWD_CLK=PA14          ,
    MCU_Pi_PWR_UART_TX1=PA9 , MCU_Pi_PWR_UART_RX1=PA10  ,
    MCU_P2_DP=PA12          , MCU_P2_DM=PA11            ,

    # AUX3 header
    MCU_AUX3_5V=<5V>    , MCU_AUX3_CD=PB10    ,
    MCU_AUX3_MISO=PA6   , MCU_AUX3_MOSI=PA7   ,
    MCU_AUX3_SCK=PA5    , MCU_AUX3_CS=PA4     ,
    MCU_AUX3_GND=<GND>  , MCU_AUX3_RST=<RST>  ,

    # EXP1 header
    EXP1_1=<5V>  , EXP1_2=<GND>  ,
    EXP1_3=PD1   , EXP1_4=PD0    ,
    EXP1_5=PC12  , EXP1_6=PC10   ,   # Slot in the socket on this side
    EXP1_7=PD2   , EXP1_8=PC11   ,
    EXP1_9=PA8   , EXP1_10= PC9  ,

    # EXP2 header
    EXP2_1=<5V>   , EXP2_2=<GND>  ,
    EXP2_3=<RST>  , EXP2_4=PB10   ,
    EXP2_5=PA7    , EXP2_6=PC7    ,   # Slot in the socket on this side
    EXP2_7=PA4    , EXP2_8=PC6    ,
    EXP2_9=PA5    , EXP2_10=PA6   ,
