[board_pins mcu_manufacturer]
aliases:
    MCU_HV-STEPPER0_STEP=PB10, MCU_HV-STEPPER0_DIR=PB11, MCU_HV-STEPPER0_EN=PG0, MCU_HV-STEPPER0_CS=PE15,
    MCU_HV-STEPPER1_STEP=PF15, MCU_HV-STEPPER1_DIR=PF14, MCU_HV-STEPPER1_EN=PE9, MCU_HV-STEPPER1_CS=PE11,

    MCU_SPI2_MOSI=PE14, MCU_SPI2_MISO=PE13, MCU_SPI2_SCK=PE12,

    MCU_STEPPER0_STEP=PD4,  MCU_STEPPER0_DIR=PD3,  MCU_STEPPER0_EN=PD7,  MCU_STEPPER0_UART=PD5,
    MCU_STEPPER1_STEP=PC12, MCU_STEPPER1_DIR=PC11, MCU_STEPPER1_EN=PD2,  MCU_STEPPER1_UART=PD0,
    MCU_STEPPER2_STEP=PC9,  MCU_STEPPER2_DIR=PC8,  MCU_STEPPER2_EN=PC10, MCU_STEPPER2_UART=PA8,
    MCU_STEPPER3_STEP=PG7,  MCU_STEPPER3_DIR=PG6,  MCU_STEPPER3_EN=PC7,  MCU_STEPPER3_UART=PG8,
    MCU_STEPPER4_STEP=PD10, MCU_STEPPER4_DIR=PD9,  MCU_STEPPER4_EN=PD13, MCU_STEPPER4_UART=PD11,

    MCU_STOP_X=PC1, MCU_STOP_Y=PC2, MCU_STOP_Z=PC3, MCU_STOP_E0=PC0,
    MCU_Z_PROBE=PF1,

    MCU_HE0=PG10,
    MCU_BED0=PG11,

    MCU_T0=PA1, MCU_T1=PA2, MCU_T2=PA0, MCU_T3=PA3,

    MCU_FAN0=PB7, MCU_FAN1=PB3, MCU_FAN2=PF7, MCU_FAN3=PF9,
    MCU_FAN0_TACHO=PB0, MCU_FAN1_TACHO=PB4, MCU_FAN2_TACHO=PF6, MCU_FAN3_TACHO=PF8,

    MCU_NEOPIXEL=PF10,
    MCU_LED=PE6,

    # TX                  RX
    MCU_CAN_TRANSMIT=PB6, MCU_CAN_RECIEVE=PB5,

    # EXP1 header
    EXP1_1=PG9   , EXP1_2=PG12  ,
    EXP1_3=PG13  , EXP1_4=PG14  ,
    EXP1_5=PC13  , EXP1_6=PC14  ,  # Slot in the socket on this side
    EXP1_7=PC15  , EXP1_8=PF0   ,
    EXP1_9=<GND> , EXP1_10=<5V> ,

    # EXP2 header
    EXP2_1=PA6   , EXP2_2=PA5   ,
    EXP2_3=PE2   , EXP2_4=PE4   ,
    EXP2_5=PE3   , EXP2_6=PA7   ,  # Slot in the socket on this side
    EXP2_7=PE5   , EXP2_8=<RST> ,
    EXP2_9=<GND> , EXP2_10=PE4  ,

    # Extension Port
    EXT_1=<5V>   , EXT_2=<5V>   ,
    EXT_3=<GND>  , EXT_4=<GND>  ,
    EXT_5=<3.3V> , EXT_6=<3.3V> ,
    EXT_7=PF5    , EXT_8=PF4    ,
    EXT_9=PF3    , EXT_10=PF2   ,
    EXT_11=PC4   , EXT_12=PC5   ,
    EXT_13=PB0   , EXT_14=PB1   ,
    EXT_15=PE8   , EXT_16=PE7   ,
    EXT_17=PG5   , EXT_18=PG4   ,
    EXT_19=PG3   , EXT_20=PG2   ,
    EXT_21=PD15  , EXT_22=PD14  ,
    EXT_23=PB15  , EXT_24=PB14  ,
    EXT_25=PB13  , EXT_26=PB12  ,
    EXT_27=<GND> , EXT_28=<GND> ,
    EXT_29=<24V> , EXT_30=<24V> ,
