[board_pins mcu_manufacturer]
aliases:
    MCU_DRIVE0_STEP=PE2    , MCU_DRIVE0_DIR=PC5    , MCU_DRIVE0_EN=PF11   , MCU_DRIVE0_UART=PC4    ,
    MCU_DRIVE1_STEP=PE3    , MCU_DRIVE1_DIR=PF13   , MCU_DRIVE1_EN=PF14   , MCU_DRIVE1_UART=PF12   ,
    MCU_DRIVE2_STEP=PE4    , MCU_DRIVE2_DIR=PG0    , MCU_DRIVE2_EN=PG1    , MCU_DRIVE2_UART=PF15   ,
    MCU_DRIVE3_STEP=PE14   , MCU_DRIVE3_DIR=PE8    , MCU_DRIVE3_EN=PE9    , MCU_DRIVE3_UART=PE7    ,
    MCU_DRIVE4_STEP=PE15   , MCU_DRIVE4_DIR=PE11   , MCU_DRIVE4_EN=PF2    , MCU_DRIVE4_UART=PE10   ,
    MCU_DRIVE5_STEP=PE1    , MCU_DRIVE5_DIR=PF0    , MCU_DRIVE5_EN=PC15   , MCU_DRIVE5_UART=PF1    ,
    MCU_DRIVE6_STEP=PE0    , MCU_DRIVE6_DIR=PG3    , MCU_DRIVE6_EN=PG4    , MCU_DRIVE6_UART=PG2    ,
    MCU_DRIVE7_STEP=PE6    , MCU_DRIVE7_DIR=PG6    , MCU_DRIVE7_EN=PG7    , MCU_DRIVE7_UART=PG5    ,
    MCU_TMC_MOSI=PB5       , MCU_TMC_MISO=PB4      , MCU_TMC_SCK=PB3      ,

    MCU_IO0=PG12  , MCU_IO1=PG11  , MCU_IO2=PG10 , MCU_IO3=PG9  , MCU_IO4=PD7  , MCU_IO5=PD6  , MCU_IO6=PA8  ,
    MCU_IN7=PF8   ,
    MCU_HV_IN=PF3 ,
    MCU_ADC_0=PF4  , MCU_ADC_1=PF5  , MCU_ADC_2=PF9 , MCU_ADC_3=PF10  , MCU_ADC_4=PC0  , MCU_ADC_5=PC1  ,

    MCU_HEAT0=PB0 , MCU_HEAT1=PB1 , MCU_HEAT2=PC7 , MCU_HEAT3=PF7 , MCU_HEAT4=PF6 ,

    MCU_BED=PE5 ,

    # BLTOUCH
    MCU_SERVO=PC6  , # Pin 3
    MCU_PROBE=PC3  , # Pin 5

    # ACCELEROMETER
    MCU_ACCELEROMETER_1=<5V> , MCU_ACCELEROMETER_2=<GND> , MCU_ACCELEROMETER_3=PD0 , MCU_ACCELEROMETER_4=PD1 , MCU_ACCELEROMETER_5=PD3 , MCU_ACCELEROMETER_6=PD4 , MCU_ACCELEROMETER_7=PD5 ,

    # ST-LINK
    MCU_STLINK_1=<RST> , MCU_STLINK_2=PA14 , MCU_STLINK_3=PA13 , MCU_STLINK_4=<GND> , MCU_STLINK_5=<3.3V> , MCU_STLINK_6=<5V> ,

    # SCREEN
    MCU_SCREEN_1=PA10 , MCU_SCREEN_2=PA9 , MCU_SCREEN_3=<GND> , MCU_SCREEN_4=<5V> ,

    MCU_FAN0=PA0  , MCU_FAN1=PA1  , MCU_FAN2=PA2  , MCU_FAN3=PA3  , MCU_FAN4=PA15 ,
    MCU_FAN5=PB11 , MCU_FAN6=PB10 , MCU_FAN7=PD12 , MCU_FAN8=PD14 , MCU_FAN9=PD15 ,

    # EXP1 header
    EXP1_1=PE12  , EXP1_2=PE13  ,
    EXP1_3=PB2   , EXP1_4=PG8   ,
    EXP1_5=PC14  , EXP1_6=PC13  ,  # Slot in the socket on this side
    EXP1_7=PG14  , EXP1_8=PG13  ,
    EXP1_9=<GND> , EXP1_10=<5V> ,

    # EXP2 header
    EXP2_1=PA6   , EXP2_2=PA5   ,
    EXP2_3=PB7   , EXP2_4=PA4   ,
    EXP2_5=PB6   , EXP2_6=PA7   ,  # Slot in the socket on this side
    EXP2_7=PG15  , EXP2_8=<RST> ,
    EXP2_9=<GND> , EXP2_10=<5V> ,
