[board_pins mcu_manufacturer]
aliases:
    # Stepper drivers
    MCU_DRIVE0_EN=PA3,   MCU_DRIVE0_STEP=PC13,  MCU_DRIVE0_DIR=PC1,  MCU_DRIVE0_UART=PB11,  # X
    MCU_DRIVE1_EN=PD2,   MCU_DRIVE1_STEP=PC14,  MCU_DRIVE1_DIR=PC4,  MCU_DRIVE1_UART=PC10,  # Y
    MCU_DRIVE2_EN=PC12,  MCU_DRIVE2_STEP=PC15,  MCU_DRIVE2_DIR=PC5,  MCU_DRIVE2_UART=PB7,   # Z
    MCU_DRIVE3_EN=PC11,  MCU_DRIVE3_STEP=PC3,   MCU_DRIVE3_DIR=PC8,  MCU_DRIVE3_UART=PB6,   # E

    # Heaters
    MCU_BED=PA2,
    MCU_HEAT0=PA0,

    # Thermisors
    MCU_THB=PC2,
    MCU_TH0=PC0,

    # Fans
    MCU_FAN0=PC6, MCU_FAN1=PC7,

    # End stops
    MCU_DRIVE0_STOP=PA4,  MCU_DRIVE1_STOP=PA5,  MCU_DRIVE2_STOP=PA6, MCU_DRIVE3_STOP=PB1,

    # TMC SPI
    MCU_TMC_MOSI=PB5, MCU_TMC_MISO=PB4, MCU_TMC_SCK=PB3,

    # CAN TX          RX
    MCU_CAN_LOW=PB8 , MCU_CAN_HIGH=PB9 ,

    # ST-LINK
    MCU_STLINK_1=<RST> , MCU_STLINK_2=PA14 , MCU_STLINK_3=PA13 , MCU_STLINK_4=<GND> , MCU_STLINK_5=<3.3V> , MCU_STLINK_6=<5V> ,

    # EXP1 header
    EXP1_1=PC9,  EXP1_3=PA13,  EXP1_5=PA9,   EXP1_7=<NC>,  EXP1_9=<GND>,
    EXP1_2=PB10,  EXP1_4=PA10,  EXP1_6=PA8,   EXP1_8=<NC>,  EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PA15,  EXP2_5=PA14,  EXP2_7=PA7,   EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB12,  EXP2_6=PB15,  EXP2_8=<RST>, EXP2_10=<NC>,


    # BL Touch
    MCU_SERVO=PB0,   # BL Touch servo pin
    MCU_PROBE=PA1  # BL Touch end stop pin