[board_pins mcu_manufacturer]
aliases:
    # Stepper drivers
    MCU_D0_EN=PC2    , MCU_D0_STEP=PC15  , MCU_D0_DIR=PC14  , MCU_D0_CS=PC13  , MCU_D0_STOP=PB4  ,
    MCU_D1_EN=PA2    , MCU_D1_STEP=PA1   , MCU_D1_DIR=PA0   , MCU_D1_CS=PC3   , MCU_D1_STOP=PB3  ,
    MCU_D2_EN=PA6    , MCU_D2_STEP=PA5   , MCU_D2_DIR=PA4   , MCU_D2_CS=PA3   , MCU_D2_STOP=PD2  ,
    MCU_D3_EN=PB0    , MCU_D3_STEP=PC5   , MCU_D3_DIR=PC4   , MCU_D3_CS=PA7   , MCU_D3_STOP=PB5  ,
    MCU_D4_EN=PB11   , MCU_D4_STEP=PB10  , MCU_D4_DIR=PB2   , MCU_D4_CS=PB1   ,

    # Heaters
    MCU_BED_OUT=PC7  ,
    MCU_HEAT0=PC6    ,

    # Thermistors
    MCU_BED_TEMP=PC0   ,
    MCU_HEAT0_TEMP=PC1 ,

    # Fans
    MCU_FAN0=PC8  , MCU_FAN1=PC9  ,

    # TMC SPI
    MCU_SPI2_MOSI=PB15 , MCU_SPI2_MISO=PB14 , MCU_SPI2_SCK=PB13 ,

    # Probe
    MCU_PROBE=PB5 ,

    # EXP1 header
    EXP1_1=<NC>  , EXP1_3=PC11  , EXP1_5=PC10  , EXP1_7=<NC>  , EXP1_9=<GND> ,
    EXP1_2=PA15  , EXP1_4=PA14  , EXP1_6=PA13  , EXP1_8=<NC>  , EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14  , EXP2_3=PC12  , EXP2_5=PB6   , EXP2_7=PB7   , EXP2_9=<GND>,
    EXP2_2=PB13  , EXP2_4=PB12  , EXP2_6=PB15  , EXP2_8=<RST> , EXP2_10=<NC>,

    # BLTouch
    MCU_SERVO=PA8 ,
