[board_pins mcu_manufacturer]
aliases:
    MCU_XM_STEP=PE3  , MCU_XM_DIR=PE2  , MCU_XM_ENABLE=PE4  , MCU_XM_UART=PD5 ,
    MCU_YM_STEP=PE0  , MCU_YM_DIR=PB9  , MCU_YM_ENABLE=PE1  , MCU_YM_UART=PD7 ,
    MCU_ZM_STEP=PB5  , MCU_ZM_DIR=PB4  , MCU_ZM_ENABLE=PB8  , MCU_ZM_UART=PD4 ,
    MCU_E0M_STEP=PD6 , MCU_E0M_DIR=PD3 , MCU_E0M_ENABLE=PB3 , MCU_E0M_UART=PD9 ,
    MCU_E1M_STEP=PD15, MCU_E1M_DIR=PA1 , MCU_E1M_ENABLE=PA3 , MCU_E1M_UART=PD8 ,

    # Shared SPI bus, only needed if using SPI-programmable drivers instead of UART.
    # In that case each driver's chip-select reuses its _UART pin above.
    MCU_MOTSPI_MOSI=PD14 , MCU_MOTSPI_SCK=PD0 , MCU_MOTSPI_MISO=PD1 ,

    MCU_XSTOP=PA15 , MCU_YSTOP=PD2 , MCU_ZSTOP=PC8 , MCU_PROBE=PC4 ,

    MCU_HE0=PE5 , MCU_HE1=PB0 ,
    MCU_BED=PA0 ,

    MCU_TH0=PC1 , MCU_THB=PC0 ,

    MCU_FAN0=PC14 , MCU_FAN1=PB1 ,

    MCU_SERVOS=PA8 ,

    # EXP1 header
    EXP1_1=PC5   , EXP1_2=PE13  ,
    EXP1_3=PD13  , EXP1_4=PC6   ,
    EXP1_5=PE14  , EXP1_6=PE15  ,
    EXP1_7=PD11  , EXP1_8=PD10  ,
    EXP1_9=<GND> , EXP1_10=<5V> ,

    # EXP2 header
    EXP2_1=PA6   , EXP2_2=PA5    ,
    EXP2_3=PE8   , EXP2_4=PE10   ,
    EXP2_5=PE11  , EXP2_6=PE12   ,
    EXP2_7=PE7   , EXP2_8=<RST>  ,
    EXP2_9=<GND> , EXP2_10=<3.3V>
