[board_pins expander_manufacturer]
mcu: expander
aliases:
    # Mosfets
    MCU_M0=PA0 , MCU_M1=PA1 , MCU_M2=PA2 , MCU_M3=PA3 ,

    # Thermistor
    MCU_T0=PA6 , MCU_T1=PA5 ,

    # Neopixel header
    MCU_DATA=PB1 ,

    # I2C Header
    MCU_SLC=PF1 , MCU_SDA=PF0 ,

    # GPIO
    MCU_PA7=PA7 ,

    # Onboard Led
    MCU_LED=PA4 ,
