
#----------------------------------------#
#### BTT SKR Pro v1.2 definition ########
#----------------------------------------#

[mcu]
##-------------------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
##-------------------------------------------------------------------------------

[include config/mcu_definitions/main/BTT_SKR_Pro_V1.2.cfg] # Do not remove this line
[board_pins xyze_SKR_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_XM_STEP , X_DIR=MCU_XM_DIR , X_ENABLE=MCU_XM_ENABLE , X_TMCUART=MCU_XM_TMCUART ,
    Y_STEP=MCU_YM_STEP , Y_DIR=MCU_YM_DIR , Y_ENABLE=MCU_YM_ENABLE , Y_TMCUART=MCU_YM_TMCUART ,
    Z_STEP=MCU_ZM_STEP , Z_DIR=MCU_ZM_DIR , Z_ENABLE=MCU_ZM_ENABLE , Z_TMCUART=MCU_ZM_TMCUART ,

    E_STEP=MCU_E0M_STEP , E_DIR=MCU_E0M_DIR , E_ENABLE=MCU_E0M_ENABLE , E_TMCUART=MCU_E0M_TMCUART ,

    TOOLHEAD_SENSOR=MCU_E0STOP , SERVO_PIN=MCU_PROBE ,

    X_STOP=MCU_XSTOP , Y_STOP=MCU_YSTOP , Z_STOP=MCU_E1STOP , PROBE_INPUT=MCU_ZSTOP ,

    E_HEATER=MCU_HEAT0 , E_TEMPERATURE=MCU_T0 ,
    BED_HEATER=MCU_BED , BED_TEMPERATURE=MCU_T1 ,

    PART_FAN=MCU_FAN1 , E_FAN=MCU_FAN0 ,

    LIGHT_NEOPIXEL=MCU_SERVOS ,
    STATUS_NEOPIXEL=MCU_IO2

