
#--------------------------------------#
##### BTT Kraken MCU definition ########
#--------------------------------------#

[mcu]
##--------------------------------------------------------------------
# This board work by using a serial connection by default. If you
# want to use CAN, invert the commented lines and use canbus_uuid.

serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id
##--------------------------------------------------------------------

[include config/mcu_definitions/main/BTT_Kraken_v1.0.cfg] # Do not remove this line
[board_pins kraken_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_S1_STEP   , X_DIR=MCU_S1_DIR   , X_ENABLE=MCU_S1_ENABLE   , X_TMCUART=MCU_S1_UART   ,
    Y_STEP=MCU_S2_STEP   , Y_DIR=MCU_S2_DIR   , Y_ENABLE=MCU_S2_ENABLE   , Y_TMCUART=MCU_S2_UART   ,

    Z_STEP=MCU_S5_STEP   , Z_DIR=MCU_S5_DIR   , Z_ENABLE=MCU_S5_ENABLE   , Z_TMCUART=MCU_S5_UART   ,
    Z1_STEP=MCU_S6_STEP  , Z1_DIR=MCU_S6_DIR  , Z1_ENABLE=MCU_S6_ENABLE  , Z1_TMCUART=MCU_S6_UART  ,
    Z2_STEP=MCU_S7_STEP  , Z2_DIR=MCU_S7_DIR  , Z2_ENABLE=MCU_S7_ENABLE  , Z2_TMCUART=MCU_S7_UART  ,
    Z3_STEP=MCU_S8_STEP  , Z3_DIR=MCU_S8_DIR  , Z3_ENABLE=MCU_S8_ENABLE  , Z3_TMCUART=MCU_S8_UART  ,

    E_STEP=MCU_S3_STEP   , E_DIR=MCU_S3_DIR   , E_ENABLE=MCU_S3_ENABLE   , E_TMCUART=MCU_S3_UART   ,

    DRIVER_SPI_MOSI=MCU_MOSI , # Used in case of SPI drivers
    DRIVER_SPI_MISO=MCU_MISO , # Used in case of SPI drivers
    DRIVER_SPI_SCK=MCU_SCK   , # Used in case of SPI drivers

    X_STOP= MCU_MIN1 , Y_STOP=MCU_MIN2 , Z_STOP=MCU_MIN5 ,
    PROBE_INPUT=MCU_IND_DET  ,
    RUNOUT_SENSOR=MCU_MIN4 ,

    E_HEATER=MCU_HE0       , E_TEMPERATURE=MCU_T0   ,
    BED_HEATER=MCU_BED_OUT , BED_TEMPERATURE=MCU_TB ,

    PART_FAN=MCU_FAN7 , E_FAN=MCU_FAN6 ,
    CONTROLLER_FAN=MCU_FAN2        ,
    EXHAUST_FAN=MCU_FAN3           ,
    FILTER_FAN=MCU_FAN4            ,
    HOST_CONTROLLER_FAN=MCU_FAN5   ,

    CHAMBER_TEMPERATURE=MCU_T1 , ELECTRICAL_CABINET_TEMPERATURE=MCU_T2 ,

    LIGHT_OUTPUT=MCU_HE2     ,
    LIGHT_NEOPIXEL=MCU_RGB1  ,
    STATUS_NEOPIXEL=MCU_RGB2 ,

    SERVO_PIN=MCU_MOTOR_SERVO ,

