
#---------------------------------------------#
#### BTT Manta M8P v2.0 MCU definition ########
#---------------------------------------------#

[mcu]
##--------------------------------------------------------------------
# This board works by using a serial connection by default. If you
# want to use CAN, invert the commented lines and use canbus_uuid.

serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id
##--------------------------------------------------------------------

[include config/mcu_definitions/main/BTT_Manta_M8P_v2.0.cfg] # Do not remove this line
[board_pins mantam8p20_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_M1_STEP  , X_DIR=MCU_M1_DIR  , X_ENABLE=MCU_M1_EN  , X_TMCUART=MCU_M1_CS  ,
    Y_STEP=MCU_M2_STEP  , Y_DIR=MCU_M2_DIR  , Y_ENABLE=MCU_M2_EN  , Y_TMCUART=MCU_M2_CS  ,

    Z_STEP=MCU_M3_STEP  , Z_DIR=MCU_M3_DIR  , Z_ENABLE=MCU_M3_EN  , Z_TMCUART=MCU_M3_CS  ,
    Z1_STEP=MCU_M4_STEP , Z1_DIR=MCU_M4_DIR , Z1_ENABLE=MCU_M4_EN , Z1_TMCUART=MCU_M4_CS ,
    Z2_STEP=MCU_M5_STEP , Z2_DIR=MCU_M5_DIR , Z2_ENABLE=MCU_M5_EN , Z2_TMCUART=MCU_M5_CS ,
    Z3_STEP=MCU_M6_STEP , Z3_DIR=MCU_M6_DIR , Z3_ENABLE=MCU_M6_EN , Z3_TMCUART=MCU_M6_CS ,

    E_STEP=MCU_M7_STEP  , E_DIR=MCU_M7_DIR  , E_ENABLE=MCU_M7_EN  , E_TMCUART=MCU_M7_CS  ,

    DRIVER_SPI_MOSI=MCU_M_SPI_MOSI , # Used in case of SPI drivers such as TMC2240 or TMC5160
    DRIVER_SPI_MISO=MCU_M_SPI_MISO , # Used in case of SPI drivers such as TMC2240 or TMC5160
    DRIVER_SPI_SCK=MCU_M_SPI_SCK   , # Used in case of SPI drivers such as TMC2240 or TMC5160

    X_STOP=MCU_M1_STOP , Y_STOP=MCU_M2_STOP , Z_STOP=MCU_M3_STOP ,
    PROBE_INPUT=MCU_PROBE2 ,
    RUNOUT_SENSOR=MCU_FWS1 ,

    E_HEATER=MCU_HE0       , E_TEMPERATURE=MCU_TH0   ,
    BED_HEATER=MCU_BED_OUT , BED_TEMPERATURE=MCU_THB , 

    PART_FAN=MCU_FAN0 , E_FAN=MCU_FAN1 ,
    CONTROLLER_FAN=MCU_FAN2 ,
    EXHAUST_FAN=MCU_FAN3 ,
    FILTER_FAN=MCU_FAN4 ,
    HOST_CONTROLLER_FAN=MCU_FAN5 ,

    CHAMBER_TEMPERATURE=MCU_TH1 ,
    ELECTRICAL_CABINET_TEMPERATURE=MCU_TH2 ,

    LIGHT_OUTPUT=MCU_HE2 ,
    STATUS_NEOPIXEL=MCU_RGB1 ,
    LIGHT_NEOPIXEL=MCU_M5_STOP ,

    SERVO_PIN=MCU_PROBE1 ,
