
#----------------------------------------#
#### BTT SKR Pico v1.0 definition ########
#----------------------------------------#

[mcu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
##--------------------------------------------------------------------

[include config/mcu_definitions/main/BTT_SKR_Pico_v1.0.cfg] # Do not remove this line
[board_pins xye_SKR_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_X_STEP  , X_DIR=MCU_X_DIR  , X_ENABLE=MCU_X_EN  ,
    Y_STEP=MCU_Y_STEP  , Y_DIR=MCU_Y_DIR  , Y_ENABLE=MCU_Y_EN  ,
    Z_STEP=MCU_Z_STEP  , Z_DIR=MCU_Z_DIR  , Z_ENABLE=MCU_Z_EN  ,
    E_STEP=MCU_E0_STEP , E_DIR=MCU_E0_DIR , E_ENABLE=MCU_E0_EN ,

    TMCUART=MCU_TMCUART , TMCTX=MCU_TMCTX ,

    X_STOP=MCU_X-STOP , Y_STOP=MCU_Y-STOP , Z_STOP=MCU_Z-STOP ,
    RUNOUT_SENSOR=MCU_E0-STOP ,
    PROBE_INPUT=MCU_PROBE     ,

    E_HEATER=MCU_HE   , E_TEMPERATURE=MCU_TH0   ,
    BED_HEATER=MCU_HB , BED_TEMPERATURE=MCU_THB ,

    PART_FAN=MCU_FAN1 , E_FAN=MCU_FAN2 ,
    CONTROLLER_FAN=MCU_FAN3 ,

    STATUS_NEOPIXEL=MCU_RGB ,

[tmc2209 stepper_x]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 0

[tmc2209 stepper_y]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 2

[tmc2209 stepper_z]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 1

# # -> Comment this section if you are using a toolhead with own mcu
[tmc2209 extruder]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 3

