#-------------------------------#
#### BTT SKR2 MCU definition ####
#-------------------------------#

[mcu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path 
# canbus_uuid: change-me-to-the-correct-canbus-id
##--------------------------------------------------------------------

[include config/mcu_definitions/main/BTT_SKR_2.cfg] # Do not remove this line
[board_pins SKR_2_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_XM_STEP  , X_DIR=MCU_XM_DIR  , X_ENABLE=MCU_XM_ENABLE  , X_TMCUART=MCU_XM_UART  ,
    Y_STEP=MCU_YM_STEP  , Y_DIR=MCU_YM_DIR  , Y_ENABLE=MCU_YM_ENABLE  , Y_TMCUART=MCU_YM_UART  ,
    Z_STEP=MCU_ZM_STEP  , Z_DIR=MCU_ZM_DIR  , Z_ENABLE=MCU_ZM_ENABLE  , Z_TMCUART=MCU_ZM_UART  ,
    E_STEP=MCU_E0M_STEP , E_DIR=MCU_E0M_DIR , E_ENABLE=MCU_E0M_ENABLE , E_TMCUART=MCU_E0M_UART ,
    E1_STEP=MCU_E1M_STEP , E1_DIR=MCU_E1M_DIR , E1_ENABLE=MCU_E1M_ENABLE , E1_TMCUART=MCU_E1M_UART ,

    X_STOP=MCU_XSTOP , Y_STOP=MCU_YSTOP , Z_STOP=MCU_ZSTOP ,
    RUNOUT_SENSOR=MCU_E0DET , RUNOUT_SENSOR1=MCU_E1DET , POWER_DETECT=MCU_PWRDET  ,
    PROBE_INPUT=MCU_PROBE   ,
    SERVO_PIN=MCU_SERVOS    ,
    
    E_HEATER=MCU_HE0   , E_TEMPERATURE=MCU_TH0  , E1_HEATER=MCU_HE1   , E1_TEMPERATURE=MCU_TH1  ,
    BED_HEATER=MCU_BED , BED_TEMPERATURE=MCU_TB , 

    PART_FAN=MCU_FAN0 , E_FAN=MCU_FAN1 , CONTROLLER_FAN=MCU_FAN2 ,

    STATUS_NEOPIXEL=MCU_RGB ,
    # LIGHT_NEOPIXEL=MCU_RGB ,
    
########################################
# Motor Power Pin
########################################
# Due to BTT implementing a Marlin-specific safety feature,
# "anti-reversal stepper protection", this pin needs pulling
# high to pass power to stepper drivers and most FETs

[output_pin motor_power]
pin: MCU_MPWR
value: 1

