
#----------------------------------------#
#### BTT SKR Mini E3 V2 definition #######
#----------------------------------------#

[mcu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
##--------------------------------------------------------------------

[include config/mcu_definitions/main/BTT_SKR_Mini_E3_v2.cfg] # Do not remove this line
[board_pins xye_SKR_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_XM_STEP , X_DIR=MCU_XM_DIR , X_ENABLE=MCU_XM_ENABLE ,
    Y_STEP=MCU_YM_STEP , Y_DIR=MCU_YM_DIR , Y_ENABLE=MCU_YM_ENABLE ,
    Z_STEP=MCU_ZM_STEP , Z_DIR=MCU_ZM_DIR , Z_ENABLE=MCU_ZM_ENABLE ,
    E_STEP=MCU_EM_STEP , E_DIR=MCU_EM_DIR , E_ENABLE=MCU_EM_ENABLE ,

    TMCUART=MCU_TMCUART , TMCTX=MCU_TMCTX ,

    X_STOP=MCU_XSTOP , Y_STOP=MCU_YSTOP , Z_STOP=MCU_ZSTOP ,
    RUNOUT_SENSOR=MCU_E0STOP ,
    PROBE_INPUT=MCU_PROBE    ,
    SERVO_PIN=MCU_SERVOS     ,

    E_HEATER=MCU_HE0   , E_TEMPERATURE=MCU_TH0  ,
    BED_HEATER=MCU_BED , BED_TEMPERATURE=MCU_TB ,

    PART_FAN=MCU_FAN0 , E_FAN=MCU_FAN1 ,

    STATUS_NEOPIXEL=MCU_NEOPIXEL ,
    # LIGHT_NEOPIXEL=MCU_NEOPIXEL  ,


[tmc2209 stepper_x]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 0

[tmc2209 stepper_y]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 2

[tmc2209 stepper_z]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 1

# Comment this section if you are using a toolhead with its own MCU
[tmc2209 extruder]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 3

