
#---------------------------------------------#
#### Double BTT SKRv1.4 MCU definition ########
#---------------------------------------------#

[mcu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
##--------------------------------------------------------------------

[mcu secondary]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
##--------------------------------------------------------------------

# If you want to override the wiring of one of the SKR boards, keep in mind that each board
# have its own name. One is named "mcu", while the other is named "secondary". So you should
# use for example "pin: secondary:PIN_NAME" in your own overrides.cfg files.

[include config/mcu_definitions/main/BTT_SKR_v1.4.cfg] # Do not remove this line
[board_pins xye_SKR_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_XM_STEP , X_DIR=MCU_XM_DIR , X_ENABLE=MCU_XM_ENABLE , X_TMCUART=MCU_XM_UART ,
    Y_STEP=MCU_YM_STEP , Y_DIR=MCU_YM_DIR , Y_ENABLE=MCU_YM_ENABLE , Y_TMCUART=MCU_YM_UART ,

    E_STEP=MCU_E0M_STEP , E_DIR=MCU_E0M_DIR , E_ENABLE=MCU_E0M_ENABLE , E_TMCUART=MCU_E0M_UART ,

    MMU_GEAR_STEP=MCU_ZM_STEP         , MMU_GEAR_DIR=MCU_ZM_DIR         , MMU_GEAR_ENABLE=MCU_ZM_ENABLE         , MMU_GEAR_UART=MCU_ZM_UART     ,
    SELECTOR_STEP=MCU_E1M_STEP , MMU_SEL_DIR=MCU_E1M_DIR , MMU_SEL_ENABLE=MCU_E1M_ENABLE , MMU_SEL_UART=MCU_E1M_UART ,
    MMU_SEL_DIAG=MCU_ZSTOP ,

    MMU_GEAR_ENDSTOP=MCU_E1DET , MMU_SEL_ENDSTOP=MCU_E1DET ,

    MMU_SERVO=MCU_E0DET      ,
    MMU_ENCODER=MCU_PWRDET   ,
    TOOLHEAD_SENSORR=MCU_ZSTOP ,

    X_STOP=MCU_XSTOP , Y_STOP=MCU_YSTOP ,

    E_HEATER=MCU_HE0 , E_TEMPERATURE=MCU_TH0 ,

    PART_FAN=MCU_FAN0 , E_FAN=MCU_HE1 ,
    EXHAUST_FAN=MCU_BED ,

    CHAMBER_TEMPERATURE=MCU_TH1 ,

    LIGHT_NEOPIXEL=MCU_NEOPIXEL ,

[board_pins z_SKR_mcu]
mcu: secondary
aliases:
    Z_STEP=MCU_XM_STEP   , Z_DIR=MCU_XM_DIR   , Z_ENABLE=MCU_XM_ENABLE   , Z_TMCUART=MCU_XM_UART   ,
    Z1_STEP=MCU_YM_STEP  , Z1_DIR=MCU_YM_DIR  , Z1_ENABLE=MCU_YM_ENABLE  , Z1_TMCUART=MCU_YM_UART  ,
    Z2_STEP=MCU_ZM_STEP  , Z2_DIR=MCU_ZM_DIR  , Z2_ENABLE=MCU_ZM_ENABLE  , Z2_TMCUART=MCU_ZM_UART  ,
    Z3_STEP=MCU_E0M_STEP , Z3_DIR=MCU_E0M_DIR , Z3_ENABLE=MCU_E0M_ENABLE , Z3_TMCUART=MCU_E0M_UART ,

    Z_STOP=MCU_ZSTOP ,
    PROBE_INPUT=MCU_PROBE ,
    RUNOUT_SENSOR=MCU_E0DET ,

    BED_HEATER=MCU_HE1 , BED_TEMPERATURE=MCU_TB ,

    CONTROLLER_FAN=MCU_HE0 ,
    FILTER_FAN=MCU_FAN0    ,

    ELECTRICAL_CABINET_TEMPERATURE=MCU_TH0 ,

    STATUS_NEOPIXEL=MCU_NEOPIXEL ,
    LIGHT_OUTPUT=MCU_BED ,

    ADXL_CS=MCU_SPI_CS ,


#----------------------------------------#
#   Double BTT SKRv1.4 pins remapping    #
#----------------------------------------#

# These pins overrides are automatically added when you select the double
# BTT SKR1.4 MCUs during the installation process. They should provide a
# good base to work with. Feel free to adapt to your board if needed!

# [fan_generic filter]
# pin: secondary:FILTER_FAN

# [output_pin caselight]
# pin: secondary:LIGHT_OUTPUT

# [temperature_sensor ElectricalCabinet]
# sensor_pin: secondary:ELECTRICAL_CABINET_TEMPERATURE

[stepper_z]
step_pin: secondary:Z_STEP
dir_pin: secondary:Z_DIR
enable_pin: !secondary:Z_ENABLE
endstop_pin: secondary:Z_STOP

[tmc2209 stepper_z]
uart_pin: secondary:Z_TMCUART

[stepper_z1]
step_pin: secondary:Z1_STEP
dir_pin: !secondary:Z1_DIR
enable_pin: !secondary:Z1_ENABLE

[tmc2209 stepper_z1]
uart_pin: secondary:Z1_TMCUART

[stepper_z2]
step_pin: secondary:Z2_STEP
dir_pin: secondary:Z2_DIR
enable_pin: !secondary:Z2_ENABLE

[tmc2209 stepper_z2]
uart_pin: secondary:Z2_TMCUART

# [stepper_z3]
# step_pin: secondary:Z3_STEP
# dir_pin: !secondary:Z3_DIR
# enable_pin: !secondary:Z3_ENABLE

# [tmc2209 stepper_z3]
# uart_pin: secondary:Z3_TMCUART

# [heater_bed]
# heater_pin: secondary:BED_HEATER
# sensor_pin: secondary:BED_TEMPERATURE

# [probe]
# pin: ^secondary:PROBE_INPUT

# [adxl345]
# cs_pin: secondary:ADXL_CS

