
#---------------------------------------------#
#### Fysetc Catalyst v1.x MCU definition ######
#---------------------------------------------#

[mcu]
##--------------------------------------------------------------------
# This board work by using a serial connection by default. If you
# want to use CAN, invert the commented lines and use canbus_uuid.

serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id
##--------------------------------------------------------------------

[include config/mcu_definitions/main/Fysetc_Catalyst_v1.x.cfg] # Do not remove this line
[board_pins catalyst_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_B_MOT_STEP    , X_DIR=MCU_B_MOT_DIR    , X_ENABLE=MCU_B_MOT_ENABLE    , X_TMCUART=MCU_B_MOT_CS_PDN    ,
    Y_STEP=MCU_A_MOT_STEP    , Y_DIR=MCU_A_MOT_DIR    , Y_ENABLE=MCU_A_MOT_ENABLE    , Y_TMCUART=MCU_A_MOT_CS_PDN    ,
    Z_STEP=MCU_Z_MOT_STEP    , Z_DIR=MCU_Z_MOT_DIR    , Z_ENABLE=MCU_Z_MOT_ENABLE    , Z_TMCUART=MCU_Z_MOT_CS_PDN    ,
    E_STEP=MCU_E_MOT_STEP    , E_DIR=MCU_E_MOT_DIR    , E_ENABLE=MCU_E_MOT_ENABLE    , E_TMCUART=MCU_E_MOT_CS_PDN    ,

    DRIVER_SPI_MOSI=MCU_SPI_MOSI , # Used in case of SPI drivers such as TMC2240 or TMC5160
    DRIVER_SPI_MISO=MCU_SPI_MISO , # Used in case of SPI drivers such as TMC2240 or TMC5160
    DRIVER_SPI_SCK=MCU_SPI_SCK   , # Used in case of SPI drivers such as TMC2240 or TMC5160
    
    PROBE_INPUT=MCU_PROBE   ,

    E_HEATER=MCU_HEAT     , E_TEMPERATURE=MCU_T0   ,
    BED_HEATER=MCU_BED , BED_TEMPERATURE=MCU_T1 ,

    PART_FAN=MCU_FAN1 , E_FAN=MCU_FAN0 ,
    CONTROLLER_FAN=MCU_FAN2        ,

    LIGHT_NEOPIXEL=MCU_NEOPIXEL      ,

