
#---------------------------------------------#
#### Fysetc Spider v2.x MCU definition ########
#---------------------------------------------#

[mcu]
##--------------------------------------------------------------------
# This board work by using a serial connection by default. If you
# want to use CAN, invert the commented lines and use canbus_uuid.

serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id
##--------------------------------------------------------------------

[include config/mcu_definitions/Fysetc_Spider_v2.x.cfg] # Do not remove this line
[board_pins spider_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_X_MOT_STEP   , X_DIR=MCU_X_MOT_DIR   , X_ENABLE=MCU_X_MOT_ENABLE   , X_TMCUART=MCU_X_MOT_CS_PDN   ,
    Y_STEP=MCU_Y_MOT_STEP   , Y_DIR=MCU_Y_MOT_DIR   , Y_ENABLE=MCU_Y_MOT_ENABLE   , Y_TMCUART=MCU_Y_MOT_CS_PDN   ,

    Z_STEP=MCU_Z_MOT_STEP    , Z_DIR=MCU_Z_MOT_DIR    , Z_ENABLE=MCU_Z_MOT_ENABLE    , Z_TMCUART=MCU_Z_MOT_CS_PDN    ,
    Z1_STEP=MCU_E1_MOT_STEP  , Z1_DIR=MCU_E1_MOT_DIR  , Z1_ENABLE=MCU_E1_MOT_ENABLE  , Z1_TMCUART=MCU_E1_MOT_CS_PDN  ,
    Z2_STEP=MCU_E2_MOT_STEP  , Z2_DIR=MCU_E2_MOT_DIR  , Z2_ENABLE=MCU_E2_MOT_ENABLE  , Z2_TMCUART=MCU_E2_MOT_CS_PDN  ,
    Z3_STEP=MCU_E3_MOT_STEP  , Z3_DIR=MCU_E3_MOT_DIR  , Z3_ENABLE=MCU_E3_MOT_ENABLE  , Z3_TMCUART=MCU_E3_MOT_CS_PDN  ,

    E_STEP=MCU_E0_MOT_STEP   , E_DIR=MCU_E0_MOT_DIR   , E_ENABLE=MCU_E0_MOT_ENABLE   , E_TMCUART=MCU_E0_MOT_CS_PDN   ,

    X_STOP=MCU_X_MAX , Y_STOP=MCU_Y_MAX , Z_STOP=MCU_Z_MIN ,
    PROBE_INPUT=MCU_Z_MAX   ,
    RUNOUT_SENSOR=MCU_Y_MIN , # If using sensorless homing: you will need to move the runout sensor on another pin

    E_HEATER=MCU_E0_OUT    , E_TEMPERATURE=MCU_TE0  ,
    BED_HEATER=MCU_BED_OUT , BED_TEMPERATURE=MCU_TB ,

    PART_FAN=MCU_FAN1 , E_FAN=MCU_FAN0 ,
    CONTROLLER_FAN=MCU_FAN2        ,
    EXHAUST_FAN=MCU_E2_OUT         ,
    FILTER_FAN=MCU_RGB_R           ,
    HOST_CONTROLLER_FAN=MCU_RGB_G  ,

    CHAMBER_TEMPERATURE=MCU_TE1 , ELECTRICAL_CABINET_TEMPERATURE=MCU_TE2 ,

    LIGHT_OUTPUT=MCU_E1_OUT         ,
    LIGHT_NEOPIXEL=MCU_RGB_B        ,
    STATUS_NEOPIXEL=MCU_5V_RGB_DATA ,

