
#--------------------------------------#
#### LDO Leviathan MCU definition ######
#--------------------------------------#

[mcu]
##--------------------------------------------------------------------
# This board work by using a serial connection by default. If you
# want to use CAN, invert the commented lines and use canbus_uuid.

serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id
##--------------------------------------------------------------------

[include config/mcu_definitions/main/LDO_Leviathan_v1.2.cfg] # Do not remove this line
[board_pins leviathan_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_HV-STEPPER0_STEP , X_DIR=MCU_HV-STEPPER0_DIR , X_ENABLE=MCU_HV-STEPPER0_EN   , X_TMCUART=MCU_HV-STEPPER0_CS  ,
    Y_STEP=MCU_HV-STEPPER1_STEP , Y_DIR=MCU_HV-STEPPER1_DIR , Y_ENABLE=MCU_HV-STEPPER1_EN   , Y_TMCUART=MCU_HV-STEPPER1_CS  ,

    DRIVER_SPI_MOSI=MCU_SPI2_MOSI , # Used for TMC5160 (HV-STEPPER0 and HV-STEPPER1)
    DRIVER_SPI_MISO=MCU_SPI2_MISO , # Used for TMC5160 (HV-STEPPER0 and HV-STEPPER1)
    DRIVER_SPI_SCK=MCU_SPI2_SCK   , # Used for TMC5160 (HV-STEPPER0 and HV-STEPPER1)

    Z_STEP=MCU_STEPPER0_STEP    , Z_DIR=MCU_STEPPER0_DIR    , Z_ENABLE=MCU_STEPPER0_EN      , Z_TMCUART=MCU_STEPPER0_UART   ,
    Z1_STEP=MCU_STEPPER1_STEP   , Z1_DIR=MCU_STEPPER1_DIR   , Z1_ENABLE=MCU_STEPPER1_EN     , Z1_TMCUART=MCU_STEPPER1_UART  ,
    Z2_STEP=MCU_STEPPER2_STEP   , Z2_DIR=MCU_STEPPER2_DIR   , Z2_ENABLE=MCU_STEPPER2_EN     , Z2_TMCUART=MCU_STEPPER2_UART  ,
    Z3_STEP=MCU_STEPPER3_STEP   , Z3_DIR=MCU_STEPPER3_DIR   , Z3_ENABLE=MCU_STEPPER3_EN     , Z3_TMCUART=MCU_STEPPER3_UART  ,

    E_STEP=MCU_STEPPER4_STEP    , E_DIR=MCU_STEPPER4_DIR    , E_ENABLE=MCU_STEPPER4_EN      , E_TMCUART=MCU_STEPPER4_UART   ,

    X_STOP=MCU_STOP_X           , Y_STOP=MCU_STOP_Y         , Z_STOP=MCU_STOP_Z,
    PROBE_INPUT=MCU_Z_PROBE,
    RUNOUT_SENSOR=MCU_STOP_E0,

    E_HEATER=MCU_HE0            , E_TEMPERATURE=MCU_T1      ,
    BED_HEATER=MCU_BED0         , BED_TEMPERATURE=MCU_T0    ,

    PART_FAN=MCU_FAN0           , E_FAN=MCU_FAN1            ,
    CONTROLLER_FAN=MCU_FAN2     ,
    EXHAUST_FAN=MCU_FAN3        ,

    CHAMBER_TEMPERATURE=MCU_T2  , ELECTRICAL_CABINET_TEMPERATURE=MCU_T3,

    LIGHT_OUTPUT=MCU_LED        ,
    STATUS_NEOPIXEL=MCU_NEOPIXEL,

