
#------------------------------------------#
#### CUSTOM TEMPLATE MCU definition ########
#------------------------------------------#

# This template file is a pre-filled file with Klippain pins alias conventions
# that can be used if your MCU board is not yet officially supported. Just fill
# in your MCU pins and you will be good to go :)

[mcu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id
##--------------------------------------------------------------------

[include config/mcu_definitions/main/Mellow_Fly_Super8_v1.x.cfg] # Do not remove this line
[board_pins fly_Super8_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_DRIVE0_STEP   , X_DIR=MCU_DRIVE0_DIR   , X_ENABLE=MCU_DRIVE0_EN   , X_TMCUART=MCU_DRIVE0_UART   ,
    Y_STEP=MCU_DRIVE1_STEP   , Y_DIR=MCU_DRIVE1_DIR   , Y_ENABLE=MCU_DRIVE1_EN   , Y_TMCUART=MCU_DRIVE1_UART   ,

    Z_STEP=MCU_DRIVE3_STEP   , Z_DIR=MCU_DRIVE3_DIR   , Z_ENABLE=MCU_DRIVE3_EN   , Z_TMCUART=MCU_DRIVE3_UART   ,
    Z1_STEP=MCU_DRIVE4_STEP  , Z1_DIR=MCU_DRIVE4_DIR  , Z1_ENABLE=MCU_DRIVE4_EN  , Z1_TMCUART=MCU_DRIVE4_UART  ,
    Z2_STEP=MCU_DRIVE5_STEP  , Z2_DIR=MCU_DRIVE5_DIR  , Z2_ENABLE=MCU_DRIVE5_EN  , Z2_TMCUART=MCU_DRIVE5_UART  ,
    Z3_STEP=MCU_DRIVE6_STEP  , Z3_DIR=MCU_DRIVE6_DIR  , Z3_ENABLE=MCU_DRIVE6_EN  , Z3_TMCUART=MCU_DRIVE6_UART  ,

    E_STEP=MCU_DRIVE2_STEP   , E_DIR=MCU_DRIVE2_DIR   , E_ENABLE=MCU_DRIVE2_EN   , E_TMCUART=MCU_DRIVE2_UART   ,

    DRIVER_SPI_MOSI=MCU_TMC_MOSI , # Used in case of SPI drivers such as TMC2240 or TMC5160
    DRIVER_SPI_MISO=MCU_TMC_MISO , # Used in case of SPI drivers such as TMC2240 or TMC5160
    DRIVER_SPI_SCK=MCU_TMC_SCK  , # Used in case of SPI drivers such as TMC2240 or TMC5160

    X_STOP=MCU_IO0 , Y_STOP=MCU_IO1 , Z_STOP=MCU_IO3 ,
    PROBE_INPUT=MCU_HV_IN  ,
    RUNOUT_SENSOR=MCU_IO4 ,

    E_HEATER=MCU_HEAT0   , E_TEMPERATURE=MCU_ADC_0   ,
    BED_HEATER=MCU_BED   , BED_TEMPERATURE=MCU_ADC_5 ,

    PART_FAN=MCU_FAN0 , E_FAN=MCU_FAN1 ,
    CONTROLLER_FAN=MCU_FAN2        ,
    EXHAUST_FAN=MCU_FAN3           ,
    FILTER_FAN=MCU_FAN4            ,
    HOST_CONTROLLER_FAN=MCU_FAN5   ,

    CHAMBER_TEMPERATURE=MCU_ADC_1 ,
    ELECTRICAL_CABINET_TEMPERATURE=MCU_ADC_2 ,

    LIGHT_OUTPUT=MCU_HEAT1    ,
#    LIGHT_NEOPIXEL=  ,
#    STATUS_NEOPIXEL= ,

    SERVO_PIN=MCU_SERVO ,

