
#---------------------------------------#
#### Mellow FLY D5 MCU definition #######
#---------------------------------------#

[mcu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id
##--------------------------------------------------------------------

[include config/mcu_definitions/main/Mellow_FLY_D5.cfg] # Do not remove this line
[board_pins fly_d5_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_D0_STEP   , X_DIR=MCU_D0_DIR   , X_ENABLE=MCU_D0_EN   , X_TMCUART=MCU_D0_CS   ,
    Y_STEP=MCU_D1_STEP   , Y_DIR=MCU_D1_DIR   , Y_ENABLE=MCU_D1_EN   , Y_TMCUART=MCU_D1_CS   ,

    Z_STEP=MCU_D2_STEP   , Z_DIR=MCU_D2_DIR   , Z_ENABLE=MCU_D2_EN   , Z_TMCUART=MCU_D2_CS   ,
    Z1_STEP=MCU_D4_STEP  , Z1_DIR=MCU_D4_DIR  , Z1_ENABLE=MCU_D4_EN  , Z1_TMCUART=MCU_D4_CS  ,

    E_STEP=MCU_D3_STEP   , E_DIR=MCU_D3_DIR   , E_ENABLE=MCU_D3_EN   , E_TMCUART=MCU_D3_CS   ,
    E1_STEP=MCU_D4_STEP  , E1_DIR=MCU_D4_DIR  , E1_ENABLE=MCU_D4_EN  , E1_TMCUART=MCU_D4_CS  ,

    DRIVER_SPI_MOSI=MCU_SPI2_MOSI , # Used in case of SPI drivers such as TMC2240 or TMC5160
    DRIVER_SPI_MISO=MCU_SPI2_MISO , # Used in case of SPI drivers such as TMC2240 or TMC5160
    DRIVER_SPI_SCK=MCU_SPI2_SCK   , # Used in case of SPI drivers such as TMC2240 or TMC5160

    X_STOP=MCU_D0_STOP , Y_STOP=MCU_D1_STOP , Z_STOP=MCU_D2_STOP ,
    RUNOUT_SENSOR=MCU_D3_STOP ,
    PROBE_INPUT=MCU_PROBE     ,

    E_HEATER=MCU_HEAT0      , E_TEMPERATURE=MCU_HEAT0_TEMP ,
    BED_HEATER=MCU_BED_OUT  , BED_TEMPERATURE=MCU_BED_TEMP ,

    PART_FAN=MCU_FAN0 , E_FAN=MCU_FAN1 ,

    SERVO_PIN=MCU_SERVO ,
