
#-------------------------------------#
#### MKS SKIPR v1.0 MCU definition ####
#-------------------------------------#

[mcu]
##--------------------------------------------------------------------
# The onboard STM32F407 MCU communicates with the RK3328 SoC (running the
# Klipper host) over an internal UART link, not USB. Compile Klipper for the
# stm32f407 with the 48KiB bootloader and "Serial (on USART1 PA10/PA9)" for
# communication, then flash mks_skipr.bin via the SD card as described in
# the MKS SKIPR documentation: https://github.com/makerbase-mks/MKS-SKIPR
serial: /dev/ttyS0
restart_method: command
##--------------------------------------------------------------------

[include config/mcu_definitions/main/MKS_SKIPR_v1.0.cfg] # Do not remove this line
[board_pins skipr_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_XM_STEP  , X_DIR=MCU_XM_DIR  , X_ENABLE=MCU_XM_ENABLE  , X_TMCUART=MCU_XM_UART  ,
    Y_STEP=MCU_YM_STEP  , Y_DIR=MCU_YM_DIR  , Y_ENABLE=MCU_YM_ENABLE  , Y_TMCUART=MCU_YM_UART  ,
    Z_STEP=MCU_ZM_STEP  , Z_DIR=MCU_ZM_DIR  , Z_ENABLE=MCU_ZM_ENABLE  , Z_TMCUART=MCU_ZM_UART  ,
    Z1_STEP=MCU_Z1M_STEP , Z1_DIR=MCU_Z1M_DIR , Z1_ENABLE=MCU_Z1M_ENABLE , Z1_TMCUART=MCU_Z1M_UART ,
    Z2_STEP=MCU_Z2M_STEP , Z2_DIR=MCU_Z2M_DIR , Z2_ENABLE=MCU_Z2M_ENABLE , Z2_TMCUART=MCU_Z2M_UART ,
    Z3_STEP=MCU_Z3M_STEP , Z3_DIR=MCU_Z3M_DIR , Z3_ENABLE=MCU_Z3M_ENABLE , Z3_TMCUART=MCU_Z3M_UART ,
    E_STEP=MCU_E0M_STEP  , E_DIR=MCU_E0M_DIR  , E_ENABLE=MCU_E0M_ENABLE  , E_TMCUART=MCU_E0M_UART  ,

    X_STOP=MCU_XSTOP , Y_STOP=MCU_YSTOP ,
    PROBE_INPUT=MCU_PROBE ,

    E_HEATER=MCU_HE0   , E_TEMPERATURE=MCU_TH0  ,
    BED_HEATER=MCU_BED , BED_TEMPERATURE=MCU_THB ,

    PART_FAN=MCU_FAN0 , E_FAN=MCU_FAN1 , CONTROLLER_FAN=MCU_FAN2 ,
