
#------------------------------------------#
#### CUSTOM TEMPLATE MCU definition ########
#------------------------------------------#

# This template file is a pre-filled file with Klippain pins alias conventions
# that can be used if your MCU board is not yet officially supported. Just fill
# in your MCU pins and you will be good to go :)

[mcu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id
##--------------------------------------------------------------------

[board_pins custom_mcu]
mcu: mcu
aliases:
    X_STEP=   , X_DIR=   , X_ENABLE=   , X_TMCUART=   ,
    Y_STEP=   , Y_DIR=   , Y_ENABLE=   , Y_TMCUART=   ,

    Z_STEP=   , Z_DIR=   , Z_ENABLE=   , Z_TMCUART=   ,
    Z1_STEP=  , Z1_DIR=  , Z1_ENABLE=  , Z1_TMCUART=  ,
    Z2_STEP=  , Z2_DIR=  , Z2_ENABLE=  , Z2_TMCUART=  ,
    Z3_STEP=  , Z3_DIR=  , Z3_ENABLE=  , Z3_TMCUART=  ,

    E_STEP=   , E_DIR=   , E_ENABLE=   , E_TMCUART=   ,

    # DRIVER_SPI_MOSI= , # Used in case of SPI drivers such as TMC2240 or TMC5160
    # DRIVER_SPI_MISO= , # Used in case of SPI drivers such as TMC2240 or TMC5160
    # DRIVER_SPI_SCK=  , # Used in case of SPI drivers such as TMC2240 or TMC5160

    X_STOP= , Y_STOP= , Z_STOP= ,
    PROBE_INPUT=  ,
    RUNOUT_SENSOR= ,

    E_HEATER=   , E_TEMPERATURE=   ,
    BED_HEATER= , BED_TEMPERATURE= ,

    PART_FAN= , E_FAN= ,
    CONTROLLER_FAN=        ,
    EXHAUST_FAN=           ,
    FILTER_FAN=            ,
    HOST_CONTROLLER_FAN=   ,

    CHAMBER_TEMPERATURE= ,
    ELECTRICAL_CABINET_TEMPERATURE= ,

    LIGHT_OUTPUT=    ,
    LIGHT_NEOPIXEL=  ,
    STATUS_NEOPIXEL= ,

    SERVO_PIN= ,
