# White lights using 24V (example: white fcob)
[gcode_macro _USER_VARIABLES]
variable_light_enabled: True
variable_light_pin_name: "light"
gcode:


[output_pin light]
pin: z:LIGHT_OUPUT
pwm: true
value: 0
scale: 100
cycle_time: 0.010
