# Neopixel caselight
[gcode_macro _USER_VARIABLES]
variable_light_enabled: True
variable_light_pin_name: "caselight"
# coma separated values for Max R,G,B,W output (float value between 0 and 1.0)
variable_maxRGBW: [1,1,1,1]
gcode:

# Also include directly the white lights control macros from here
[include ../../../../macros/addons/hardware_functions/caselights_neopixel.cfg]


# For more info https://www.klipper3d.org/Config_Reference.html?h=led#neopixel
[neopixel caselight]
pin: LIGHT_NEOPIXEL

# The number of neopixels, and color order
chain_count: 30
color_order: GRBW

initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0
