[gcode_macro END_PRINT]
description: Stop the print and filter the atmosphere for 10min before shuting down
gcode:
    {% set disable_motors_in_end_print = printer["gcode_macro _USER_VARIABLES"].disable_motors_in_end_print %}
    {% set light_intensity_end_print = printer["gcode_macro _USER_VARIABLES"].light_intensity_end_print %}

    PARK
    _TIP_SHAPING
    G1 E-10 F2100
    
    TURN_OFF_HEATERS
    M107
    M400
    BED_MESH_CLEAR
    {% if disable_motors_in_end_print %}
        M84
    {% endif %}	


    # If a filter is connected, filter the air at full power
    # for a couple of min before stopping everything
    {% set FILTER_TIME = params.FILTER_TIME|default(10)|int %}
    START_FILTER SPEED=1
    UPDATE_DELAYED_GCODE ID=_STOP_FILTER_DELAYED DURATION={FILTER_TIME}

    LIGHT_ON S={light_intensity_end_print}
    STATUS_OFF
