[gcode_macro END_PRINT]
description: Stop the print and filter the atmosphere for 10min before shuting down
gcode:
    {% set FILTER_TIME = params.FILTER_TIME|default(10)|int %}

    M400
    TIP_SHAPING
    PARK E=10
    TURN_OFF_HEATERS
    M107
    BED_MESH_CLEAR
    M84

    # Filter the air at full power for 10min before stopping everything
    SET_FAN_SPEED FAN=filter SPEED=1
    UPDATE_DELAYED_GCODE ID=_STOP_FILTER DURATION={FILTER_TIME}

    LIGHT_OFF

[delayed_gcode _STOP_FILTER]
gcode:
    SET_FAN_SPEED FAN=filter SPEED=0
