# Homing Override for dockable probe
[homing_override]
axes: xyz
gcode:
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}
    {% set probe_type_enabled = printer["gcode_macro _USER_VARIABLES"].probe_type_enabled %}
    {% set homing_zhop = printer["gcode_macro _USER_VARIABLES"].homing_zhop|float %}
    {% set homing_travel_speed = printer["gcode_macro _USER_VARIABLES"].homing_travel_speed * 60 %}
    {% set homing_travel_accel = printer["gcode_macro _USER_VARIABLES"].homing_travel_accel %}
    {% set sensorless_homing_enabled = printer["gcode_macro _USER_VARIABLES"].sensorless_homing_enabled %}
    {% set sensorless_current_factor = printer["gcode_macro _USER_VARIABLES"].sensorless_current_factor / 100 %}
    {% set z_drop_speed = printer["gcode_macro _USER_VARIABLES"].z_drop_speed * 60 %}
    {% set status_leds_enabled = printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
    {% set bed_mesh_enabled = printer["gcode_macro _USER_VARIABLES"].bed_mesh_enabled %}

    {% set homing_first = printer["gcode_macro _USER_VARIABLES"].homing_first %}
    {% set x_homing_backoff, y_homing_backoff = printer["gcode_macro _USER_VARIABLES"].homing_backoff_distance_xy|map('float') %}

    {% set x_position_endstop = printer["configfile"].config["stepper_x"]["position_endstop"]|float %}
    {% set y_position_endstop = printer["configfile"].config["stepper_y"]["position_endstop"]|float %}
    {% set x_position_center = printer.toolhead.axis_maximum.x|int/2 - printer.toolhead.axis_minimum.x|int/2 %}
    {% set y_position_center = printer.toolhead.axis_maximum.y|int/2 - printer.toolhead.axis_minimum.y|int/2 %}


    {% if probe_type_enabled == "dockable" %}
        _CHECK_PROBE action=query
    {% endif %}

    # reset parameters
    {% set X, Y, Z = False, False, False %}
    
    {% if status_leds_enabled %}
        STATUS_LEDS COLOR="HOMING"
    {% endif %}
    
    # which axes have been requested for homing
    {% if not 'X' in params
        and not 'Y' in params
        and not 'Z' in params %}

        {% set X, Y, Z = True, True, True %}

    {% else %}
        {% if 'X' in params %}
            {% set X = True %}
        {% endif %}

        {% if 'Y' in params %}
            {% set Y = True %}
        {% endif %}

        {% if 'Z' in params %}
            {% set Z = True %}
        {% endif %}

        {% if 'X' in params
          and 'Y' in params
          and 'Z' in params %}
            # reset homing state variables
            # if homing all axes
            _HOMING_VARIABLES reset=1
         {% endif %}

    {% endif %}

    {% if probe_type_enabled == "dockable" %}
       _ENTRY_POINT FUNCTION=homing_override
    {% endif %}

    # Set the homing acceleration prior to any movement
    {% set saved_accel = printer.toolhead.max_accel %}
    {% set saved_decel = printer.toolhead.max_accel_to_decel %}
    M204 S{homing_travel_accel}

    {% if bed_mesh_enabled %}
        BED_MESH_CLEAR
    {% endif %}

    G90

    {% if Z %}
        {% if ('z' in printer.toolhead.homed_axes) %}
            {% if (printer.toolhead.position.z < homing_zhop) %}
                {% if verbose %}
                    { action_respond_info("Z too low, performing ZHOP") }
                {% endif %}
                G0 Z{homing_zhop} F{z_drop_speed}
            {% endif %}
        {% else %}
            {% if verbose %}
                { action_respond_info("Z not homed, forcing full G28") }
            {% endif %}
            SET_KINEMATIC_POSITION X=0 Y=0 Z=0
            G0 Z{homing_zhop} F{z_drop_speed}
            {% set X, Y, Z = True, True, True %}
        {% endif %}
    {% endif %}


    {% if homing_first == "X" %}
        {% if X %} # Home x
            {% if verbose %}
                { action_respond_info("Homing X") }
            {% endif %}
            {% if sensorless_homing_enabled %}
                {% set old_current_x = printer.configfile.config['tmc2209 stepper_x'].run_current|float %}
                {% set old_current_y = printer.configfile.config['tmc2209 stepper_y'].run_current|float %}
                {% set new_current_x = sensorless_current_factor * old_current_x %}
                {% set new_current_y = sensorless_current_factor * old_current_y %}
                SET_TMC_CURRENT STEPPER=stepper_x CURRENT={new_current_x}
                SET_TMC_CURRENT STEPPER=stepper_y CURRENT={new_current_y}
            {% endif %}
            G28 X0
            G1 X{x_position_endstop + x_homing_backoff} F{homing_travel_speed}
            {% if sensorless_homing_enabled %}
                G4 P1000
                SET_TMC_CURRENT STEPPER=stepper_x CURRENT={old_current_x}
                SET_TMC_CURRENT STEPPER=stepper_y CURRENT={old_current_y}
            {% endif %}
        {% endif %}
        {% if Y %} # Home y
            {% if verbose %}
                { action_respond_info("Homing Y") }
            {% endif %}
            {% if sensorless_homing_enabled %}
                {% set old_current_x = printer.configfile.config['tmc2209 stepper_x'].run_current|float %}
                {% set old_current_y = printer.configfile.config['tmc2209 stepper_y'].run_current|float %}
                {% set new_current_x = sensorless_current_factor * old_current_x %}
                {% set new_current_y = sensorless_current_factor * old_current_y %}
                SET_TMC_CURRENT STEPPER=stepper_x CURRENT={new_current_x}
                SET_TMC_CURRENT STEPPER=stepper_y CURRENT={new_current_y}
            {% endif %}
            G28 Y0
            G1 Y{y_position_endstop + y_homing_backoff} F{homing_travel_speed}
            {% if sensorless_homing_enabled %}
                G4 P1000
                SET_TMC_CURRENT STEPPER=stepper_x CURRENT={old_current_x}
                SET_TMC_CURRENT STEPPER=stepper_y CURRENT={old_current_y}
            {% endif %}
        {% endif %}
    
    {% elif homing_first == "Y" %}
        {% if Y %} # Home y
            {% if verbose %}
                { action_respond_info("Homing Y") }
            {% endif %}
            {% if sensorless_homing_enabled %}
                {% set old_current_x = printer.configfile.config['tmc2209 stepper_x'].run_current|float %}
                {% set old_current_y = printer.configfile.config['tmc2209 stepper_y'].run_current|float %}
                {% set new_current_x = sensorless_current_factor * old_current_x %}
                {% set new_current_y = sensorless_current_factor * old_current_y %}
                SET_TMC_CURRENT STEPPER=stepper_x CURRENT={new_current_x}
                SET_TMC_CURRENT STEPPER=stepper_y CURRENT={new_current_y}
            {% endif %}
            G28 Y0
            G1 Y{y_position_endstop + y_homing_backoff} F{homing_travel_speed}
            {% if sensorless_homing_enabled %}
                G4 P1000
                SET_TMC_CURRENT STEPPER=stepper_x CURRENT={old_current_x}
                SET_TMC_CURRENT STEPPER=stepper_y CURRENT={old_current_y}
            {% endif %}
        {% endif %}
        {% if X %} # Home x
            {% if verbose %}
                { action_respond_info("Homing X") }
            {% endif %}
            {% if sensorless_homing_enabled %}
                {% set old_current_x = printer.configfile.config['tmc2209 stepper_x'].run_current|float %}
                {% set old_current_y = printer.configfile.config['tmc2209 stepper_y'].run_current|float %}
                {% set new_current_x = sensorless_current_factor * old_current_x %}
                {% set new_current_y = sensorless_current_factor * old_current_y %}
                SET_TMC_CURRENT STEPPER=stepper_x CURRENT={new_current_x}
                SET_TMC_CURRENT STEPPER=stepper_y CURRENT={new_current_y}
            {% endif %}
            G28 X0
            G1 X{x_position_endstop + x_homing_backoff} F{homing_travel_speed}
            {% if sensorless_homing_enabled %}
                G4 P1000
                SET_TMC_CURRENT STEPPER=stepper_x CURRENT={old_current_x}
                SET_TMC_CURRENT STEPPER=stepper_y CURRENT={old_current_y}
            {% endif %}
        {% endif %}

    {% else %}
        { action_respond_error("Axis homing order not valid. Choose either X or Y first in the variables.cfg file!") }
    {% endif %}


    # Home z
    {% if Z %}
        {% if verbose %}
            { action_respond_info("Homing Z") }
        {% endif %}

        # If there is a virtual probe endstop, go to the bed center
        {% if printer["configfile"].config["stepper_z"]["endstop_pin"]|lower == "probe:z_virtual_endstop" %}
            G0 X{x_position_center} Y{y_position_center} F{homing_travel_speed}

        # Else, go to the Z endstop physical pin
        {% else %}
            _GOTO_Z_PROBE
        {% endif %}

        # Specific check in case of a Voron TAP probe to avoid probing the bed at high temperature
        {% if probe_type_enabled == "vorontap" %}
            ACTIVATE_PROBE
        {% endif %}
        G28 Z0
        {% if probe_type_enabled == "vorontap" %} # And restore the original temperature
            DEACTIVATE_PROBE
        {% endif %}

        G0 Z{homing_zhop} F{z_drop_speed}
    {% endif %}

    {% if probe_type_enabled == "dockable" %}
        _CHECK_PROBE action=query
    {% endif %}

    # Reset acceleration values to what it was before
    SET_VELOCITY_LIMIT ACCEL={saved_accel} ACCEL_TO_DECEL={saved_decel}

    {% if probe_type_enabled == "dockable" %}
        _EXIT_POINT FUNCTION=homing_override
    {% endif %}

    {% if status_leds_enabled %}
        STATUS_LEDS COLOR="READY"
    {% endif %}


[gcode_macro _GOTO_Z_PROBE]
description: Move to z probe avoiding the probe dock
gcode:
    # If the auto z calibration plugin is enabled, then we use the z endstop coordinates set in its config section [z_calibration]
    # Else we fall back on the variable_zendstop_position set in the variables.cfg file
    {% set zcalib_plugin_enabled = printer["gcode_macro _USER_VARIABLES"].zcalib_plugin_enabled %}
    {% if zcalib_plugin_enabled %}
        {% set z_endstop_x, z_endstop_y = printer["configfile"].config["z_calibration"]["nozzle_xy_position"].split(',')|map('trim')|map('float') %}
    {% else %}
        {% set z_endstop_x, z_endstop_y = printer["gcode_macro _USER_VARIABLES"].zendstop_position|map('float') %}
    {% endif %}

    {% set homing_travel_speed = printer["gcode_macro _USER_VARIABLES"].homing_travel_speed|float * 60 %}

    {% set probe_dock_location_x, probe_dock_location_y = printer["gcode_macro _USER_VARIABLES"].probe_dock_location_xy|map('float') %}
    {% set probe_dock_margin_x, probe_dock_margin_y = printer["gcode_macro _USER_VARIABLES"].probe_dock_margin_xy|map('float') %}

    {% set current_x = printer.toolhead.position.x|float %}
    {% set current_y = printer.toolhead.position.y|float %}

    SAVE_GCODE_STATE NAME=goto_ZProbe
    G90

    # check if toolhead have to avoid the dock
    {% set avoid_dock = false %}
    {% if probe_dock_location_x < z_endstop_x|float %}
        #dock on left
        #toolhead on right of dock ?
        {% if current_x < (probe_dock_location_x + probe_dock_margin_x) %}
            {% set avoid_dock = true %}
        {% endif %} 
    {% else %}
        #dock on right
        #toolhead on left of dock ?
        {% if current_x > (probe_dock_location_x - probe_dock_margin_x) %}
            {% set avoid_dock = true %}
        {% endif %} 
    {% endif %} 


    {% if avoid_dock == true  %}
        # avoid Y
        G0 Y{probe_dock_location_y - probe_dock_margin_y} F{homing_travel_speed}
        #go z endstop X
        G0 X{z_endstop_x} F{homing_travel_speed}
    {% endif %} 

    G0 X{z_endstop_x} Y{z_endstop_y} F{homing_travel_speed}

    RESTORE_GCODE_STATE NAME=goto_ZProbe
