# Only for Beacon REV H model, REV D does not have a build in accelerometer 
# You need to include beacon_virtual.cfg and set the correct serial in your overrides for this to work
# Accelerometer pins etc are all handeled internally by the Beacon Klipper plugin.
[resonance_tester]
accel_chip: beacon
probe_points:
    -1,-1,-1


# Include the IS calibration macros to unlock them when
# an accelerometer is installed on the machine
[include ../../../macros/helpers/resonance_override.cfg]
[include ../../../scripts/K-ShakeTune/K-SnT_*.cfg]
