[include generics/adxl345_hardware_spi1.cfg]

# You need to include the section for the cartographer in your printer.cfg and include cartographer_virtual.cfg
# and set the correct serial for this to work.
[adxl345]
cs_pin: scanner:PA3
