# This LIS2DW file is dedicated to be used with the built-in accelerometer
# on BTT EBB36 GEN2 and EBB42 GEN2 boards.

[lis2dw]
cs_pin: toolhead:LIS2DW_CS
spi_bus: spi2_PB2_PB11_PB10
axes_map: x,y,z

[resonance_tester]
accel_chip: lis2dw
probe_points:
    -1,-1,-1


# Include the IS calibration macros to unlock them when
# an accelerometer is installed on the machine
[include ../../../macros/helpers/resonance_override.cfg]
[include ../../../scripts/K-ShakeTune/K-SnT_*.cfg]
