# This LIS2DW file is dedicated to the built-in accelerometer
# on Orbitool O2 and Orbitool SO3 boards.

[lis2dw]
cs_pin: toolhead:LIS2DW
spi_bus: spi1
axes_map: y,z,x

[resonance_tester]
accel_chip: lis2dw
probe_points:
    -1,-1,-1


# Include the IS calibration macros to unlock them when
# an accelerometer is installed on the machine
[include ../../../macros/helpers/resonance_override.cfg]
[include ../../../scripts/K-ShakeTune/K-SnT_*.cfg]
