
#----------------------------------------#
#### BTT SKR Pico v1.0 mmu definition ########
#----------------------------------------#

[include config/mcu_definitions/mmu/BTT_SKR_Pico_v1.0.cfg] # Do not remove this line
[board_pins mmu_mcu]
mcu: mmu
aliases:
    MMU_GEAR_STEP=MCU_Y_STEP  , MMU_GEAR_DIR=MCU_Y_DIR  , MMU_GEAR_ENABLE=MCU_Y_EN  , MMU_GEAR_UART=MCU_TMCUART  ,
    MMU_SEL_STEP=MCU_X_STEP   , MMU_SEL_DIR=MCU_X_DIR   , MMU_SEL_ENABLE=MCU_X_EN   , MMU_SEL_UART=MCU_TMCUART   ,

    MMU_GEAR_ENDSTOP=MCU_Z-STOP , MMU_SEL_ENDSTOP=MCU_Y-STOP ,

    MMU_SERVO=MCU_SERVOS            ,
    MMU_ENCODER=MCU_X-STOP          ,
    MMU_NEOPIXEL=MCU_RGB            ,
    MMU_GATE_SENSOR=MCU_E0-STOP     ,

    EXTRA_PINS1=MCU_UART0_TX  , EXTRA_PINS2=MCU_UART0_RX  ,
    EXTRA_PINS3=MCU_SPI0_SCK  , EXTRA_PINS4=MCU_SPI0_MISO ,
    EXTRA_PINS5=MCU_SPI0_MOSI , EXTRA_PINS6=MCU_SPI0_CS   ,
    EXTRA_PINS7=MCU_I2C1_SDA  , EXTRA_PINS8=MCU_I2C1_SCL  ,
    EXTRA_PINS9=MCU_ADC0      , EXTRA_PINS10=MCU_ADC1     ,
    EXTRA_PINS11=MCU_ADC2     , EXTRA_PINS12=MCU_ADC3     ,
    EXTRA_PINS13=<GND>        , EXTRA_PINS14=<5V>         ,

