
#-----------------------------------------------#
#### BTT MMB CAN board MCU definition ###########
#-----------------------------------------------#

[mcu mmu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id
##--------------------------------------------------------------------

# If you want to override the wiring of the BTT MMB CAN board, keep in mind that this
# board is defined using the "mmu" name. So you should use "pin: mmu:PIN_NAME"
# in your own overrides.cfg files.

[include config/mcu_definitions/mmu/BTT_MMB_CAN_v1.0.cfg] # Do not remove this line
[board_pins mmu_mcu]
mcu: mmu
aliases:
    MMU_GEAR_STEP=MCU_M1_STEP  , MMU_GEAR_DIR=MCU_M1_DIR  , MMU_GEAR_ENABLE=MCU_M1_EN  , MMU_GEAR_UART=MCU_M1_UART  ,
    MMU_GEAR_DIAG=MCU_M1_DIAG  , # Shared with MCU_STP1 !!!
    MMU_SEL_STEP=MCU_M2_STEP   , MMU_SEL_DIR=MCU_M2_DIR   , MMU_SEL_ENABLE=MCU_M2_EN   , MMU_SEL_UART=MCU_M2_UART   ,
    MMU_SEL_DIAG=MCU_M2_DIAG   , # Shared with MCU_STP2 !!!

    MMU_SEL_ENDSTOP=MCU_STP4 ,

    MMU_SERVO=MCU_STP5       ,
    MMU_ENCODER=MCU_STP6     ,
    TOOLHEAD_SENSOR=MCU_STP7 ,

    SPI_SCLK=MCU_SCK , SPI_MOSI=MCU_MOSI , SPI_MISO=MCU_MISO ,

    ## I2C header
    I2C_SDA=MCU_I2C_SDA  , I2C_SCL=MCU_I2C_SCL  , I2C_GND=<GND>  , I2C_5V=<5V>  ,

    ## SWD header
    SWD_Reset=<RST> , SWD_PA14=MCU_SWD_PA14 , SWD_GND=<GND> , SWD_PA13=MCU_SWD_PA13 , SWD_3.3V=<3.3V> ,

