
#---------------------------------------------#
#### Fysetc ERCF ERB MCU definition ###########
#---------------------------------------------#

[mcu mmu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id
##--------------------------------------------------------------------

# If you want to override the wiring of the Fysetc ERCF ERB board, keep in mind that this
# board is defined using the "mmu" name. So you should use "pin: mmu:PIN_NAME"
# in your own overrides.cfg files.

[include config/mcu_definitions/mmu/Fysetc_ERCF_ERB.cfg] # Do not remove this line
[board_pins mmu_mcu]
mcu: mmu
aliases:
    MMU_GEAR_STEP=MCU_GEAR_MOTOR_STEP    , MMU_GEAR_DIR=MCU_GEAR_MOTOR_DIR    , MMU_GEAR_ENABLE=MCU_GEAR_MOTOR_EN    , MMU_GEAR_UART=MCU_GEAR_MOTOR_UART    ,
    MMU_GEAR_DIAG=MCU_GEAR_MOTOR_DIAG    ,
    MMU_SEL_STEP=MCU_SELECTOR_MOTOR_STEP , MMU_SEL_DIR=MCU_SELECTOR_MOTOR_DIR , MMU_SEL_ENABLE=MCU_SELECTOR_MOTOR_EN , MMU_SEL_UART=MCU_SELECTOR_MOTOR_UART ,
    MMU_SEL_DIAG=MCU_SELECTOR_MOTOR_DIAG ,

    MMU_SEL_ENDSTOP=MCU_ENDSTOP     ,
    MMU_SERVO=MCU_SERVO             ,
    MMU_ENCODER=MCU_ENCODER         ,
    MMU_GATE_SENSOR=MCU_HALL_SENSOR ,
    MMU_NEOPIXEL=MCU_RGB            ,

    MMU_PRE_GATE_0=MCU_0   , MMU_PRE_GATE_1=MCU_1   ,
    MMU_PRE_GATE_2=MCU_2   , MMU_PRE_GATE_3=MCU_3   ,
    MMU_PRE_GATE_4=MCU_4   , MMU_PRE_GATE_5=MCU_5   ,
    MMU_PRE_GATE_6=MMCU_6  , MMU_PRE_GATE_7=MCU_7   ,
    MMU_PRE_GATE_8=MCU_26  , MMU_PRE_GATE_9=MCU_27  ,
    MMU_PRE_GATE_10=MCU_28 , MMU_PRE_GATE_11=MCU_29 ,

