
#---------------------------------------------#
#### Fysetc ERCF ERB MCU definition ###########
#---------------------------------------------#

[mcu mmu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
##--------------------------------------------------------------------

# If you want to override the wiring of the Fystec ERCF ERB, keep in mind that this
# board is defined using the "mmu" name. So you should use "pin: mmu:PIN_NAME"
# in your own overrides.cfg files.

[include config/mcu_definitions/mmu/Fysetc_ERCF_ERB.cfg] # Do not remove this line
[board_pins mmu_mcu]
mcu: mmu
aliases:
    MMU_GEAR_STEP=MCU_GEAR_MOTOR_STEP    , MMU_GEAR_DIR=MCU_GEAR_MOTOR_DIR    , MMU_GEAR_ENABLE=MCU_GEAR_MOTOR_EN    , MMU_GEAR_UART=MCU_GEAR_MOTOR_UART    ,
    MMU_SEL_STEP=MCU_SELECTOR_MOTOR_STEP , MMU_SEL_DIR=MCU_SELECTOR_MOTOR_DIR , MMU_SEL_ENABLE=MCU_SELECTOR_MOTOR_EN , MMU_SEL_UART=MCU_SELECTOR_MOTOR_UART ,
    MMU_SEL_DIAG=MCU_SELECTOR_MOTOR_DIAG ,

    MMU_GEAR_ENDSTOP=MCU_ENDSTOP , MMU_SEL_ENDSTOP=MCU_ENDSTOP ,

    TOOLHEAD_SENSOR=MCU_HALL_SENSOR ,
    MMU_SERVO=MCU_SERVO             ,
    MMU_ENCODER=MCU_ENCODER         ,
    MMU_NEOPIXEL=MCU_RGB            ,

    EXTRA_PINS1=MCU_UART0_TX  , EXTRA_PINS2=MCU_UART0_RX  ,
    EXTRA_PINS3=MCU_SPI0_SCK  , EXTRA_PINS4=MCU_SPI0_MISO ,
    EXTRA_PINS5=MCU_SPI0_MOSI , EXTRA_PINS6=MCU_SPI0_CS   ,
    EXTRA_PINS7=MCU_I2C1_SDA  , EXTRA_PINS8=MCU_I2C1_SCL  ,
    EXTRA_PINS9=MCU_ADC0      , EXTRA_PINS10=MCU_ADC1     ,
    EXTRA_PINS11=MCU_ADC2     , EXTRA_PINS12=MCU_ADC3     ,
    EXTRA_PINS13=<GND>        , EXTRA_PINS14=<5V>         ,

