
#--------------------------------------------------#
#### Tircown ERCF easybrd MCU definition ###########
#--------------------------------------------------#

[mcu mmu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
##--------------------------------------------------------------------

# If you want to override the wiring of the ERCF easy brd, keep in mind that this
# board is defined using the "mmu" name. So you should use "pin: mmu:PIN_NAME"
# in your own overrides.cfg files.

[include config/mcu_definitions/mmu/Tircown_ERCF_easy_brd.cfg] # Do not remove this line
[board_pins mmu_mcu]
mcu: mmu
aliases:
    MMU_GEAR_STEP=MCU_GEAR_STEP    , MMU_GEAR_DIR=MCU_GEAR_DIR    , MMU_GEAR_ENABLE=MCU_GEAR_ENABLE    , MMU_GEAR_UART=MCU_TMCUART      ,
    MMU_SEL_STEP=MCU_SELECTOR_STEP , MMU_SEL_DIR=MCU_SELECTOR_DIR , MMU_SEL_ENABLE=MCU_SELECTOR_ENABLE , MMU_SEL_UART=MCU_SELECTOR_UART ,
    MMU_SEL_DIAG=MCU_SELECTOR_DIAG ,

    MMU_GEAR_ENDSTOP=MCU_GEAR_STOP , MMU_SEL_ENDSTOP=MCU_SELECTOR_STOP ,

    MMU_SERVO=MCU_SERVO ,

    MMU_ENCODER=MCU_ENCODER ,

