[stepper_x]
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200

[tmc2209 stepper_x]
interpolate: False
run_current: 0.7
sense_resistor: 0.110
# stealthchop_threshold: 999999
driver_TBL: 2
driver_TOFF: 2
driver_HEND: 1
driver_HSTRT: 4
driver_PWM_LIM: 8 
driver_PWM_GRAD: 8
driver_PWM_FREQ: 1
driver_PWM_REG: 4

[stepper_y]
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200

[tmc2209 stepper_y]
interpolate: False
run_current: 0.7
sense_resistor: 0.110
# stealthchop_threshold: 999999
driver_TBL: 2
driver_TOFF: 2
driver_HEND: 1
driver_HSTRT: 4
driver_PWM_LIM: 8 
driver_PWM_GRAD: 8
driver_PWM_FREQ: 1
driver_PWM_REG: 4


# We also include the default wiring and speeds from here to avoid duplicating
[include default_wiring.cfg]
[include default_speed.cfg]
