#--------------------------------------------------#
#### Cartographer3D V4 MCU definition ################
#--------------------------------------------------#
[mcu scanner]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id
restart_method: command # Not needed for probes using CAN.
##--------------------------------------------------------------------

[include config/mcu_definitions/scanner/Cartographer3D_V4.cfg] # Do not remove this line
[board_pins cartographer_mcu]
mcu: scanner
aliases:
    ADXL_CS=MCU_ADXL ,

